[2016-12-19 22:45] tomscholz commented on #3905
https://github.com/Dogfalo/materialize/issues/2217#issuecomment-268100489

[2016-12-19 22:47] rgreer4 commented on #2582
It's working fine for me in v0.97.8.   Are you doing this?

`<ul class="browser-default">
    <li>test</li>
    <li>test</li>
    <ul class="browser-default">
        <li>test</li>
    </ul>
</ul>`

That is without any other css -- should look like a normal list.

[2016-12-20 00:38] Boournz opened #4015 "length attribute on text inputs for character counter"
Hi Team,

the character counter on text inputs requires the length attribute be set. Using the zend framework 3 in php, the length attribute is considered non-standard on a text input, and is therefore filtered out. The zend framework does allow custom attributes starting with data-*, so our solution has been to modify the Materialize js to look for the data-length attribute. Any chance this could

[2016-12-20 05:49] Toomavic commented on #3951
Okey , That's good explanation :)

Do you know how can I fix it in code ?

[2016-12-20 06:04] bradgillap commented on #3994
https://github.com/bradgillap/websites/blob/master/bradgillap-v2/src/index.html

I'm not sure if that will work. I'll come up with a better demo hopefully by the weekend for you. Just really busy with the holidays right now.

[2016-12-20 07:02] greeninho opened #4016 "Unable to access file field in materializecss framework"
I just started playing around with materializecss framework. After going through the form page. I decided to try a simple example shown below:

    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1,     maximum-scale=1.0, user-scalable=no"/>
      <link

[2016-12-20 07:12] wackychocolatefactory commented on #4015
+1

`length` is not a valid attribute for the input element as per [w3 docs](https://www.w3.org/TR/html5/forms.html#the-input-element).

_HTML5 Range_ also uses invalid attributes min and max.

[2016-12-20 07:17] wackychocolatefactory commented on #4016
You need to include the jQuery file before `$(document).ready(function() {});`

[2016-12-20 07:41] greeninho commented on #4016
thanks wackychocolatefactory,that solves the problem

[2016-12-20 07:41] greeninho commented on #4016
thanks wackychocolatefactory,that solves the problem

[2016-12-20 07:41] greeninho commented on #4016
thanks wackychocolatefactory,that solves the problem

[2016-12-20 09:57] cope commented on #4014
Yes, I am using Iron:router.
If removing materialize removes the problem, and changing materialize from latest v0.97.8 to v0.97.7 completely fixes it, then IMO materialize v0.97.8 is to blame, no?

[2016-12-20 10:06] tomscholz commented on #4014
Do you have a route called `welcome` ?

[2016-12-20 10:20] cope commented on #4014
Yes. The route is there, it is the first one I created, the welcome start page...

It all worked fine until materialize v0.97.8 was picked up.
The code did not change before that.
The code did not change before I reverted back to v0.97.7.
The code is the same as it was several months ago when I last worked on it and deployed it to production...

[2016-12-20 11:53] Anthall opened #4017 "Remove horizontal Scrollbar and stack tabs"
Is there a way to remove the automatic horizontal scroll bar I'm getting with my menu and replace it with the tabs stacking underneath instead.  I've re-created the issue here...

http://codepen.io/Hornetant/pen/zobrvG

Thanks
Anthony

[2016-12-20 12:10] smeijer commented on #4017
Like this?

[code]

[2016-12-20 12:35] Anthall commented on #4017
That's done it.

Great,
Thanks

[2016-12-20 12:35] #4017 closed

[2016-12-20 13:10] mbd-s opened #4018 "Time select breaks into two lines"
### Description
I'm using Materialize with Rails and having trouble getting time select to appear on a single line. A similar issue was already [closed](https://github.com/Dogfalo/materialize/issues/3217), but using the grid system, as suggested there, hasn't solved the problem for me.

### Code
[code]

### Screenshot
![screenshot 2016-12-20 14 06 50](https://cloud.githubusercontent.com/assets/135

[2016-12-20 19:38] wackychocolatefactory commented on #4018
What is the resulting HTML?

[2016-12-20 20:12] mbd-s commented on #4018
[code]

[2016-12-20 22:19] #4016 closed

[2016-12-20 22:20] BabyDead opened #4019 "retina.js breaks materialize.js"
Ok, so after HOURS of stressing out, I found out that my update to retina.js is what broke materialize.js!

Combining the 2 javascripts above, results in materialize.js stating:

So, uhm... I have 0 clue why, but I thought it should be noted. I think more scripts could make this happen?

[2016-12-20 23:01] wackychocolatefactory commented on #4018
It seems to be caused by `.prefix ~ .select-wrapper` having `display:block`.

Workaround

	.prefix ~ .select-wrapper {
		width: auto;
		display: inline-block;
	}

	.prefix ~ .select-wrapper:first-of-type {
		margin-right: 3rem;
	}

[2016-12-20 23:06] ReilySiegel commented on #3879
I have done nsomething like this for a recent project, I will submit a PR.

[2016-12-20 23:26] acburst commented on #2741
Fixed in bb5dd21

[2016-12-20 23:26] #2741 closed

[2016-12-20 23:26] acburst commented on #3607
Fixed in bb5dd21

[2016-12-20 23:26] #3607 closed

[2016-12-20 23:27] acburst commented on #3547
Added in 171a9ef.

You can now fix this problem by using the onOpen callback like this:

$('.collapsible').collapsible({
  onOpen: function(el) {
    var carousel = el.find('.carousel');
    if (carousel.length) {
      carousel.trigger('carouselNext', [0.000001]);
    }
  }
});

[2016-12-20 23:27] #3547 closed

[2016-12-21 00:40] #3995 closed

[2016-12-21 00:50] #3972 closed

[2016-12-21 00:50] #3976 closed

[2016-12-21 00:52] acburst commented on #4018
There is an `inline` class you can add to the `input-field` element.

Check [here](http://materializecss.com/forms.html)

[2016-12-21 00:52] #4018 closed

[2016-12-21 00:53] #3962 closed

[2016-12-21 00:57] #3825 closed

[2016-12-21 01:00] wackychocolatefactory commented on #4018
@acburst That doesn't resolve the issue. As I understand, the `input-field` element has been designed to accommodate a single input element only.

![input-field inline](https://cloud.githubusercontent.com/assets/20605661/21373698/00d6ecee-c775-11e6-83e3-d3a5500cc0dc.png)

[2016-12-21 01:04] acburst commented on #3993
I suggest reading up on the p tag. You can only have inline elements inside a p tag like `span`.

If you wrap it like this it will work:

[code]

[2016-12-21 01:04] #3993 closed

[2016-12-21 01:05] #3966 closed

[2016-12-21 02:55] victorperin commented on #877
@yanickrochon thanks for helping the discussion. Your points are really good and should be considered.

My point of view is mostly because not everyone uses jQuery on their projects. Remember: jQuery have much more features that Materialize doesn't use.

Also, now we have new frameworks like React, Angular, Vue, etc. Those guy's have advantages like virtual DOM, who could easly increase performanc

[2016-12-21 10:42] nevnein commented on #685
I had a similar issue where I needed to update the pushpin properties on window resize, and I solved it removing and reinitializing pushpin, don't know if it's the best way but works for me.

[code]

[2016-12-21 10:45] nevnein commented on #863
See my answer [here](https://github.com/Dogfalo/materialize/issues/685#issuecomment-268491843), hope it works.

[2016-12-21 12:49] pulkitpahwa commented on #1376
Is there any way I can use default checkbox ?

[2016-12-21 13:48] ReilySiegel commented on #3879
Is this what you are looking for?
http://codepen.io/ReilySiegel/details/RoddRN/

[2016-12-21 15:17] deborahvandervegt opened #4020 "Year in datepicker does not change"
### Description
Opening the datepicker and changing the day or month prior to changing the year will result in only changing the day or month. The year is the same as the one you previously picked.

### Repro Steps
1. Open the datepicker on http://materializecss.com/forms.html
2. Change the day to (for example) 5.
3. Change the year to (for example) 2008.
4. Close the datepicker.
5. In the textare

[2016-12-21 15:43] matthenning commented on #1943
Any news yet if I may ask?

[2016-12-21 17:30] Chez opened #4021 "Error using 'rtl' direction in the provided version of noUiSlider javascript."
### Description
Direction doesn't play with 'rtl' in the noUiSlider instantiation.

The error on safari 9.1.2 is Attempted to assign to readonly property. This occurs at line 554 in the nouislider.min.js in the following function:

[code]
The offending section, I think is `f[b].innerHTML = a[b]`
Works fine if you specify 'ltr'.

This is an issue with the materialize version of the nouislider js no

[2016-12-21 17:57] ndunks commented on #1244
I got some problem and its wasting my time to find the problem. I fix problem by replacing materialize.js from /bin/ folder! try and tell me if resolved.

[2016-12-21 18:16] chahat commented on #1848
Thanks for the code snippet, I used this and also added close icon to my search-form but close icon never shows up.. Any work arounds?

[2016-12-22 11:16] mirandadp commented on #3713
I've the same issue, to reproduce the error: goto input ('.select2-search__field') in select2, type any word, no include in lis, and then push arrow up.
 for example: go to examples page: https://select2.github.io/examples.html, and go to The basics\Single select boxes\ and turn it into this... ; open select2 Alaska, and type 'sjdlkjsdlkfjsdlkjfls' and then press keyup.

[2016-12-22 12:17] chintanbanugaria commented on #771
+1

[2016-12-22 12:27] kmmbvnr commented on #771
Bootstrap 4 recently drops IE9 support and preraring to use Flexbox only.

[2016-12-22 18:15] LGracia commented on #2187
Hi guys.
I have the same issue, my solution is this(I hope it's not too late):
- Add 'name' attribute for everyone elements within 'div' with class 'input-field' .
- Add class 'validate' to the first radio-button within the 'div' with class 'input-field', it's not necessary for all elements.
- Use the javascript file.

https://jsbin.com/jeyaset/edit?html,js,output

[2016-12-22 18:55] drricksanchez321 commented on #2591
Tabs are colored based on the Sass section:

[code]

Tabs are baked to the primary color, which in the non-Sass compiled version is 'red lighten-2', which is #ee6e73. You can either choose to alter the Sass to generate and support a secondary tab theme based on the secondary color (which makes sense to me but may go against Material Design specs), or apply overrides to the following, using variant

[2016-12-23 00:36] eladolo commented on #1676
The problem it´s that your are calling more than once the sideBar method.
You can fix it like this:

`$(".button-collapse").off("click").sideNav();`

The `.off("click")` will clean the events added for that element an will append the sidebar method only.

[2016-12-23 06:13] Toomavic opened #4023 "Issue with Checboxes"
I tried to implement check-boxes as described in docs, it was very easy
`<input type="checkbox" id="test6" checked="checked" />
      <label for="test6">Yellow</label>`
but here is the problem , I can't get the value of selected check-boxes !!

[2016-12-23 06:15] kmmbvnr commented on #4023
Any code snippet how you tried to do that?

btw, it's better to ask questions here - https://gitter.im/Dogfalo/materialize

[2016-12-23 06:25] Toomavic commented on #4023
Dude no code required

but this may explain more
http://codepen.io/anon/pen/NbmJev#anon-login

[2016-12-23 06:26] Toomavic commented on #4023
I tried using jQuery (as usual) like

`$("input[type='checkbox']").change(function() {});`
but failed

[2016-12-23 06:35] kmmbvnr commented on #4023
Use `$(this).is(':checked') `

http://stackoverflow.com/questions/4813219/testing-if-a-checkbox-is-checked-with-jquery

[2016-12-23 06:41] Toomavic commented on #4023
Dude Thanks alot
check this link as ref
http://codepen.io/anon/pen/NbmJev#anon-login

[2016-12-23 06:41] #4023 closed

[2016-12-23 16:08] TheColorRed opened #4024 "Remove row margin on the last row"
I think it would be nice if the last row element had no **bottom margin** on it. Currently there is about a 15px margin-bottom on all `.row` elements. This gives it even margins on the top of the first row, and bottom of the last row (see screenshots).

If this was added to rows:

[code]

it would display nicer, as the last row element looks out of place when not it is not used.

[code]

Here is w

[2016-12-23 22:54] Dogfalo commented on #3905
Both PR have been merged, will be closing this issue for now unless further issues pop up.

[2016-12-23 22:54] #3905 closed

[2016-12-23 22:55] Dogfalo commented on #4014
As @tomscholz said, this is a duplicate issue of #3905

[2016-12-23 22:55] #4014 closed

[2016-12-23 22:56] #4011 closed

[2016-12-23 22:57] Dogfalo commented on #3849
Fixed, see #3905 for more information

[2016-12-23 22:57] #3849 closed

[2016-12-23 22:57] Dogfalo commented on #3863
Fixed, see #3905 for more information

[2016-12-23 22:57] #3863 closed

[2016-12-23 22:59] Dogfalo commented on #3281
Fixed by #4000

[2016-12-23 22:59] #3281 closed

[2016-12-23 22:59] #3602 closed

[2016-12-23 23:00] #3604 closed

[2016-12-23 23:00] #2651 closed

[2016-12-23 23:00] Dogfalo commented on #2948
Deprecated issue, Sass has been added

[2016-12-23 23:00] #2948 closed

[2016-12-23 23:02] Dogfalo commented on #3413
Fixed by #4000

[2016-12-23 23:02] #3413 closed

[2016-12-23 23:03] Dogfalo commented on #3411
Fixed by #4000

[2016-12-23 23:03] #3411 closed

[2016-12-23 23:10] Dogfalo commented on #3963
Fixed in 53eaec4.

I removed the `will-change` as it sometimes causes weird issues like this. Also watch out for `transform: translate3d` which also can cause this issue.

[2016-12-23 23:10] #3963 closed

[2016-12-23 23:15] Dogfalo commented on #4013
The current behavior is intended and is common in other packages.

[2016-12-23 23:15] #4013 closed

[2016-12-23 23:20] Dogfalo commented on #3987
Please follow the instructions @tomscholz has suggested. We cannot fix this issue on GitHub.

[2016-12-23 23:20] #3987 closed

[2016-12-23 23:22] Dogfalo commented on #3945
Please use Stack Overflow or search existing issues for the solution. This is important especially for help with other 3rd party libraries, as we may not be familiar with every framework.

[2016-12-23 23:22] #3945 closed

[2016-12-23 23:23] Dogfalo commented on #4007
Please use Stack Overflow or search existing issues for the solution. This is important especially for help with other 3rd party libraries, as we may not be familiar with every framework.

[2016-12-23 23:23] #4007 closed

[2016-12-23 23:37] Dogfalo commented on #3888
I can sympathize with the HTML markup being too long, however we are already using CSS to animate it and using JS to animate it would be worse.

The SVG route might be a god fix for this. However the Codepen @Thanood provided seems to have an animation bug. If anyone is willing to take a look and can fix this, we can hopefully get a change in one of the next few versions.

[2016-12-24 00:13] acburst commented on #2481
Added some in 428d7fe

[2016-12-24 00:13] #2481 closed

[2016-12-24 00:19] rajatv1 opened #4025 "display block not working while using materializecss"
### Description
While I'm using materialize.css i can't dislay page in block in console /or in container
![screenshot 298](https://cloud.githubusercontent.com/assets/19367299/21464211/7df80c20-c99c-11e6-99e6-0d985f384a92.png)
![screenshot 297](https://cloud.githubusercontent.com/assets/19367299/21464210/7df1932c-c99c-11e6-8c4d-069635432602.png)

shows if i also write in it
as you can see in screen

[2016-12-24 03:05] #3598 closed

[2016-12-24 03:06] acburst commented on #2597
Fixed in 428d7fe

[2016-12-24 03:06] #2597 closed

[2016-12-24 03:07] #2140 closed

[2016-12-24 03:07] #1921 closed

[2016-12-24 03:07] acburst commented on #1384
This has been fixed

[2016-12-24 03:07] #1384 closed

[2016-12-24 03:08] acburst commented on #1986
This has been fixed

[2016-12-24 03:08] #1986 closed

[2016-12-24 05:37] st-clair-clarke opened #4026 "How to retrieve the value selected from a radio-button"
Hi,
I have the following:

[code]

[2016-12-24 09:14] favoyang opened #4027 "Waves effect triggered when user touches and drags the element on mobile screen to scroll the page"
### Description

Waves effect triggered when user drags the element on mobile screen to scroll the page. It's quite common when applying the wave effect to a card component, which may cover bigger area of mobile screen.

### Repro Steps

Open http://materializecss.com/cards.html on mobile device, nav to "Card Reveal" section and drag it to scroll.

[2016-12-24 14:27] lvandyk commented on #2711
Also had the same issue trying to dynamically add selects with a "+" button and letting jquery using a select tag as a template (which actually got material_selected() on body ready). What I had to do is move the template into a very long javascript string variable.

[2016-12-24 17:23] arpit1997 commented on #4025
I don't seem to understand your issue. Why do you want use container class if your page is fine without it, just use a main wrapper for whole page and apply your custom css to it.
Using container class should not be a problem  just override container class a tweak some properties and you will be fine wiht it.
Container class can have some down points so use it carefully.
:smile: :smile_cat: :smile

[2016-12-24 17:26] arpit1997 commented on #4024
Nice one @TheColorRed This seems to be really good idea.
Why don't you send a pull request. So everyone can have the benifit
:smile_cat: :smile_cat: :smile_cat:

[2016-12-24 21:08] Dogfalo commented on #4027
I believe this is standard material behavior. You can see it happen in the
Android system notifications panel
On Sat, Dec 24, 2016 at 4:14 AM Favo Yang <notifications@github.com> wrote:

[2016-12-24 22:52] phixMe commented on #3833
Does anybody know if there is something that I can call to refresh the position after the page is resized?

[2016-12-25 07:34] favoyang commented on #4027
New to material design, please correct me if I'm wrong.

On mobile screen when an user starts scrolling a page by dragging any place on the screen, the purpose is clearly to navigate more page content. But if the user presses on a button or a card, the wave effect been triggered, it looks like a mistake by the user. Because the UI try to tell the user something else happens accidentally. And even

[2016-12-25 08:09] anandrikka opened #4028 "lean-overlay class not getting added when modal is opened"
when clicked on button modal is getting opened but with no lean-overlay class and modal is also not getting closed when clicked outside

`<a className="btn waves-effect modal-trigger waves-light w100" data-target="movie-trailer">
                                Watch Trailer
                             <i className="fa fa-youtube-play left" aria-hidden="true"/>
                                </a

[2016-12-25 09:03] johnqiuwan commented on #3582
@jonasroessum, I agree with you and I am facing the same problem as you on my project.

[2016-12-25 09:24] iamrudra opened #4029 "Fixed and Extended Nav w/ Tabs + Fixed SideNav pushes the Header the to right"
### Description
When using fixed side nav, the other adjacent components needs to have `300 px` padding [per the documentation.](http://materializecss.com/side-nav.html#!). But this results in the header continuing over beyond the screen as follows (notice the missing right icon links)-
![screenshot from 2016-12-25 01-15-06](https://cloud.githubusercontent.com/assets/12117759/21470477/fa6c877e-ca3

[2016-12-25 12:58] monolithed commented on #2296
All css styles should be prefixed with a custom prefix.
A good solution and alternative is Ant Design. You should look at their [solution](https://github.com/ant-design/ant-design/blob/master/components/back-top/style/index.less#L5):

[code]

It is needed to exclude any conflicts when someone can redefine the standard prefix (for example, is actual for browser extensions). So, the prefix should be

[2016-12-25 15:56] Dogfalo commented on #4025
I'm not sure I entirely understand either, it is not really possible for us to break `display: block;` Please ask support questions on Stack Overflow instead. Or comment here if you think I have closed this in error

[2016-12-25 15:56] #4025 closed

[2016-12-25 17:17] Dogfalo commented on #4027
What is your preferred behavior? There isn't a way to know if someone is going to just tap or tap then drag to scroll.

[2016-12-25 17:31] MeMyselfI opened #4030 "Dropdown won't disappear after calling dropdown('open')"
If a default dropdown is opened programatically calling dropdown('open') it stays opened even after clicking an item because no event handler on $(document) is added here.

So, only thing you might do is to open the dropdown and add your own listener:
`
$('.card a.btn-floating').dropdown ('open');
setTimeout (function () {
 $(document).one ('click', function () {
  $('.card a.btn-floating').dropdo

[2016-12-25 17:33] MeMyselfI commented on #2016
Push.

[2016-12-25 17:50] iamrudra commented on #4029
When I remove the class `navbar-fixed` from the div that wraps the navbar, it works as expected

[2016-12-25 17:58] iamrudra commented on #4029
My primary investigation tells me it is because of [this piece of css](https://github.com/Dogfalo/materialize/blob/master/dist/css/materialize.css#L4194)

[2016-12-26 02:22] TheColorRed commented on #877
I have written a jquery like framework, and it is super minimal

jquery:
`$('.my-class').attr('data-my-info');`

Mine:
`$('.my-class').attr('data-my-info');`

There is no difference in usage, but it is faster and much more lightweight.

Here is the dom file:
https://github.com/TheColorRed/web-framework/blob/master/src/typescript/core/Dom.ts

[2016-12-26 06:57] ash32911 opened #4032 "Font color will not change in he navbar"
### Description
Add a detailed description of your issue.
black-text class does not change my font color no matter where i place it.

i have tried li, nav-wrapper , nav, ul...

### Repro Steps
Layout the steps to reproduce your issue.

"<nav>
    <div class="nav-wrapper black-text" >
        <ul id="main-nav" class="left hide-on-med-and-down">
            <li>This is a test div</li>
        </ul>

[2016-12-26 07:01] #4032 closed

[2016-12-26 07:47] ash32911 opened #4033 "black-text class does not work"
### Description
adding a black-text class to a navbar does not work. text remains white always.

I have attached a codepen with my issue.

am i doing something wrong ?

https://codepen.io/ash32911/pen/jVoREa

[2016-12-26 08:51] zweicoder commented on #1229
Adding the imports-loader to webpack did not help at all. After hours of debugging this worked:

[code]

and then I could just do `import 'materialize-css'`. The `resolve.alias` part is VERY important in letting materialize-css refer to the same `jquery` as @PeterHase pointed out

[2016-12-26 09:44] codeyash commented on #4033
Because its a helper to text color . You need to use directly on element. Like in this case use it on a tags
 or
author can comment better :)

[2016-12-26 10:57] ash32911 commented on #4033
@codeyash thanks for the reply. I did try it on the <li> tags and <ul> tags, it still did not work :(

[2016-12-26 11:26] favoyang commented on #4027
Move the wave effect to touchend event handler, then you can detect it's a tap or a drag (by recording the touch position in touchstart event first).

[2016-12-26 12:03] ash32911 commented on #4033
NVM it works if i give it to the < a  > tag. Thanks for the help

[2016-12-26 12:03] #4033 closed

[2016-12-26 13:59] arpit1997 commented on #4030
did you initilize jquery plugin of dropdown.

So, only thing you might do is to open the dropdown and add your own listener:
$('.card a.btn-floating').dropdown ('open'); setTimeout (function () { $(document).one ('click', function () { $('.card a.btn-floating').dropdown ('close'); }); },10);

[2016-12-26 14:03] arpit1997 commented on #3857
Why don't you use class `hide-on-large-only` in sidenav section instead of this
[code]

[2016-12-26 14:18] JSMontoya commented on #3951
No :C

[2016-12-26 14:20] NitroBAY commented on #2876
I didn't understand, until I come across here, that we can customize the color of toasts.

[2016-12-26 20:13] mehmetilker opened #4034 "Inserting html after page complate"
When I add bootstrap.css+materialize.css+materialize.js, everything works as expected.

But when I insert a button (as html) for example, after page complete, some features does not work.
data-tooltip for example.

I guess there should be a way to reinitialize materialize.js again.

Is there a way to do that ?

[2016-12-26 20:22] acburst commented on #4034
You can instead just reinitialize tooltips.

[code]

[2016-12-26 21:02] acburst commented on #4030
Fixed in 425cd4e

[2016-12-26 21:02] #4030 closed

[2016-12-26 21:38] mehmetilker commented on #4034
@acburst Yes it works.
But my problem something else I guess.
Maybe it is because I am using the library inside of an iframe on Chrome Extension.
When I call it as following;
`$("boxSelector")[0].contentWindow.$('.tooltipped').tooltip();`
It works in a page containing Iframe. But somehow not in chrome extension.

There should be another way calling script in of an Iframe.
Exception is: "Cannot rea

[2016-12-26 22:35] acburst commented on #4028
Duplicate of #3865

[2016-12-26 22:35] #4028 closed

[2016-12-27 06:58] MeMyselfI commented on #4030
Not sure why, but I replaced the new bin/.js file and now nothing happens calling dropdown('open').

[2016-12-27 08:21] pyrotechr opened #4035 "sideNav is jittery on close in mobile"
I have a properly functioning sideNav that works on small, medium, and large screens as intended.

The issue I have noticed is with sideNav slide-out in small screens. I have not tested this in medium screens (tablets) as of yet. When I slide the sidenav out by either pressing the button or sliding from the edge of the screen and then proceed to close (i.e. not clicking on the button or sliding ba

[2016-12-27 12:18] dra14825 opened #4036 "Links/Buttons in the collapsible Header"
Hello,
I tried to use a link and a Modal in the Header of a collapsible.
It works but when i click on the link or the modal-trigger the collapsible expands.

Is there a possibility to interrupt the collabsible Event so that it will not expand when i click on the link?
Or maybe that it only expands when i click on a specific button?

[2016-12-27 13:17] bibislayer opened #4037 "chip.select doesn't work ?"
### Description
Event chip.select doesn't working

### Screenshots / Codepen
http://codepen.io/anon/pen/mOZMQW?editors=1001

[2016-12-27 13:52] arpit1997 commented on #4037
There is a small mistake in your code @bibislayer change class `chips`  to `chip`
[code]
Follow the docs [here](http://materializecss.com/chips.html)

[2016-12-27 13:56] bibislayer commented on #4037
My code haven't mistake,
Retry http://codepen.io/anon/pen/mOZMQW?editors=1001
I juste remove the .chips-initial now it's a copy/past from http://materializecss.com/chips.html

[2016-12-27 14:02] Dogfalo commented on #4036
Try stop propagation
On Tue, Dec 27, 2016 at 7:18 AM Elias Dräxler <notifications@github.com>
wrote:

[2016-12-27 14:03] arpit1997 commented on #4037
@bibislayer The last code i have seen, there was a mistake. You did not initilize you tags like this one
[code]
So i fixed that mistake first.
No chip was showing before in the last code

[2016-12-27 14:05] bibislayer commented on #4037
i already correct this, just i don't use initial, but you could add a tag and remove this on the input at the top.

[2016-12-27 14:05] bibislayer commented on #4037
now Initial chips is added and chip.select event never work.

[2016-12-27 15:06] arpit1997 commented on #4035
I don't know the reason for this problem but [here](https://github.com/arpit1997/PQusic/blob/development3/mysite/MusicApp/templates/MusicApp/homepage1.html) on this [repo](http://github.com/arpit1997/pqusic) you can find an implementation which seems to be solving your problem.

The issue I have noticed is with sideNav slide-out in small screens. I have not tested this in medium screens (tablets)

[2016-12-27 18:38] pyrotechr commented on #4035
thanks for the help but I still couldn't get your fix to work for me.

[code]

I used that code from your repo and noticed the sidenav to still be jittery when i use `edge: 'left'` but when I use `edge: 'right'` the jitterness goes away and clicking away from the sidenav does not close the sidenav either

for reference i am using materialize 0.97.8

[2016-12-27 18:45] arpit1997 commented on #4035
versio does not seem to be a problem here. In my case i only tried only the right side sidenav.

The problem of sidenav not going away did not happened to me.
You can try in my application in the repo.
Can you provide any github link of your project?

[2016-12-27 20:52] acburst commented on #4037
This is indeed a bug, thanks for pointing this out.

Fixed in 84f204d

[2016-12-27 20:52] #4037 closed

[2016-12-27 20:57] acburst commented on #4030
Were you using the latest version before? you may have to fix some conflicts with the newest version

[2016-12-27 23:37] iamrudra commented on #4029
@acburst - Happy to discuss the fix and contribute with a PR.

[2016-12-28 04:03] rohan commented on #2380
Any progress on this?

[2016-12-28 04:19] pyrotechr commented on #4035
So the whole jitterness in the menu thing can be recreated on the main site as well @ http://materializecss.com/side-nav.html

I managed to get rid of the problem on my project by setting 2 of the options to false...
[code]
Now whenever i drag on an area outside the sideNav area to close it... there is no jitterness in scrolling.

[2016-12-28 04:19] pyrotechr commented on #4035
I should probably mark this as close but because the same issue exists on the main site as well.. maybe someone can take a look at it

[2016-12-28 08:23] #4034 closed

[2016-12-28 08:30] ivanjuras commented on #4035
I've noticed the same thing, too. It's on the main site as well.

[2016-12-28 09:26] Toomavic commented on #3951
I can close it now by Applying JSMontoya's solution

[2016-12-28 09:26] #3951 closed

[2016-12-28 09:26] Toomavic commented on #3951
Thanks a lot 👍

[2016-12-28 13:43] FabricioLugao commented on #2028
I think you should change your HTML markup:
https://jsfiddle.net/vnsb4udk/5/

[2016-12-28 15:22] alejogoez commented on #3845
Materialize was be updated, also you have update the new version of the official page and ready

[2016-12-28 15:28] alejogoez commented on #3862
Materialize was be updated, also you have update the new version of the official page and ready

[2016-12-28 18:53] spirit-infernal opened #4038 "jquery 3.1.1 and materialize css .97.7 parallax deferred exception"
### Description
logs from console:

`jQuery.Deferred exception: Cannot read property 'indexOf' of undefined TypeError: Cannot read property 'indexOf' of undefined
    at jQuery.fn.load (http://intellectfs/wp-content/themes/intellectfs/assets/js/jquery-3.1.1.js?ver=0.97.7:9793:12)
    at HTMLImageElement.<anonymous> (http://intellectfs/wp-content/themes/intellectfs/assets/js/materialize.js?ver=0.97

[2016-12-28 19:36] acburst commented on #4029
I'd be happy to look at a PR with some explanation and examples

[2016-12-29 08:48] developeranirudhprabhu commented on #4026
Can you check for "checked" value? Like in jQuery we have something similar too
$("#sampleRadio").is(":checked");

[2016-12-29 08:52] developeranirudhprabhu commented on #4026
Also can you tell what are you exactly trying to achieve?

[2016-12-29 09:25] developeranirudhprabhu commented on #3975
There is official thing for this requirement at present. Will add this and commit. For now you can add ":not(.browser-default)" to all the input types you wish to target at line 5700 in materialize.css. Present selector listed are

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=date

[2016-12-29 09:32] developeranirudhprabhu commented on #3907
@SandeepVattapparambil Can you share your code so that we can inspect this?

[2016-12-29 09:42] freddy-daniel opened #4039 "Tooltips not showing after pagination"
Hi ,
I'm using materializecss and knockout.js on my project. I have integrated a pagination with knockout js initial tooltips are showing but after paginating tooltips are not showing and models are not triggering.

[2016-12-29 09:44] developeranirudhprabhu commented on #3908
@rubenscd can you confirm if this worked? Else you can use JS in following manner

**_`var switchState = ($("input['name'='switch']").is(":checked"))? "ON" : "OFF"`_**

Let us know your response

[2016-12-29 09:47] developeranirudhprabhu commented on #3935
@acburst Do you think we can do anything about this? m not sure if font rendering is in our hands

[2016-12-29 09:51] developeranirudhprabhu commented on #3957
@tomscholz Can you share the URL where we can see this?

[2016-12-29 09:54] developeranirudhprabhu commented on #3946
@wemyss alternatively if you know the max height that your images can have you can specify the min height. That ways the will appear aligned. The shortcoming of that is hardcoded value of height

[2016-12-29 09:55] developeranirudhprabhu commented on #3946
@acburst Can we close this issue? I dont see there is anything more that can be discussed and added

[2016-12-29 09:59] developeranirudhprabhu commented on #3941
@suntrop This happens cause of the styles associated with p beyond the collapsible. As suggested by @acburst please customize these elements with appropriate selectors

[2016-12-29 09:59] developeranirudhprabhu commented on #3941
@acburst I think we can close this issue.

[2016-12-29 10:02] developeranirudhprabhu commented on #3939
@dbr0 Can you tell me how you were implementing it earlier and how are you doing it now and kind off functionality are you looking at?

[2016-12-29 10:06] suntrop commented on #3941
I already customised it. I just wanted you to know that there are issues with it. You can't always replace a paragraph with line breaks, especially when the content comes from a CMS.

[2016-12-29 10:13] developeranirudhprabhu commented on #3886
@jonasroessum Try making following change and see if it helps

[code]

[2016-12-29 10:30] vishnu1991 opened #4040 "Feature Request : Add SSL to site"
### Description
Add SSL(https) Support to materializecss.com.
You can use openssl [Lets Encrypt](https://letsencrypt.org/) (Its Open Source).

[2016-12-29 10:35] developeranirudhprabhu commented on #3869
@Upallinsky Can you provide an url where we can see this?

[2016-12-29 18:03] rajuonraj opened #4042 "Select option"
select option is not destroy on touch move

[2016-12-29 20:51] #3946 closed

[2016-12-29 20:52] acburst commented on #4042
Please explain your issue more and add example code

[2016-12-30 01:11] dbr0 commented on #3939
@developeranirudhprabhu It is solved as described in updates. First error with callback was my error and the second thing was to open the modal I needed to init it first. It's all working now here. However this was very unpleasant experience. Luckily for me it all broke during testing and not in production.

Not really sure how it was done before. If it's really important to you I could browse thr

[2016-12-30 02:45] davodavodavo3 opened #4043 "How to add triangle in top of dropdown content"
### Description
Does anyone know how to add an arrow to dropdovn content so that it appears first?
My problem is that when you add an arrow through the pseudo-element(to dropdown-content) or div with styles ,first appears  the dropdown content and then arrow shows.
### Screenshots / Codepen
Example:
http://jsfiddle.net/esjrhg5n/

Example with our loved Materialize CSS (look at arrow)
https://jsfid

[2016-12-30 06:19] developeranirudhprabhu commented on #4039
@freddy-daniel You would need to reinitialize the tool tips on pagination. Using something like

` $('.tooltipped').tooltip({delay: 50});`

Details are given here: http://materializecss.com/dialogs.html. Let me know if it helps

[2016-12-30 06:24] tavsta opened #4044 "Cannot do anything with nested modal"
### Description
When opening a modal inside another modal. I can't not do anything except closing modal by clicking on `.modal-overlay`

### Screenshots
![image](https://cloud.githubusercontent.com/assets/7478003/21560514/046b4484-ce93-11e6-93c6-6838283eb52a.png)

Open parent modal
![image](https://cloud.githubusercontent.com/assets/7478003/21560517/13ca7742-ce93-11e6-9007-8e694c73ef42.png)

Insid

[2016-12-30 06:29] developeranirudhprabhu commented on #3835
@acburst Can your merge the commit and mark this as closed?

[2016-12-30 06:44] developeranirudhprabhu commented on #3783
@acburst Can you please comment?

[2016-12-30 06:45] developeranirudhprabhu commented on #3724
@andreatulimiero Can you please share your code?

[2016-12-30 06:54] developeranirudhprabhu commented on #4044
@tavsta Can you mention your exact requirement and if possible share the code. In one of my projects i had requirement which was very much similar to this. What i opted for was placing all the modal screens in a single modal and toggling their visibility as per requirement.

[2016-12-30 07:47] tavsta commented on #4044
I know your solution, but we can't open multiple modals with a single modal. I want they appear at the same time.
I think `materialize css` has problem with z-index in `.modal-overlay`. I worked around by setting all `.moda-overlay`s has same z-index.

[2016-12-30 08:41] developeranirudhprabhu commented on #4044
Can you share your code?

[2016-12-30 08:46] developeranirudhprabhu commented on #63
@Dogfalo and @acburst Can you confirm if there is an issue? If not mark this closed? Or atleast add some details regarding the issue

[2016-12-30 08:59] developeranirudhprabhu commented on #581
@jhuenges please share the code

[2016-12-30 10:02] tomscholz commented on #4040
Materialize is using github hosting in combination with a (I guess) DNS provider. Github hosting offers https but due to the custom domain the certificate is not valid. Maybe Materialize could switch to cloudflare, where a ssl certificate is free and included?

[2016-12-30 11:58] developeranirudhprabhu commented on #3939
@acburst I think we can close this ticket based on the above comment

[2016-12-30 16:40] Dogfalo commented on #63
This is no longer an issue

[2016-12-30 16:40] #63 closed

[2016-12-30 16:43] Dogfalo commented on #4040
There isn't any sensitive information that should be sent from either side on our website, so I don't think this is all that necessary.

[2016-12-30 16:44] Dogfalo commented on #4027
The wave that appears on tap is there to let the user know that the object is clickable. Having the effect on touchend would prevent that.

[2016-12-30 17:11] Dogfalo commented on #3783
We use autoprefixer now to get vendor prefixes into the builds, however, if in your project you can use them if you also use Sass, see this guide on how to use [mixins](http://sass-lang.com/guide#topic-6)

[2016-12-30 17:11] #3783 closed

[2016-12-30 17:14] tcrognon commented on #4015
+1, this feature is also unusable with JSX and, therefore, many React projects.

maxLength is valid and seems appropriate. If there's not a reason against it, I think it's best to use maxLength instead of data-length.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-maxlength

[2016-12-30 17:17] Dogfalo commented on #4043
If you don't want to use material icons, you can use unicode characters. You use `::before` to make it appear before the element, https://jsfiddle.net/sj2tm8cd/17/

[2016-12-30 17:17] #4043 closed

[2016-12-30 17:26] Dogfalo commented on #3908
This question isn't specifically related to Materialize.

[2016-12-30 17:26] #3908 closed

[2016-12-30 17:33] Dogfalo commented on #3935
@Capu-Johann Did you try not useing the Woff2 version of the font?

[2016-12-30 17:38] Dogfalo commented on #3941
We can place the padding on the `.collapsible-body` instead, that might be a good solution for this.

[2016-12-30 19:05] davodavodavo3 commented on #4043
I am sorry but your example is not that i ask for.See drop down content top arrow,not button arrow

[2016-12-30 19:09] davodavodavo3 commented on #4043
https://jsfiddle.net/sj2tm8cd/20/

[2016-12-30 22:42] Kostronor opened #4045 "Cannot import sass file from meteor package"
### Description
Add a detailed description of your issue.

I am trying to import the materialize.scss file in meteor and the file can not be found.

### Repro Steps
Layout the steps to reproduce your issue.

meteor add materialize:materialize

`@import "{materialize:materialize}/sass/materialize.scss";`

Error:
[code]

I tried searching in the repo but there is no documentation on what path to use

[2016-12-31 01:25] wackychocolatefactory commented on #4015
One minor note about maxlength is that it prevents further input when the limit is reached.

[2016-12-31 01:27] tomscholz commented on #4045
Try this; https://github.com/Dogfalo/materialize/issues/2217#issuecomment-268100489

[2016-12-31 09:50] Kostronor commented on #4045
Hey @tomscholz I looked at that issue, but I had no problem compiling materialize, I have a problem importing it, oddly enough.

I'll try your branch our and report back if that fixed it :)

[2016-12-31 10:02] Kostronor commented on #4045
Oddly enough applying your fix and then importing `@import "{tomscholz:materialize}/sass/materialize.scss";` works perfectly fine! Thanks a lot @tomscholz

Weird that there were no errors compiling it, that were shown...

[2016-12-31 11:21] Rubel-hossain commented on #1092
Thanks JanG85 , i am facing the same problem and solved by your given tips. But The Problem Should be solved By materialize.

[2016-12-31 13:23] MacGyer opened #4046 "SideNav overlay cover .side-nav when in .navbar-fixed"
### Description
When you render the source for your side nav (.side-nav) inside the "normal" navbar, especially a fixed navbar (.navbar-fixed), the #sidenav-overlay covers the whole page including the actual sidenav. This makes the side nav not usable.

The issue occurs, because the .side-nav is embedded in .navbar-fixed. So the .navbar-fixed and #sidebar-overlay have the same z-index (997).

Any

[2016-12-31 15:31] MacGyer commented on #4046
Update: seems to work on 0.97.7. Just set the codepen JS and CSS file to 0.97.7 to confirm.

[2017-01-01 06:43] developeranirudhprabhu commented on #3975
@acburst Please merge the PR

[2017-01-01 06:44] developeranirudhprabhu commented on #3939
@Dogfalo I think we can close the ticket based on the above comments

[2017-01-01 06:54] developeranirudhprabhu commented on #3844
@acburst @Dogfalo Can you check and close the ticket

[2017-01-01 09:56] Capu-Johann commented on #3935
@Dogfalo I assume I did.
But I haven't the problem anymore, dunno when it happened. Maybe when I updated firefox.. not sure though :/

[2017-01-01 18:29] erikwu commented on #1007
The fix has a regression in the following code which let the collapsible-body extends and closes immediately.

if (object.hasClass('active')) {
          object.parent().addClass('active');
}
else {
          object.parent().removeClass('active');
}

I think it should be

if (!object.hasClass('active')) {
          object.parent().addClass('active');
        }
else {
          object.parent().remo

[2017-01-02 05:34] freddy-daniel commented on #4039
Thanks. It's working now.

[2017-01-02 05:34] #4039 closed

[2017-01-02 06:37] developeranirudhprabhu commented on #4042
@rajuonraj Can you add more description regarding the issue?

[2017-01-02 06:39] developeranirudhprabhu commented on #4036
@dra14825 Can you share your code? As mentioned by @Dogfalo you can stop immediate propagation of event. Let us know if it works for you

[2017-01-02 06:41] developeranirudhprabhu commented on #3941
@Dogfalo I think the issue is sorted. Please close this ticket as well

[2017-01-02 06:49] developeranirudhprabhu commented on #3923
@Thanood I was not able to reproduce on your codepen or the official website. Can you check again and confirm on the latest build?

[2017-01-02 06:50] developeranirudhprabhu commented on #3925
@acburst @Dogfalo I think the question has been answered. We can close this ticket

[2017-01-02 07:00] Thanood commented on #3923
@developeranirudhprabhu It still happens on the official web page and in the CodePen (if there's a previous page of course). I've tested with Chrome, Edge and Firefox.

Which browser are you using?

[2017-01-02 07:09] developeranirudhprabhu commented on #3923
@Thanood I'm testing on chrome 55. I followed the steps you have mentioned but could not reproduce the issue

[2017-01-02 07:10] developeranirudhprabhu commented on #3639
@FoxInFlame Can you tell your exact requirement and if you were able to find a fix?

[2017-01-02 07:16] Thanood commented on #3923
Interesting.. I had an older Chrome version and upgraded to 55. Doesn't happen anymore in Chrome 55.
But still happens on Edge and FF (probably IE as well). 😃

Would a `preventDefault()` do the trick [here](https://github.com/Dogfalo/materialize/blob/master/js/chips.js#L171) like there is one for the `enter` event? I could issue a PR for that, too. 😃

[2017-01-02 07:20] developeranirudhprabhu commented on #3923
I need to check why it happens. Ideally if the chips.length is 0 then nothing should happen

[2017-01-02 07:59] dra14825 commented on #4036
@developeranirudhprabhu I tried and it worked for me, but i changed the layout afterwards so i didnt need it anymore.
But this is the code I used:
`$('.collapsible-header').click(function(e){
    e.stopPropagation();
});`

It worked fine for me, but as I allready mentioned I had different requirements and changed it therefore.

[2017-01-02 08:36] pragun16 opened #4048 "Clicks (javascript events) not being responded with Angular 2"
### Description
I'm using this framework with angular 2. The problem that I'm facing is that the elements aren't responding to the clicks i make in navbar and other collection components such as an accordion. But then if i refresh the page, the entire thing seems to work fine until some time again.

The navbar element is static and the content below navbar is generated dynamically by the router in

[2017-01-02 08:51] Thanood commented on #3923
Just to be precise, please note that this does *not* only happen when `chips.length == 0`.
The code line I posted would be the wrong place, though. 😃

[2017-01-02 09:20] pragun16 commented on #4048
I managed to load the required js functions manually after onInit() {} in angular 2 but I really have no idea if its the best possible way to solve this issue.

[2017-01-02 09:34] developeranirudhprabhu commented on #3923
So you mean to say that irrespective of number of chips double backspace causes issues?

[2017-01-02 09:44] Thanood commented on #3923
Yes.
The default action for the `backspace` key in the majority of browsers (including Chrome up to a certain point) is `history.back()`.

In fact if you hit `backspace` on Chrome twice the browser shows a popup that this binding is now `alt + backspace`.

Thus my proposal to prevent the default action if `e.keyCode === 8`. Just like it is done with the `enter` key (without adding a new chip, of c

[2017-01-02 09:54] favoyang commented on #4027
How about setup a a very short timer to check the tap-vs-drag logic? Same idea to solve other tap-vs-drag issue on mobile, like when you tap on a tableview cell and start dragging, the tableview cell won't get highlighted.

[2017-01-02 10:08] developeranirudhprabhu commented on #3923
I think some thing is going wrong here: https://github.com/Dogfalo/materialize/blob/master/js/chips.js#L84

[2017-01-02 10:12] developeranirudhprabhu commented on #3923
Can you try removing

[code]

And see if it helps

[2017-01-02 10:24] developeranirudhprabhu commented on #3923
Update: Removing previously mentioned line solves the problem. Would create the PR for same tonight

[2017-01-02 10:35] gonggle commented on #3142
Did you find out how to solve this?

[2017-01-02 10:43] Thanood commented on #3923
Interesting.. I'll try it, too when I have some time (I'm currently at work).

[2017-01-02 12:29] developeranirudhprabhu commented on #3923
Sure. Please try and let me know your feedback

[2017-01-02 12:29] developeranirudhprabhu commented on #3922
@Dogfalo whats your opinion?

[2017-01-02 12:32] developeranirudhprabhu commented on #3909
@tharakanwn2014 Can you explain in detail what you are exactly trying to do? If possible provide the code you are executing?

[2017-01-02 12:53] developeranirudhprabhu commented on #3880
@elbecita I'm not aware about haml can you share a HTML version of this through code pen may be?

[2017-01-02 12:55] developeranirudhprabhu commented on #3486
@Dogfalo Any comments on this?

[2017-01-02 14:17] #4036 closed

[2017-01-02 15:59] Dogfalo commented on #3142
I am not seeing this on Firefox 50.1.0. What version are you seeing this on?

[2017-01-02 16:14] Dogfalo commented on #3959
Added in f59ca24. Seems to be a safe change.

[2017-01-02 16:14] #3959 closed

[2017-01-02 16:22] Dogfalo commented on #2191
This used to be a problem when we had `visibility:hidden` applied to the radio button, but this is no longer the case and screen reader does read out the button.

[2017-01-02 16:22] #2191 closed

[2017-01-02 16:24] Juriy commented on #2949
The problem with this approach is that this changes the downloaded dependency, so anyone to re-build the project would have to run the same step (extremely error-prone). I found that this trick fixes the build for me too, but I can't include it into the final build.

I think that jQuery is not really a "dependency" (in NPMs sense) of Materialize.css. Materialize expects global jQuery object and "p

[2017-01-02 16:32] #3925 closed

[2017-01-02 21:54] TheColorRed opened #4053 "Convert JavaScript files to TypeScript files"
I think that it would be a good idea to convert all the javascript files into typescript files.

This will allow for better coding practices, and can be compiled down into different source types, meaning that es6 code can run in browsers that only support es3, es4 and/or es5. It also does error checking upon compilation, much like sass meaning less runtime errors.

For example this `es6` code can

[2017-01-02 22:01] TheColorRed commented on #4046
I am seeing this issue on the latest version.

[2017-01-03 02:39] verysame opened #4054 "Display table breaks IE responsive"
### Description
Hi there,

I'm trying Materialize and I like it very much.
One thing I'm struggling with: with Boostrap, I can easily use display:table and hack the alignment of the table datas' content quite easily.
I can do the same with Materialize, only it doesn't work in IE11. In fact, it seems the page is not responsive anymore after display:table

### Repro Steps
    <div class="container "

[2017-01-03 03:29] 275761919 opened #4055 "there is a strange phenomenon on table's td tag with class "left" or "right""
### Description
The table's td tag with class "left" or "right" cause the that the table cell's width will vary because of different word longth.

### Test source code
There is my test html:
[code]
### Screenshots
with class "letf":
<img width="261" alt="2017-01-03 11 26 28" src="https://cloud.githubusercontent.com/assets/14012127/21599454/90129796-d1a7-11e6-9675-0e160ec97b94.png">

remove class "

[2017-01-03 04:02] developeranirudhprabhu commented on #4053
@Dogfalo Your comments?

[2017-01-03 05:47] iONinja opened #4056 "use material icons in Select option"
I would like to put icons in the options for select elements.
Not next to the entire select, but one for each option (just left to the text).
When I do this, the icon does not render.

Is this possible yet? If not, are you planning to add it?

[2017-01-03 07:08] #3682 closed

[2017-01-03 08:53] codypearce opened #4057 "query builder icon is the same as the schedule icon"
### Description
The query_builder icon is the same as the schedule_icon, it should be a wrench.This is the same issue as on https://material.io/icons/, however, when you actually use the google material query builder icon it's a wrench and not a clock.

### Repro Steps
Go to http://materializecss.com/icons.html
And ctrl+f query_builder

### Screenshots / Codepen
![mquery](https://cloud.githubuserc

[2017-01-03 09:42] developeranirudhprabhu commented on #4048
@pragun16 If any component is placed dynamically it would require explicit init as well. For example dropdowns, collapsible etc

[2017-01-03 11:01] aecute opened #4058 "meteor 1.4+ not working"
fixed: metrophobe:materialize it's working

[2017-01-03 12:56] weedandbleed opened #4059 "Callback for sidenav"
### Description
When opening and closing navbar there is no callback attached to it

[2017-01-03 13:04] AliObaji commented on #1515
+1

[2017-01-03 13:28] shmshd12 commented on #4046
@MacGyer You have already given almost fix.
Just add this to your custom styles.css file :
`
.navbar-fixed {
    z-index: 9999;
}`
I check this in your given Codepen link and this worked fine.

[2017-01-03 13:43] MacGyer commented on #4046
@shmshd12 I just checked the pen. It is configured for 0.97.8 and your suggestion is integrated.
Does not work.

[2017-01-03 13:50] shmshd12 commented on #4046
@MacGyer check this out : http://codepen.io/anon/pen/GrRrVP
This codepen is copy paste of your with addition of `.navbar-fixed { z-index: 9999; }`.

Check if your styles.css is below `materialize.min.css`. If it is at top` styles.css` will not overwrite `materialize.min.css` file.

[2017-01-03 13:54] MacGyer commented on #4046
@shmshd12 sorry, my bad. Your solution indeed works. (had the CSS comment not closed).

Thanks for providing. Nevertheless I think, this issue should be solved by the Materialize CSS itself.

[2017-01-03 15:24] woodystom commented on #4058
นาย อยุ่ไหม

[2017-01-03 15:25] woodystom commented on #4058
ผมขอถามอะไรนิด

[2017-01-03 16:07] Dogfalo commented on #4058
Search closed issues first please.

[2017-01-03 16:07] #4058 closed

[2017-01-03 16:09] Dogfalo commented on #4059
Do you mean the sidenav?

[2017-01-03 16:12] Dogfalo commented on #4057
Report this to https://github.com/google/material-design-icons as it is their icon font.

[2017-01-03 16:12] #4057 closed

[2017-01-03 17:29] Dogfalo commented on #4015
I agree, it is preferable that you can still type over the limit but the UI should tell you that you have gone over the limit.

[2017-01-03 18:18] retorquere opened #4061 "Icon Button in nav shifts down icon"
When I add a raised button with an icon (http://materializecss.com/buttons.html) in a nav (http://materializecss.com/navbar.html) the icon shifts down; see the button in [this fiddle](http://jsfiddle.net/mgbed790/).

[2017-01-03 21:17] Toltar commented on #2421
I have the same problem. For some reason ScrollFire sets off items of the object array at once when I scroll down.

[code]

I am thinking it may be due to the fact I am using parallax scrolling, but I am not too sure about that. I hope someone has a solution.

Using version 0.97.8

[2017-01-03 21:23] iamrudra commented on #4029
@acburst - Cool! Could you elaborate on what kind of examples/explanation is required?

[2017-01-03 22:00] tomscholz commented on #4061
I created a codepen cause your fiddle dosen't work for https://codepen.io/tomscholz/pen/YNzedG
The problem is that the icon has got the same height as the hamburger icon on mobile.

[2017-01-03 22:23] MorganChristison commented on #365
+1

[2017-01-04 01:03] verysame commented on #4054
Any hints?

[2017-01-04 03:31] acburst commented on #4061
This was fixed in 9fcc379dce10353b425b9c4c8f71484ffba2a6a1.

You can use our master version or wait until we release a new version.

[2017-01-04 03:31] #4061 closed

[2017-01-04 03:33] acburst commented on #4044
Take a look at the code for this http://materializecss.com/test/html/multiple_modals.html

[2017-01-04 04:26] developeranirudhprabhu commented on #3923
@Thanood did you try? Did it work for you?

[2017-01-04 05:34] retorquere commented on #4061
Can I install the master version using bower?

[2017-01-04 05:56] weedandbleed commented on #4059
yup

[2017-01-04 06:33] Thanood commented on #3923
@developeranirudhprabhu Not quite.. Hard to describe somehow.

With these lines *not* removed, the chip to be deleted is first selected (changes its background color to accent) then after another `backspace` it is removed and that is when the browser navigates back.

Now *with* these lines removed chips behave differently. The chip to be deleted is *not* selected and is removed without triggering

[2017-01-04 08:41] developeranirudhprabhu commented on #3923
ok i will think of some alternate solution. I think we need to stop the event propagation in that case

[2017-01-04 08:42] developeranirudhprabhu commented on #4026
@st-clair-clarke did the suggestion help? Can you update?

[2017-01-04 09:50] Dogfalo commented on #4026
See closed issues.

[2017-01-04 09:50] #4026 closed

[2017-01-04 11:49] mugwag commented on #3369
Did this get added to Materialize?

[2017-01-04 12:41] retorquere commented on #4061
Should loading this stylesheet (from the commit you mentioned above) at the end fix this? It doesn't for me:

[code]

[2017-01-04 13:03] gdoron commented on #3582
@xikky
Making the grid similar to the sizes used on bootstrap:

	$extra-small-screen-up: 769px !default;
	$small-screen-up: 993px !default;
	$medium-screen-up: 1201px !default;
	$large-screen-up: 1441px !default;
	$extra-large-screen-up: 2561px !default;
	$extra-small-screen: $extra-small-screen-up - 1px !default;
	$small-screen: $small-screen-up - 1px !default;
	$medium-screen: $medium-screen-up

[2017-01-04 13:34] idanwe opened #4063 "Release the latest version to atmosphere"
The v0.97.8 release doesn't include 2 important fixes:
 * [Added _badges.scss](https://github.com/Dogfalo/materialize/commit/b8f3aeeda1d905546c00772af0f33ff39094f951)
 * [Changed fonts path in packages.js
](https://github.com/Dogfalo/materialize/commit/72759961572d2a0e77c3a1e0aea9db646f66765f)

It prevent from me to upgrade to the latest version that include a lot of meaningful fixes and enhanceme

[2017-01-04 14:33] ben-sykes commented on #4056
You should read the documentation... it clearly explains that you can add an image to the left of a select option. Based on your explanation above, this is _exactly_ what you're asking for. [http://materializecss.com/forms.html](http://materializecss.com/forms.html)

[code]

[2017-01-04 14:36] ben-sykes commented on #4055
`class="left"` represents the CSS `float: left;`. I don't believe you should ever need to float table cells... This is a problem with your code, not the Materialize library.

[2017-01-04 14:48] #4055 closed

[2017-01-04 14:55] ben-sykes commented on #4020
I can confirm this is happening.

If you need a quick work-around, I imagine you could call a pickadate [set method](http://amsul.ca/pickadate.js/api/#method-set) during the [onClose event](http://amsul.ca/pickadate.js/date/#events). Not sure which set method would work best for this scenario off the top of my head though.

[2017-01-04 14:58] Dogfalo commented on #4020
This is intended. Selecting a day is what causes the date to change, choosing year is just a method of browsing like clicking the left and right arrows for months.

You can see this behavior on the spec: https://material.io/guidelines/components/pickers.html#pickers-date-pickers

[2017-01-04 14:58] #4020 closed

[2017-01-04 15:11] anvart opened #4064 "Carousel slides misplace when are switched fast"
### Description
When one sliding is not over yet and another one is initiated by clicking on indicator, slide position messes up.

### Repro
Go to [demo page](http://materializecss.com/carousel.html) and switch between slides: click every time different indicator before the sliding animation is over. Also works with double-clicks.

### Screenshot
![screenshot from 2017-01-04 16 03 00](https://clou

[2017-01-04 15:34] ben-sykes commented on #4064
I believe the interaction you're experiencing is related to the touch compatibility. Click slower an be more precise when clicking on the dots. Everything seems to work as expected. If you misclick (between the dots) the touch/sliding functionality seems to mess with things. It almost seems like there should be a "no-drag" block behind the clickable dots.

@anvart : Does this analysis seem to make

[2017-01-04 16:44] tomscholz commented on #4064
![2017-01-04 17 43 01](https://cloud.githubusercontent.com/assets/20381749/21650483/5d3010b6-d2a5-11e6-9ce5-c4f813ecace1.gif)
Can reproduce

[2017-01-04 17:53] acburst commented on #4064
This is fixed on master from this PR: #3866

You can either choose to use our latest build which may have other issues or wait for our next release.

[2017-01-04 17:54] acburst commented on #4063
We are planning on releasing a new version within the month

[2017-01-04 17:54] #4063 closed

[2017-01-04 18:12] abhipsaMisra opened #4065 "Unable to initialize checkbox in form"
### Description
I have a form in React, which is using materializecss. I am unable to initialize it based on the form value returned from DB. Using checked attribute always keeps it as checked; whereas using value attribute has no effect on the checkbox.
I am new to react, so its my bad if the question is too basic.
I looked it up but could not find anything in the documentation or online.

What w

[2017-01-04 18:23] manicmarvin opened #4066 "Utility Classes: Left and Right Align need to be only medium and up"
### Description
The Utility classes `.left-align` and `.right-align` should not apply to `small-and-down` screen sizes, this is because all text on small screens centers itself, and right-aligned, left aligned text defying this is ugly.

**Solution:**
[code]

[2017-01-04 18:47] ben-sykes commented on #4066
While what you're proposing isn't necessarily incorrect, I believe text alignment should be application specific. What you consider "ugly" is largely due to the default text-alignment not working with your application's overall design. For a different application, with its own design, this may not work. For example, what if you need to consider LTR vs RTL languages? Your change could throw everyth

[2017-01-04 18:56] manicmarvin commented on #4066
I shouldn't have used the word _ugly_, it was lazy of me, I meant that it produced unexpected inconsistencies when you move from larger screens to smaller ones. However, you're absolutely right, I never considered RTL languages.

While this might make the codebase much bulkier, could we add separate utility classes that specifically don't interfere with small screens (and/or medium screens) - thin

[2017-01-04 20:07] #2984 closed

[2017-01-04 20:58] PatDuJour opened #4068 "Materialize Modal Flickers on iOS Chrome, Safari"
### Description
I have a materailizecss Modal(register) that causes flickers on Chrome & Safari, tested on iOS mobile devices on iOS 9&10.

The modal flicks when switching among input fields in the form in modal-body.

I don't know if this is the same flicker issue with bootstrap, which came up a lot in my search

[2017-01-04 21:01] #4065 closed

[2017-01-04 21:01] abhipsaMisra commented on #4065
Solved used defaultChecked!

[2017-01-04 21:06] silverdr commented on #2542
@stap123 I needed to add

    display: -webkit-flex;

and

    display: flex;

to .tabs to make it work as expected (at least in Safari).

[2017-01-04 21:27] stap123 commented on #2542
@silverdr I have updated the code above to include the display: flex; line.

Is -webkit-flex a valid value for display? I can't find any reference for it anywhere.

[2017-01-04 21:31] silverdr commented on #2542
@stap123 check this one: [http://www.w3schools.com/cssref/css3_pr_flex-direction.asp](http://www.w3schools.com/cssref/css3_pr_flex-direction.asp)

[2017-01-04 21:36] stap123 commented on #2542
@silverdr wow ok, I actually checked the w3schools reference for the display property and it's not listed on there :) http://www.w3schools.com/cssref/pr_class_display.asp

I have added that as well. (I must admit I tend not to worry about Safari, slap on the wrist! Most of my clients don't use it)

[2017-01-04 21:42] silverdr commented on #2542
@stap123 It is listed there in the browser support section. Still - I fully understand. It's just not the same case here. I need to cover more Safari than IE for example ;-)

[2017-01-04 21:45] stap123 commented on #2542
@silverdr completely missed that, my bad. Thanks for pointing it out

[2017-01-04 21:57] idanwe commented on #4063
Ok, thanks for the update

[2017-01-04 22:13] iONinja commented on #4056
Two issues with that:
1. I want the "data-icon" to be just to the left of the option, not on the right.
2. The main issue: I want a Material font icon, not an image.

[2017-01-05 00:12] ebecrm17 commented on #487
Grendizr, nice idea, I tried to mix both of them but it didn't work

[2017-01-05 00:52] fabyeah commented on #1492
Unfortunately my workaround causes links with svg icons to not be clickable in Safari/IE/iOS, unless they're specifically set to display: block or inline-block. :(

I guess we need a PR. Unless someone has another solution?

[2017-01-05 08:16] clxy opened #4069 "Document onCycleTo Carousel option"
### Description
Dose Carousel has some events, so we can put some callbacks into it.
Like onSlideStart, onSlideEnd, etc.

Maybe add customized 'carouselNext' and 'carouselPrev' ?

[2017-01-05 09:50] VioletaCalvo commented on #2413
Hi!

I use `touchstart` event to trigger the action. I also need to use `event.stopPropagation()` and `event.preventDefault()` and then close manually the dropdown.

This is my code (I use Materialize with Meteor)
[code]

Hope this helps. Thank you!

[2017-01-05 12:44] lordplagus02 opened #4070 "Dropdown in <td> doesn't work"
I have a `dropdown-button` inside a `<td>` and the `<ul>` element right beneath it. When clicking or hovering on the button, the list does not appear. It seems that the button still gets the class `active` as if it was open but the menu is not visible.

I am using the example straight from http://materializecss.com/dropdown.html but within a table cell.

[2017-01-05 12:56] mirandadp opened #4071 "Cannot read property 'top' of undefined on keyup is pressed, in empty filtering list"
### Description
When we press keyup in a select2, appling filter that not exist in list, it throw an exception:  Uncaught TypeError: Cannot read property 'top' of undefined

When I press keyup is select2, and it has no data in the list (to be filtered),  the following exception is throwing: Uncaught TypeError: Uncaught TypeError: Cannot read property 'top' of undefined
    at Select2.<anonymous> (

[2017-01-05 14:32] c0u1d commented on #4046
I got the same issue with my github pages,this should be solved by materialize itself not overwrite it!

[2017-01-05 14:50] giordanocardillo opened #4072 "On Meteor there are no scss, the build systems compiles them in css"
### Description
I installed the package in Meteor, but i see no scss files in it, there is a folder named `sass` in which there are only two files: `materialize.scss.css` and `ghpages-materialize.scss.css`.

How can I include SCSS inside the meteor package?

### Repro Steps
* Install package `meteor add materialize:materialize`
* Go to meteor package installation directory (e.g. `%LOCALAPPDATA%\.m

[2017-01-05 17:55] shmshd12 commented on #4046
@c0u1d Above given fix is a temporary one. Yes, this issue will not be closed until Materialize fix the issue.

[2017-01-05 17:59] pvaladez commented on #487
+1 vote - I would love to see this as well.  Mobile swipe functionality needed for tabs!

[2017-01-05 18:10] leolr02 commented on #1488
The temporary solution is override the css props when the page already loaded
example:
$(function () {
var rightSideNav = $(".button-collapse").attr("data-target");
// Delay 200 ms
setTimeout(function () {
  $("#"+rightSideNav).attr("style", "");
}, 200);
});

[2017-01-05 20:27] Shivang-Bhandari opened #4074 "Year Change in Footer"
### Description
@acburst The Year needs to be updated in the footer (Change 2016 to 2017)

[2017-01-05 22:16] acburst commented on #4071
This seems like a select2 error? Not sure what this has to do with materialize.

[2017-01-05 23:38] ixdoodla commented on #771
+1

[2017-01-06 02:09] PeteOliveira commented on #2879
Thanks for both suggestions!  The following worked for me.

#sidenav-overlay {
    z-index: 996;
}

[2017-01-06 14:29] St3ph-fr commented on #1402
Hi

On my side I used the tag data-html="true" by this way I can add a line break by adding the <br> html tag.

<div class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Some text"></div>
become
<div class="tooltipped" data-html="true" data-position="bottom" data-delay="50" data-tooltip="Some text<br>Second line"></div>

Stéphane

[2017-01-06 14:30] jamiewaese commented on #485
saadq's answer works perfectly. To be clear, however:
`.tabs .indicator {
    background-color: #99cc00;
}`
The <ur color> needs to be an actual color, without the <> symbols
I needed to do a force refresh before seeing the change.

[2017-01-06 15:59] bibislayer commented on #1390
I'm using this but really not sure is the best practice =>
in app.component.ts
<pre>
ngDoCheck() {
    let selectorValid = $('.select-wrapper:has(select.ng-dirty.ng-valid)');
    if(selectorValid.length > 0){
      selectorValid.removeClass('ng-untouched ng-pristine ng-invalid');
      selectorValid.addClass('ng-dirty ng-valid');
    }
    let selectorInvalid = $('.select-wrapper:has(select.ng-dir

[2017-01-06 16:18] tomscholz commented on #4072
Try this; https://github.com/Dogfalo/materialize/issues/2217#issuecomment-268100489

[2017-01-06 21:13] #3840 closed

[2017-01-06 23:29] ZiperRom1 commented on #2949
The only solution I got to work was the @ArtistNeverStop one.
But modify the source code of materialize .js for just this stupid jQuery check break all the automation by using bower / gulp in project release process.
Do I have to fork materialize to fit my build process or a "proper" fix is going to be released ?

[2017-01-07 09:28] obscurede opened #4076 "FAB in Ionic"
### Description
The icons are placed slightly offset from the top as seen in the screenshot. This was built in Ionic v 2.1.8 with Angular 1.5.3.

On setting margin-top to 5px for the material-icons class, it helps, but not entirely. Will give feedback by tomorrow if I get anything more on this issue.

### Repro Steps
1) Start an Ionic App
2) Include the
3) Include the layout for the FAB from the w

[2017-01-07 11:59] ahb360 commented on #1892
+1

[2017-01-07 13:33] obscurede commented on #1892
+1

[2017-01-07 16:10] damian483 commented on #644
+1

[2017-01-07 21:20] MahdiMajidzadeh commented on #1892
any good news?

[2017-01-08 02:24] davodavodavo3 opened #4077 "How to add triangle in top of dropdown content"
Its possible to add trangle , and to show it first ,not before dropdown content open Dogfalo?
There is javascript animation on dropdown.js if I'm not mistaken.
// Show dropdown

[code]
No one can't give the solution in stackoverflow.
Example:
https://jsfiddle.net/sj2tm8cd/20/

[2017-01-08 04:42] codypearce opened #4078 "The order of dialog action buttons are flipped"
### Description
Dialog action buttons have a float: right on them which flips their order, which means it shows Agree on the left and Disagree on the right. This goes against material guidelines for [modal actions](https://material.io/guidelines/components/dialogs.html#dialogs-specs), which says that "Dismissive actions are always placed directly to the left of affirmative actions." This issue app

[2017-01-08 07:52] AlwaysBee commented on #1229
@zweicoder Thank you, this solution worked for me

[2017-01-08 20:29] calitidexvii commented on #473
@smileytechguy Did you successfully merge the pickatime code into your fork of v0.97.8? I don't see the code in your master.

[2017-01-08 20:37] smileytechguy commented on #473
@calitidexvii no i didnt, that fork is unrelated afaik.  havent messed with it in a while

[2017-01-08 21:01] calitidexvii commented on #473
@smileytechguy Thanks.

Has anyone else worked on updating PR [2732](https://github.com/Dogfalo/materialize/pull/2732) for v0.97.8? I'd be willing to work on it if I could get a commitment from the maintainers to actually merge it, or an explanation of what's missing. It seems to be the most complete implementation and works great on desktop.

[2017-01-09 02:17] fabyeah commented on #473
Like other people, I'm using materialize.clockpicker from @chingyawhao. Why not create a PR based on that? Visually at least it's very nice.

[2017-01-09 10:16] avinashdvv opened #4081 "how open collapasble on inner input filed fails at html5 validations?"
### Description
i have collapsible, in those i have input box with min,max html attribute when input value is fails to validate how to open the collapsible

![2](https://cloud.githubusercontent.com/assets/11086981/21763212/bb9ee86c-d682-11e6-83ab-d75afb54ee08.png)

[2017-01-09 10:31] avinashdvv commented on #2187
how to solve same issue in input box with collapsible

[2017-01-09 11:47] gdoron commented on #3110
@Dogfalo @donnygunawan93 I'm not sure what's not responsive in the slider example.
But the carousel is indeed **not** responsive for images.
Easily fixed by instead of having `<img>` inside of the `.carousel-item`, adding `.carousel-item` background-image.

Is this what you meant @donnygunawan93 ?

[2017-01-09 13:26] holgermertens opened #4082 "Side-Nav Bug in latest Chrome mobile"
### Description
While SideNav is opened you can swipe in latest Chrome Mobile in the not-nav-area top or down.
Then the UI act strange.

### Repro Steps
- open a site with SideNav in latest Chrome (v55) on mobile device (for example http://materializecss.com/navbar.html )
- open SideNav
- scroll on the not side-nav area top or down

### Screenshots / Codepen
https://youtu.be/p54uGC7sO7I

[2017-01-09 13:28] Santa444 commented on #4042
Confirmed.
Select option not destory on touch move, safari iOS 10.
![pciuq-6bhpu](https://cloud.githubusercontent.com/assets/25008494/21768061/a56ab3c2-d688-11e6-91cd-f947c977ee88.jpg)

[2017-01-09 15:03] jomarbarnobal commented on #1092
lets wait for materializecss developer to make it happen, for now use that step to use in your page, i only use full screen slider in sigle page app or landing page.

[2017-01-09 17:00] tomscholz commented on #4082
Can reproduce

[2017-01-09 17:02] #1943 closed

[2017-01-09 17:03] #3687 closed

[2017-01-09 17:03] #487 closed

[2017-01-09 19:01] rotoxl commented on #1943
Uoh! Can't wait to test it 😍

El 9 ene. 2017 6:03 p. m., "Alan Chang" <notifications@github.com> escribió:

[2017-01-09 19:27] diareuse commented on #2081
Hey!
if it's still relevant to you I've found a little workaround. Replace "accordionOpen" function with this one in your materialize.css.

What you care about is .slideDown code, where you animate scrollTop after animation is finished. I've added padding 64px (nav) and 6px (just for fun). if(top > 100) checks whether animation should be bypassed if there is "active" class beside "collapsible".

I

[2017-01-09 19:28] diareuse commented on #3239
https://github.com/Dogfalo/materialize/issues/2081#issuecomment-271382271

[2017-01-09 19:32] Anrahh opened #4083 "Error Badges Collection"
Impossible to overwrite badges collection style
`div.collection {
    background-color: red;
}`

[2017-01-09 20:05] memmaina commented on #413
+1 circle class

[2017-01-09 22:25] acburst commented on #4083
Are you looking to color the background of the badge? Look at the [docs](http://localhost:8000/badges.html#options). You can add our color classes to the badge directly

[2017-01-10 02:05] Jorgemarquez2222 commented on #1676
if have this problem whit Angular 2.
import { MaterializeModule } from 'angular2-materialize';
declare var jQuery:any;

jQuery('div[id^=sidenav-overlay]').remove();

[2017-01-10 02:08] JPaulPunzalan opened #4084 "Select does not overlap the border of form tag"
Hi All!

The select tag in materialize CSS does not seem to overlap the form materialize tag. I have 8 options in the select tag and I cannot see the other options due to the form tag.

Attached is the screenshot of my current progress. Thank you very much!

![onboarding](https://cloud.githubusercontent.com/assets/14859857/21791275/9a30b1f2-d71c-11e6-9362-f162d0c8f4e3.png)

[2017-01-10 05:51] Dogfalo commented on #4084
If you don't need `overflow: hidden` you can remove that on the form tag

[2017-01-10 08:15] pragun16 commented on #4048
@developeranirudhprabhu  thank you.. I managed to do it that way :)

[2017-01-10 08:39] developeranirudhprabhu commented on #4048
@acburst @Dogfalo I think we can close this issue

[2017-01-10 08:42] #4048 closed

[2017-01-10 08:44] developeranirudhprabhu commented on #4081
@avinashdvv You can create a custom event for opening/closing each collapsible. Then call the specific event on failure of any field. Hope this helps

[2017-01-10 08:46] developeranirudhprabhu commented on #4074
@Dogfalo @acburst Please comment

[2017-01-10 08:47] developeranirudhprabhu commented on #4083
@Anrahh Can you give some more details regarding what exactly are you trying to achieve?

[2017-01-10 11:37] avinashdvv commented on #4081
if(!($("ID_OF_INPUT_TAGS")[0].checkValidity())){
      $("li .header").addClass("active");
      $('li .body').css(
        'display','block'
      )
    }else{
      $("li .header").removeClass("active");
      $('li .body').css(
        'display','none'
      )
    }

[2017-01-10 11:37] #4081 closed

[2017-01-10 11:37] avinashdvv commented on #4081
`if(!($("ID_OF_INPUT_TAGS")[0].checkValidity())){
$("li .header").addClass("active");
$('li .body').css(
'display','block'
)
}else{
$("li .header").removeClass("active");
$('li .body').css(
'display','none'
)
}`

[2017-01-10 11:48] developeranirudhprabhu commented on #3923
@Thanood Lemme know if it works for you. Also if you plan to create PR?

[2017-01-10 12:04] Thanood commented on #3923
@developeranirudhprabhu That seems to fix it! 😃
I've tried on IE11 and an older Chrome version (also Vivaldi which is basically the same as an older Chrome version).

I can create a PR but I need some time to do that. I'll try tomorrow.
If you can do it faster then please feel free to go ahead. 😃

Thanks!

[2017-01-10 12:07] developeranirudhprabhu commented on #3923
@Thanood I will do it today

[2017-01-10 12:33] Anrahh commented on #4083
I am developing a page in html. I use a sidebar with a badges, however, I can not override the class '.collection' style.
Code:

` <style>
            .sid-color {
                background-color: rgb(45, 38, 64);
            }
            .collection {
                background-color: transparent;
            }
 </style>
<code>
    <div class="col m2 l2 sidebar hide-on-small-only">
        <div

[2017-01-10 12:45] Anrahh commented on #4083
Sorted out !
I did the following:
.collection .collection-item {}.
Thank you!

[2017-01-10 12:45] #4083 closed

[2017-01-10 13:07] rajuonraj commented on #4042
position of Select option is not destroy when zoom out at touch device.  position of select option is static not dynamic not as like datepicker. you can replicate this issue on touch device when zoom out the device then click select box in any model. that time position will be dis order. so please give me any update

[2017-01-10 13:34] Dmitrev commented on #4084
example of what @Dogfalo meant
https://jsbin.com/zogoqiyubu/edit?html,output

[2017-01-10 13:40] Dmitrev commented on #3988
This is pretty broken.

If you need a quick fix, just add the class `browser-default` to the `<select>` element
https://jsfiddle.net/h7vu2nb1/1/

[2017-01-10 15:03] Thanood commented on #3923
Great, thanks! 👍

[2017-01-10 16:24] LGracia commented on #2187
checkout this, let me know if this is the function that you want
https://jsbin.com/sojozoj/edit?html,js,output

[2017-01-10 16:43] #1968 closed

[2017-01-10 21:17] xylude commented on #2879
I had the same problem, and after digging around I realized that if you put the .side-nav inside of the .navbar-fixed component the z-index for .navbar-fixed will override the one set on .side-nav. I fixed this without messing about with the css by moving the .side-nav component out of the .navbar-fixed one.

The lesson learned here is even if you aren't using the .navbar-fixed class, it might be

[2017-01-11 00:48] djensen47 opened #4086 "Improve autocomplete"
Autocomplete is problematic for a number of reasons:
- can't limit results
- can't use IDs instead of strings
- difficult to internationalize values (see previous about using IDs)
- drop down pushes other elements down on the page

Here's a library that has solved many of these issues:
https://github.com/icefox0801/materialize-autocomplete

I would like to suggest either integrating this library o

[2017-01-11 04:01] developeranirudhprabhu commented on #3975
@Dogfalo Please merge my PR so that we can resolve this ticket

[2017-01-11 04:58] deanylev opened #4087 "Slider glitches out when swiping vertically on a touch device"
On a touch device, if you swipe vertically (to scroll) over a slider, it freaks out and the image is pushed almost all the way over (check my screenshot).

Here's a CodePen to demonstrate the issue (please use Chrome Dev Tools to simulate a smartphone or laptop with touch): http://codepen.io/anon/pen/wgMjjx

All you do is swipe vertically over it and the issue will occur.

![image](https://cloud.g

[2017-01-11 05:34] developeranirudhprabhu commented on #3923
@Dogfalo @acburst Please merge the PR and close the ticket

[2017-01-11 12:31] gdoron commented on #2621
@acburst is it possible having dropdown that opens a different dropdown?
Something similar to what Amazon has:

![image](https://cloud.githubusercontent.com/assets/6141009/21848664/9d4decb2-d80a-11e6-932c-522bc93458b1.png)

[2017-01-11 12:38] MickaelH974 opened #4090 "How to get the focus carousel-item in javascript"
### Description
Add a detailed description of your issue.

Carousel items don't have active class or id to recognize them, so is there any way to get/select them whith javascript?

[2017-01-11 17:00] AdamTyler opened #4091 "Textarea changes repaints the whole screen"
When typing inside of a textarea, the whole screen will repaint as opposed to just the textarea repainting.

You can see this in action on the http://materializecss.com/forms.html page.
In your browser dev tools turn on Paint Rendering ([How To on Chrome](https://developers.google.com/web/fundamentals/performance/rendering/simplify-paint-complexity-and-reduce-paint-areas)) and start typing in a re

[2017-01-11 22:58] acburst commented on #3884
Fixed in 14de2a0

[2017-01-11 22:59] acburst commented on #3884
Added a limit in 14de2a0.

[2017-01-11 23:00] #3829 closed

[2017-01-11 23:02] acburst commented on #3619
Fixed a bug with changing the data of an autocomplete in 14de2a0

[2017-01-11 23:02] #3619 closed

[2017-01-11 23:07] #3583 closed

[2017-01-12 04:38] krixano commented on #4056
You can add a class of "left" on the option to solve issue 1. So the only issue is the material icon.

[2017-01-12 06:26] acburst commented on #3486
Added a first pass at chips autocomplete integration in 83e6ba0.

Would appreciate some testing. You can check it out on the latest master version under the chips docs.

[2017-01-12 06:26] acburst commented on #4086
Added a first pass at chips autocomplete integration in 83e6ba0.

Would appreciate some testing. You can check it out on the latest master version under the chips docs.

[2017-01-12 06:28] developeranirudhprabhu commented on #3486
@acburst sure we can do that

[2017-01-12 08:38] jpozo20 opened #4093 "ul:not(.browser-default) rule causing tab indicator problem"
### Description
When testing a new api I'm developing, I noticed a subtle difference in the tabs indicator bewteen my production and local environment. Locally, I have the v0.97.7 and in production I was using the v0.97.8 via CDN.

It looks like that when there are 5 tabs or more there is a problem with the width and position of the tabs indicator.  Inspecting a little bit I found the difference l

[2017-01-12 10:00] tejovanthn commented on #3363
Any update on this?

[2017-01-12 11:22] metalized opened #4095 "Form Select z-index problem"
### Description
I have three materilaze select one by one align vertical. But they are all on top off each other.

Close
![select-z-index-2](https://cloud.githubusercontent.com/assets/1047572/21887607/a11b93c2-d8d1-11e6-8362-f12a709b78c6.PNG)

Open
![select-z-index](https://cloud.githubusercontent.com/assets/1047572/21887606/a11a1b28-d8d1-11e6-97ae-0e821e1e1ea7.PNG)

Help me please.

[2017-01-12 11:54] danieleorlando opened #4096 "Footer truncated only on mobile screen"
### Description
The footer is truncated on mobile screen

### Repro Steps
www.purecontactapp.com

### Screenshots / Codepen
![c17ewecxcaex8bt](https://cloud.githubusercontent.com/assets/7324970/21888779/0ad44388-d8c6-11e6-915e-aa87e9ed45b0.jpg)

[2017-01-12 13:31] Willibaur commented on #1248
Hi all,
is there any update about this issue, I've read the API Docs about changing positions between months and years with no success, placing `selectYears: true` before `selectMonths` but it does not work,
Thanks you very much

[2017-01-12 14:27] gewisser commented on #4086
Great!
Before the new year, he made such a revision, did not manage to propose the inclusion of improvements.

[2017-01-12 17:07] vishnu1991 commented on #4096
Looks like
`.footer-copyright{overflow:hidden;...}`
 is truncating the text in footer.
@danieleorlando u can override this line from your materialize css file.

[2017-01-12 17:29] danieleorlando commented on #4096
Not exactly @vishnu1991
The problem it's on the height and line-height of `.footer-copyright` that is fixed on 50px.

[2017-01-12 17:54] djensen47 commented on #4086
Chips are cool but I was actually more concerned about the other items. I've updated the issue above to specify the features that I'm looking for in a robust autocomplete solution.

[2017-01-12 18:00] djensen47 commented on #4086
Regarding using IDs. This helps immensely with a few things including i18n.

For instance:
`[{value: 'apple', id: '4rew65s1', img: '…'}, {value: 'banana', id: '7r98vv8s', img: '…'}]`
and
`[{value: 'manzana', id: '4rew65s1', img: '…'}, {value: 'plátano', id: '7r98vv8s', img: '…'}]`
would be the same with the labels localized

With the current autocomplete implementation, I would have to have a look

[2017-01-12 18:41] hudson6666 opened #4097 "Responsive table doesn't work well"
### Description
When using responsive table, things goes very strange and it really sucks.

### Repro Steps
These are the codes might help:
[code]

### Screenshots / Codepen

With materialcss:
![screenshot_20170113_023216](https://cloud.githubusercontent.com/assets/18373361/21903091/7d6ce1ca-d939-11e6-80fe-946dd0e763f0.png)

With bootstrap:
![screenshot_20170113_023824](https://cloud.githubusercon

[2017-01-12 20:16] acburst commented on #4097
Your bootstrap version looks like what ours would do if you removed the responsive class?

[2017-01-12 20:17] acburst commented on #4095
Include some code or a codepen to help us reproduce the problem

[2017-01-12 20:20] acburst commented on #4093
Can't seem to reproduce this locally. Do you have a full code example? Or maybe make a codepen reproducing the issue so I can see it myself.

[2017-01-13 00:34] SimHacker opened #4098 "Select menus don't work if you press down and hold on an item, or click slowly."
### Description
Triggering select menu buttons should respond to mousedown instead of click, just as popping down the menu does.

### Repro Steps
Make a select with some options. Click to pop up the select menu (the material one, not the stock browser one). Move down and see the menu items highlighting under the cursor. Press the button down and hold it without releasing. Notice the menu pops down

[2017-01-13 02:45] donnisnoni commented on #4098
Maybe you must include init.js from materialize.com, you can find it on http://materializecss.com/js/init.js

[2017-01-13 05:42] lorduriel commented on #2660
I´m still having this problem in my production server, but not in loca enviroment.
I tried the @keyscores  answer but still have this problem.
I'm using v 0.97.8

[2017-01-13 08:48] SimHacker commented on #4098
I have already solved the problem by applying the patch I gave above. I am running an older version of materialize, but the current version has the same bug. I don't understand how including init.js could solve the problem, because it does not define any mousedown handlers on the optgroup class, which is required to fix the bug. Clearly the handler should not be on the "click" event, because the "

[2017-01-13 09:16] gervik opened #4099 "FAB toolbar within a card not possible"
Hi everybody,

is there a way to include a FAB toolbar into a card? I've tried to include the code from your site into the div "card-content", but I'm getting a button outside of the card. Do I have to wrap the FAB with a specific div?

Kind regards

[2017-01-13 11:43] kamal0808 commented on #1202
@Dogfalo I am still facing this issue in the latest version. Can you please confirm that this works?

[2017-01-13 12:07] pixxx commented on #4099
This is the standard code you can find in the materialize css
[code]
You gonna have to override the code with yours, I got it working with the below code but I'm addressing the Click-only FAB, but I tried it also with the toolbar one and it worked.

[code]
Only thing I can't get to work is slide it out to the right or any side, right now it's right and slide out to top or left, and going in there

[2017-01-13 12:25] sajera opened #4100 "fonts from js"
### Description
Really need to download fonts using js?

### It cannot be builded correctly
How should look like the building process with the transfer of files? Or add a hash to the file names?

![materialize](https://cloud.githubusercontent.com/assets/8238019/21929790/6d3262fa-d99b-11e6-8e8a-c00a136543a3.png)

[2017-01-13 15:02] gervik commented on #4099
Worked for me! Thank you pixxx!

[2017-01-13 15:03] #4099 closed

[2017-01-13 15:30] sheeput commented on #2028
@FabricioLugao  - How come the validation doesn't work on the first_name?  This is a problem I've run into.  One field works just fine but it seems like it ignores other "required" fields.

[2017-01-13 17:05] Dogfalo commented on #4100
Fonts are not downloaded using js. Most likely you have your font files misplaced.

[2017-01-13 18:06] hudson6666 commented on #4097
Sure but it's just look like. The table will be out of the page range and it will cause scale problems. When you set `width=device-width, initial-scale=1.0` some elements won't be shown and there might be blank at the bottom or right side of the page.

[2017-01-13 18:06] Yulight1401 commented on #1229
I have resolved the problem after replaced js file with the latest version

[2017-01-13 20:41] danielpassos opened #4101 "The ic_business Material Icon bug the Input with Icon Prefixes"
### Description

The [_ic_business_](https://material.io/icons/#ic_business) Material Icon bug the Input with [Icon Prefixes](http://materializecss.com/forms.html#input)

### Codepen

http://codepen.io/danielpassos/pen/LxZdWr

[2017-01-13 20:47] danielpassos commented on #4101
Nevermind I forgot to remove the prefix _ic_

[2017-01-13 20:47] #4101 closed

[2017-01-14 06:53] degs098 commented on #1454
@Jhonatangiraldo you should use angular-materialize https://krescruz.github.io/angular-materialize/ maybe that will save your life in that case hahaha

[2017-01-14 08:31] jpozo20 commented on #4093
I don't know, I tried it in codepen.io and it seems to work fine there.
Will be it perhaps because I'm using requirejs?
I'll try it in an empty project to see.

[2017-01-14 12:46] shmshd12 opened #4103 "How to show a tab on click of a button?"
Hey,

Im confused here. I need to show 2nd or third tab from first on click of the button inside the first tab. I tried to give # link of second tab  to the href but no change.

Could someone help?

[2017-01-14 14:34] fega commented on #2623
When you're using a router, you need to use: $('.materialboxed').materialbox() when the route is mounted.

but in my case, is working in a strange way:

http://www.meloway.com/

try it in the bottom gallery, you can't click twice.

[2017-01-14 22:52] Boournz opened #4104 "Toast position 'jumps' in Portrait mode on medium/large resolutions"
### Description
When displaying a Toast in Portrait mode on a medium to large resolution, the Toast appears on the bottom left of the screen, it then makes a small 'jump' to a new lower position before the timeout dismisses the Toast. This 'jump' in position is not evident in Landsacape mode.

**EDIT**
The issue is also reproducible with the 360x640 resolution in **Landscape** mode

### Repro Step

[2017-01-15 05:24] ahmedtabrez commented on #195
:+1:

[2017-01-15 15:15] tomsutton opened #4105 "Installation woes"
I'm having issues when installing.
I get the following errors in the console:

`C:\App>meteor add materialize:materialize
 => Errors while adding packages:

While loading package fourseven:scss@3.2.0:
error: Command failed:
C:\Users\Admin\AppData\Local\.meteor\packages\meteor-tool\1.4.2_3\mt-os.windows.x86_32\dev_bundle\bin\npm.cmd
rebuild --update-binary
module.js:327
throw err;
^

Error: Cannot

[2017-01-15 15:20] kkremen opened #4106 "noUiSlider is quite old"
noUiSlider that included in Materialize is quite old. The documented API from refreshless.com does not work properly. Please, update noUiSlider to newer one.

[2017-01-15 18:07] tomscholz commented on #4105
Have you tried using an older version of materialize?

[2017-01-15 18:08] tomscholz commented on #4105
And try this: https://github.com/Dogfalo/materialize/issues/2217#issuecomment-268100489
Maybe it works

[2017-01-15 19:34] Dogfalo commented on #4106
Duplicate of #3990

[2017-01-15 19:34] #4106 closed

[2017-01-15 20:45] seabrus opened #4107 "Again "Failed to decode downloaded font" - No new version at Atmosphere yet"
Hi,

It looks like that after
questions #3905, #3411, #2217, and #3849
that were fixed in PR  #4000 23 days ago
one important step was not done - the package was not renewed at the [Atmospherejs](https://atmospherejs.com/materialize/materialize) website:

![1](https://cloud.githubusercontent.com/assets/10603559/21965893/b246c552-db71-11e6-9b36-d5936ec620c8.png)

The version that is present at Atmo

[2017-01-15 21:33] bob-lee commented on #1032
For me, simplest solution was to add style="overflow=visible;" to modal-body as per @Dogfalo comment.

datepicker-append-to-body="true" didn't help as it caused popup shown behind the modal.

[2017-01-16 06:25] nikhilmathew commented on #2717
I got the same problem as well, i have other select on the same page but they are working perfectly fine, only the select belonging to the Data Tables is showing this bug.
Is there a solution?

[2017-01-16 10:29] Nohinn commented on #4103
With no more info the only thing we can recommend to you is to take a look at the documentation:

`$('ul.tabs').tabs('select_tab', 'tab_id');`

[http://materializecss.com/tabs.html#method](http://materializecss.com/tabs.html#method)

[2017-01-16 10:41] Nohinn commented on #4077
Hello @davodavodavo3, I have updated your example:
https://jsfiddle.net/sj2tm8cd/39/

To sum up. Put `display: none` to your `.dropdown-button::before` CSS declaration. Then add this:
`.dropdown-button.active::before {display: inline}`

[2017-01-16 10:44] davodavodavo3 commented on #4077
Hello Nohinn))) I dont want to display none arrow taht is in the button, i wont to show arrow that is in the content menu top))))

[2017-01-16 10:45] davodavodavo3 commented on #4077
Thank you but I have found a solution.

[2017-01-16 11:13] #4103 closed

[2017-01-16 13:00] DetlefPeters opened #4108 "Typescript definitions need update"
[code]
The typescript definitions are still based on v0.97.5
Due to the changes in Modal API, it is impossible to use latest version 0.97.8 with typescript :-(

Please update your materialize-css.d.ts.

[2017-01-16 13:39] larnacoeur commented on #2717
I made it work in very dirty way.. I'm currently detaching whole UL from DOM and attaching it again after 200ms. Something like this:
[code]
maybe it'll help you :)

[2017-01-16 14:10] #4077 closed

[2017-01-16 15:18] umervservices commented on #4064
untill it's not updated i am using

$('.indicators li').addClass('disabled')
setTimeout(function(){
	$('.indicators li').removeClass('disabled');
},1500)

to disable click on indicators

[2017-01-17 00:32] lonniev commented on #227
This looks a little better to me in my layout:

`<a class="btn-flat right waves-circle"><i class="material-icons">close</i></a>`

[2017-01-17 07:00] WebDoin opened #4109 "Material Select on Dialog (Modal) not show correctly (z-index)"
Hi, i have a modal with a material select but this not show correctly. ¿what happen?

![error_modal](https://cloud.githubusercontent.com/assets/11144445/22010675/090e4bb6-dc8b-11e6-917b-5f823ce0ea0c.jpg)

Thanks

[2017-01-17 09:22] PxyUp opened #4111 "Modal window"
Modal window load in DOM three when button was clicked, not initilize with page load, and delete from DOM tree, because any framework can't reload component(1.5 angular, react)

[2017-01-17 15:10] johndevor opened #4112 "While installing fourseven:scss@3.2.0 dependency - 404 error"
[code]

[2017-01-17 15:14] johndevor commented on #4112
Using meteor 1.4.2.3

[2017-01-17 17:03] seabrus commented on #4107
Hi,

As far as I can understand, most Meteor-programmers use your package as a local one with all required modifications they need. So, maybe it would be better just to remove the package from the Atmosphere website? This will stop that issues which are opened again and again like "While installing fourseven:scss@3.2.0 dependency - 404 error" #4112 etc. Instead, you may mention in README that the

[2017-01-18 02:55] carlosbate commented on #1515
+1

[2017-01-18 12:40] DavidUnzue commented on #2635
Still having this issue with v0.97.8 ...

[2017-01-18 13:22] jpt007 commented on #901
@sly7-7 - Looks like if you have more than one select list vertically, opening the drop down below and then opening the one above causes layering issues with both dropdowns. Didn't know if you experienced this issue and potential workarounds.

[2017-01-18 15:36] ngooide commented on #3929
another may works which work for me is

.carousel.carousel-slider {
  top: 0;
  left: 0;
  **height: calc(100vh);**
}

[2017-01-18 15:42] kuzeko commented on #3929
`calc` and `vh` support are far from  ideal

http://caniuse.com/#search=calc
http://caniuse.com/#search=vh

[2017-01-19 08:50] developeranirudhprabhu commented on #4111
@PxyUp can you provide a code pen of what you are exactly trying to do?

[2017-01-19 10:29] developeranirudhprabhu commented on #4095
@metalized Can you provide a code pen for this?

[2017-01-19 10:30] developeranirudhprabhu commented on #4109
@WebDoin Can you provide a codepen for this?

[2017-01-19 15:41] huang-da commented on #3549
I'm having the same problem, does anyone have the answer? :/

[2017-01-19 16:56] SulphurDioxide opened #4114 "textarea label unaffected by class='active'"
### Description
When taking the example code straight from the docs with the latest version of Materialize, I cannot get the label to sit in the raised 'active' position. When the label has the following class `class='active'`, unlike the other fields, it doesn't move to the expected position.

If we add the class to the label when `$('document').ready(...` with code like this `$('.input-field lab

[2017-01-19 19:18] Dogfalo commented on #4015
Fixed in 76a6ee4

[2017-01-19 19:18] #4015 closed

[2017-01-19 19:37] Dogfalo commented on #3941
Fixed in a0a09ca

[2017-01-19 19:37] #3941 closed

[2017-01-19 19:58] Dogfalo commented on #3923
Fixed in dbf25fa

[2017-01-19 19:58] #3923 closed

[2017-01-19 20:01] Dogfalo commented on #4112
Seems like this should be reported to fourseven/meteor-scss instead.

[2017-01-19 20:01] #4112 closed

[2017-01-19 20:03] #4100 closed

[2017-01-19 20:12] Dogfalo commented on #4096
Fixed in a7f4c87

[2017-01-19 20:12] #4096 closed

[2017-01-19 20:14] Dogfalo commented on #4074
Fixed in 5b0cd39

[2017-01-19 20:14] #4074 closed

[2017-01-19 20:45] Dogfalo commented on #4104
Fixed in 1f3377c

[2017-01-19 20:45] #4104 closed

[2017-01-19 20:46] Dogfalo commented on #4068
Can you provide us with a codepen so we can easily test and try to fix the issue?

[2017-01-19 20:51] Dogfalo commented on #4054
I tried putting in your code into the codepen, but it didn't really illustrate the problem to me. I'm unsure of what exactly you are trying to do with the layout, but I think you can use some of the grid classes for a cleaner layout.

[2017-01-19 20:51] #4054 closed

[2017-01-19 20:52] Dogfalo commented on #4108
We do not maintain a typescript version.

[2017-01-19 20:52] #4108 closed

[2017-01-19 20:55] Dogfalo commented on #3992
Please ask support questions on Stack Overflow

[2017-01-19 20:55] #3992 closed

[2017-01-19 21:37] siderisltd commented on #872
Hey I know its been a long time since the question is posted but I've just got the same issue with the gray screen. I was literally copy pasting the example in the materialize library. Then I tried to downgrade the materialize. Just to be clear there are no errors in the console, I was trying to run it on plnkr. In my case I was also referring to jqueryUI which script reference was under materiali

[2017-01-19 21:38] Dogfalo commented on #3990
Updated to 9.1 in 7992168

[2017-01-19 21:38] #3990 closed

[2017-01-19 21:38] siderisltd commented on #872
It can't be used at all combined with JQueryUI

[2017-01-19 22:57] Dogfalo commented on #4098
a press and hold is NOT a click and should not click the item. a long press is a standard behavior in basically every mobile OS.

[2017-01-19 23:11] SimHacker commented on #4098
I disagree. The current behavior is not correct, and leads to missed menu selections, which is terrible.

There is a continuoum between clicking and pressing and holding, and the problem is with quick clicks that are not quite quick enough, as well as pressing and holding, which is just the extreme case. The huge problem is with the edge case, between quick click, and a not-quite-quick-enough clic

[2017-01-19 23:22] SimHacker commented on #4098
Please walk down to Newell-Simon Hall 3517 and ask my colleague Brad Myers to explain transition diagrams, which he touches on in these slides:

http://www.cs.cmu.edu/~bam/uicourse/05440inter/lecture10.models.pptx

Also see the paper he recommends:

William Buxton, "Lexical and Pragmatic Considerations of Input Structures," Computer Graphics, January, 1983, (17)1, pp. 31-37.
http://dl.acm.org/cita

[2017-01-20 02:09] Dogfalo commented on #4098
Unless I am mistaken, the behavior of the of the select menu items is the same as a regular link or button on any website. I tested this on android and a medium-fast click as you described will still activate the selection unless you mistakenly move your touch away from its origin before releasing.

[2017-01-20 10:53] developeranirudhprabhu commented on #3923
@Thanood Can you check the latest fix and confirm?

[2017-01-20 14:00] marc0tjevp opened #4115 "Second scrollbar when opening materialboxed image in modal"
### Description

When I open a materialboxed image within a modal, a second scrollbar appears inside the modal.

### Repro Steps

1. Open a modal
2. Open a materialboxed image inside the modal
3. Close the materialboxed image

### Screenshots

![image](https://cloud.githubusercontent.com/assets/6429926/22151993/f040c1e8-df20-11e6-95b4-d476d5a23573.png)
**Before opening the image.**

![image](https

[2017-01-20 14:05] marc0tjevp commented on #4070
Do you fill the table dynamically? If so, it's necessary to initialize the jQuery plugin.

See: http://materializecss.com/dropdown.html

[2017-01-20 14:25] lordplagus02 commented on #4070
Nope, the table is loaded with the page

[2017-01-20 14:44] mirandadp commented on #4071
sorry,  I´m a mistake. It's to another place...

[2017-01-20 14:44] #4071 closed

[2017-01-20 14:57] marc0tjevp commented on #4070
Could you share your code in a CodePen?

[2017-01-20 16:20] SimHacker commented on #4098
There are two processes going on, and both processes need to be triggered on the same kind of event. One process is showing and hiding the menu. The other process is selecting the menu item.
It does not make any sense to talk about comparing the way pop up menus behave with the way regular links behave. Regular links are not like pop up menus.

When you press down on a normal link, no menu pops up

[2017-01-20 16:59] SimHacker commented on #4098
If you still don't understand what the problem is, I will make a screencast that demonstrates it. Is this explanation that I have given you so far detailed and explicit enough, or should I made a screencast demonstrating the problem?

[2017-01-20 19:20] SimHacker commented on #3909
This is probably caused by the fact that selects often ignore user input, as described in this bug report I filed:
https://github.com/Dogfalo/materialize/issues/4098

Please re-open that bug report. It describes an input event tracking problem that causes select menus to ignore the item you select, if you don't click on it very quickly, or if you press down and drag.

To demonstrate this, try popp

[2017-01-20 19:25] SimHacker commented on #3922
yanickrochon wrote: "My opinion is that jQuery may help reduce the size of this framework."

Uuuuh, at the expense of adding a much larger framework, and necessarily tying you to it even if you want to use a different framework.

The fact that you just don't buy it doesn't mean that it isn't actually true that jQuery is slow and bloated and complex. It is. And many people have moved on from it to

[2017-01-20 19:38] SimHacker commented on #2843
This is probably caused by the fact that selects often ignore user input, as described in this bug report I filed:
https://github.com/Dogfalo/materialize/issues/4098

Please re-open that issue, and mark this as a duplicate. I described and fixed an input event tracking problem that causes select menus to ignore the item you select, if you don't click on it very quickly, or if you press down and dr

[2017-01-20 19:42] SimHacker commented on #1160
This is probably caused by the fact that selects often ignore user input, as described in this bug report I filed:
https://github.com/Dogfalo/materialize/issues/4098

Please re-open that issue, and mark this as a duplicate. I described and fixed an input event tracking problem that causes select menus to ignore the item you select, if you don't click on it very quickly, or if you press down and dr

[2017-01-20 20:26] dima74 opened #4116 "Center modal vertically"
### Description
Could you please explain, how I can center modal vertically? If I set "ending_top: 50%" it isn't center vertically, it is a little lower.
Screenshot, black rectangle is the area where I want the modal to be:
![image](https://cloud.githubusercontent.com/assets/6505554/22163995/5115460c-df66-11e6-82a3-47577022d11b.png)
And here is where modal be if I set "ending_top: 50%":
![image](h

[2017-01-20 21:11] Dogfalo commented on #4116
You would have to add `transform: translateY(-50%);` to the modal. This shifts it up by half of the modal's height. You may run into some problems of that style being overwritted by JS though. Maybe we will look into making this a bit easier.

[2017-01-20 21:13] Dogfalo commented on #4066
We want to keep utility classes very simple and in this case making these particular ones not work on only mobile may be confusing.

[2017-01-20 21:13] #4066 closed

[2017-01-20 21:50] Dogfalo commented on #4098
I see the scenario you are talking about now, thanks for the explanation. I was under the wrong impression that you were talking about mobile. In the future, please keep the discussion more focused on reproduction of the problem. The issue here was that I was misunderstanding problem not that I do not believe or know good UI practices.

[2017-01-20 21:53] Dogfalo commented on #3909
This is not the same issue @SimHacker. This is due to the fact that the material select is not a <select> element. So you have to put the click handler on the select element that is created in JS or use an onchange event if that suits your needs better.

[2017-01-20 21:53] #3909 closed

[2017-01-20 21:55] Dogfalo commented on #1160
As materialize was not made to work specifically with React, I can not be sure of the exact problem here. You can try this library however, it may help in this scenario: https://github.com/react-materialize/react-materialize

[2017-01-20 21:55] #1160 closed

[2017-01-20 22:00] Dogfalo commented on #2843
It sounds like @Thanood may be right in that we are not firing the browser onchange event properly. Will look into this.

[2017-01-20 22:23] kpingel commented on #901
@sly7-7 -- Your fix worked, but makes it so that you can no longer begin typing to jump to a specific dropdown option. :(  Thoughts?

[2017-01-21 03:17] djensen47 commented on #1996
I would be really nice if something like the .dont-collapse class as suggested by @blahah were included in the framework.

[2017-01-21 11:00] pdf commented on #3146
I had to hack the code to explicitly set `Picker` on `window`, ie - `window.Picker = factory( ...`, and I'm just concating the generated dist files - no modules, loaders, transpilers, etc, so there's clearly something wrong here.

[2017-01-21 12:06] eutervogel commented on #1453
So here is what I did:

`function closetoast(){
			$('#toast-container').fadeOut();
		};`
`Materialize.toast('Toasttext <a  onclick="closetoast()" href="#!">X</a>', 5000);`

[2017-01-21 15:55] pdupavillon opened #4117 "Truncate title in image card not working"
Hi,
I'm using the image card component with long titles.
When I apply the 'truncate' class on it, the title still exceed the card's width.

Please find below the codepen to reproduce the issue.

http://codepen.io/pdupavillon/pen/EZmPqo

[2017-01-21 16:34] jes5e opened #4118 "For a fixed side-nav, "closeOnClick" hides the side-nav even in a large browser window"
### Description
When you have a fixed side nav it is hidden only in med and lower browser windows. If you use closeOnClick = true, then selecting a link in the sidenav will close the side nav (translate it off screen). The problem is that when you have a large browser window, the side nav is not hidden (it is fixed on the side and always displayed), but clicking a link on it still causes it to be

[2017-01-21 18:14] denisg-g commented on #145
I have the same problem and i found that it was because turbolinks is disabled i have to make another app to realize it

[2017-01-21 21:49] dima74 commented on #4116
@Dogfalo, thank you for answer!
I added `style="transform: translateY(-50%) !important;"` to modal div but it didn't work. Also I tried to do this from javascript: `$('#modal2').css('transform', 'translateY(-50%)');`, but this also didn't work. So as you say there is some problem with overwritting by JS. Could you please check that I did (http://codepen.io/anon/pen/WRjRxM) and maybe there is anoth

[2017-01-21 23:34] taorg commented on #473
I do agree about it, it's vert nice, but it lacks some functionality
You can't change easly year  (current datepicker it's also a bit buggy about)
I would be nice to have a single datetime picker field.
And maybe a range picker.
Anyway this seems much better than current solution.

[2017-01-22 07:41] vito8916 commented on #4118
Try this:
Init a side nave with `closeOnClick = false`
Use the method `onClick=""` in the `<li>` tag or `<a>` tag of the SideNav to call the function I'll let down.

`function hideMenuOnClick(){`
   ` if(window.innerWidth <= 992){`
		`$('.button-collapse').sideNav('hide');`
	`}`
`}`

Maybe not the best solution but in my case it worked.

[2017-01-22 08:22] ronencamera opened #4120 "Modal upgrade"
when upgrading to 0.97.8 from 0.97.7 modal stops working. and i am receiving an error.

I am calling the

Uncaught TypeError: $(...).openModal is not a function

[2017-01-22 09:18] Dogfalo commented on #4120
The modal API was changed to be more consistent with the other plugins
`$('#modal1').modal('open');`

[2017-01-22 09:18] #4120 closed

[2017-01-22 09:55] Nexus2116 commented on #2949
window.$ = window.jQuery = require('materialize-css/node_modules/jquery/dist/jquery.js');
require('materialize-css');

[2017-01-22 12:28] ronencamera commented on #4120
Well there are more breaking changes my friend. I am using it with angular.io

[2017-01-22 14:14] jes5e commented on #4118
Thanks for the workaround suggestion. I'm doing something similar to that in my app for now ;-)

I'm hoping they will just accept my pull request though so I can ditch the workaround!

[2017-01-22 18:04] artemhp commented on #1676
I have the same issue in Angular2.
I have fixed it by @radimhornicek hook:

`ngOnInit() {
    $('.button-collapse').sideNav({
      menuWidth: 300,
      edge: 'left',
      closeOnClick: true,
      draggable: true
    });
    $(".drag-target").on("swipeleft", function () {
      $("#sidenav-overlay").trigger("click");
    });
  }`

[2017-01-22 19:33] Supremex opened #4121 "Slider does weird stuff when being touched while scrolling"
### Description
When you scroll down, and while you're scrolling touch the slider, the slider pops a bit to the left. I don't know why that happens.

### Repro Steps
Go to my website on a mobile device. www.evidegraphics.com
Keep scrolling down and when you see the slider, place your finger on it and scroll further. (Just like you would normally scroll down a website on the right side of the scree

[2017-01-22 20:04] acburst commented on #4087
Fixed in 71180ca

[2017-01-22 20:04] #4087 closed

[2017-01-22 20:04] acburst commented on #4121
Fixed in 71180ca. You'll need to download our latest files to have access to the fix though

[2017-01-22 20:04] #4121 closed

[2017-01-22 21:21] acburst commented on #4117
Fixed in 048bbf2

[2017-01-22 21:21] #4117 closed

[2017-01-23 11:33] Nohinn commented on #4116
@dima74 right now, until there is some sort of option in the modal configuration for it, there are two options:

1) You should put that `$('#modal2').css('transform', 'translateY(-50%)');` into the ready callback of the modal to avoid the css overwrite.

`  $('#modal2').modal({ending_top: '50%', ready: function(modal) {modal.css('transform', 'translateY(-50%)'); }});`

But this option creates a no

[2017-01-23 13:06] dima74 commented on #4116
@Nohinn, thank you a lot!
Your solution works.
Also I noticed, that if I only put `#modal2 { transform: translateY(-50%) !important; }` to css (not inline as I tried before) then It works too (http://codepen.io/anon/pen/PWjwmB).
Thanks again!

[2017-01-23 13:06] #4116 closed

[2017-01-23 13:29] kowap opened #4122 "Project is live?"
### Description
Add a detailed description of your issue.

### Repro Steps
Layout the steps to reproduce your issue.

### Screenshots / Codepen
Add supplemental screenshots or code examples. Look for a codepen template in our Contributing Guidelines.

[2017-01-23 14:03] vinibiten opened #4123 "TextArea AutoResize and HiddenDiv"
I had a problem with this part of code when there are other hiddenDivs in <body>.
The variable "hiddenDiv" gets my HiddenDiv (first()) and edit it. I didn't see any issue talking about this hiddenDiv.

I'm using the version 0.97.7

Using a hiddenDiv (with some content that will be used later) in body and trigger AutoResize of textarea.

// Textarea Auto Resize
        var hiddenDiv = $('.hiddendiv

[2017-01-23 17:45] Farki commented on #2522
Hi guys,

fix is here! Just replace forms.js with this:
https://gist.github.com/Farki/7f4ed52d95ef8f4fd8bf8e3377bb69e2

Credits: IT Ipsos.cz

[2017-01-23 18:49] thalesmiguel opened #4124 "material_select() default text options on initializer"
Hi. I'm wondering if there is a way to change material_select() default behavior directly on the initializer.
As for now, when I call `$("select").material_select()`, the first **`option`** on my **`select`** is always "_Select value_".
I'd like to change this text as I am initializing the select. Something like
`$("select").material_select(function(){
  placeholder: "Filter"
})`

[2017-01-23 20:03] Dogfalo commented on #4122
Yes it is always live

[2017-01-23 20:03] #4122 closed

[2017-01-23 23:09] AustP commented on #3894
I just ran into this issue as well. Not only does this happen with selects but the datepicker widget as well.

[2017-01-24 03:26] patrickdundas opened #4125 "Materialize Website footer tweet count cutoff"
### Description
Regarding the public Materialize website, found at www.materializecss.com:

The footer section holding the share links for github, google plus, and twitter cuts off the share count for tweets.

### Repro Steps
To reproduce the issue:

1. Visit www.materializecss.com
2. Scroll to the footer section of the page
3. Under the "Connect" section, look at the twitter share button
4. The s

[2017-01-24 06:02] imdivakar opened #4126 "Date Range Picker Example"
Hi, I want to build a Date Range Picker in my application is there any sample code available?

[2017-01-24 06:22] HazyNightmare commented on #4125
Just sent in a PR fixing this issue.

[2017-01-24 11:38] Nohinn commented on #4124
`<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>`

Changing the text of the disabled option. That is what material select should show by default

[2017-01-24 11:50] Nohinn commented on #4090
@MickaelH974 You can try and use this until there is something easier to use (if such a function is implemented ever):

`$('.carousel').find('.carousel-item[style*="z-index: 0"]')`

That will return the top most carousel-item (the active one).

[2017-01-24 12:18] michaelspeed commented on #3256
did you manage to run the js without the module?

[2017-01-24 21:08] MacGyer opened #4128 "discussion: material_select reset button?"
Hi @all,

just played around with the Materialize <select> and material_select().
Having created the select list strictly according to documentation, especially the "Choose your option" element, I was wondering whether it is useful to provide a "clear selection" button.

When creating "Choose your option" as disabled option like stated in the docs, it is not possible to change back to the placehol

[2017-01-24 21:10] MacGyer commented on #4128
hmpf... all line breaks are gone. Aren't able to restore them... Sorry for that.

[2017-01-24 21:35] acburst commented on #4125
Merged

[2017-01-24 21:35] #4125 closed

[2017-01-24 23:57] smoonwalkerm commented on #2734
any solution ?

[2017-01-25 05:35] jacobau opened #4129 "Close dropdown click handler fires every click even after the dropdown closed"
I am creating a script that allows a user to select multiple values from a `material_select()` select box and then trigger some code after the users presses outside the select box.

A close handler was added to the `input.select-dropdown` element and would keep triggering even though the select dropdown had already been closed.

I will update this issue later with a more detailed description/jsfid

[2017-01-25 07:23] kin-for-test opened #4130 "when using responsive-table , colspan for <td> not working in mobile size"
i have the table using the class   responsive-table   ,
in normal size ( > 1024) , the attr colspan is working  , but when i change the size to <768 , the colspan become not working , is that any ways to make it work in mobile size?

[2017-01-25 07:58] acburst commented on #4090
Added active class to center carousel item in 7e51730

[2017-01-25 07:58] #4090 closed

[2017-01-25 10:11] RukGas opened #4131 "how can I include scss file in angular-cli file ?"
### Description
I downloaded the materialize-css code and add to my assets folder. And gave file path on angular-cli file like this.
"styles": [
"assets/materialize-src/sass/materialize.scss",
"styles.scss"
],
"scripts": [
"assets/materialize-src/js/bin/materialize.js"
],

When I build it showing this error.

ERROR in multi scripts
Module not found: Error: Can't resolve 'C:\Users\Rukshika\admin-de

[2017-01-25 12:53] riteshzefo commented on #1515
+1

[2017-01-25 12:53] aravindcraj opened #4132 "File Input is not working when the file is open"
`<div class="file-field input-field" style="width: 520px">
                    <div class="btn light-blue darken-2">
                        <span>Excel File</span>
                        <input type="file" width="120" name="file" multiple="multiple" id="fileXLS" accept=".xls,.xlsx">
                    </div>
                    <div class="file-path-wrapper">
                        <input clas

[2017-01-25 12:55] alescdb opened #4133 "scss to css failed with dart_sass_transformer"
### Description
Building scss with `dart_sass_transformer` (https://pub.dartlang.org/packages/dart_sass_transformer) via `pub build` failed because of the points (.) in the filenames of default.date.sass and default.time.sass.

Renaming files with an underscore (or a dash) resolve this issue.

### Screenshots / Codepen
[code]

[2017-01-25 13:17] kmmbvnr commented on #4133
This sounds more like issue for `dart_sass_transformer`

[2017-01-25 13:50] alescdb commented on #4133
It seems to be.
But it may happen with other scss tools, because the '.date'/'.time' can be mistaken for a file extension.
Also, all other scss files in materialize have a dash or an underscore, it might not cost a lot to rename this two files (it's only a suggestion).

[2017-01-25 14:29] TomFreudenberg commented on #1861
Hi @chi-bd thanks for post

I have made some improvements, now it look pretty nice to me.

[code]

Cheers
Tom

[2017-01-25 14:40] hfrid commented on #4086
+1 really need IDs... now I need to first match a string then make another db-call to fetch the ID :(

[2017-01-25 17:35] Isapour opened #4135 "tabs"
hi, i use rtl direction but why this happened?

![untitled](https://cloud.githubusercontent.com/assets/20435437/22301899/dbf5678c-e341-11e6-9adc-d1532ce97f39.jpg)

[2017-01-25 18:05] Dogfalo commented on #4131
Please ask support questions on Stack Overflow

[2017-01-25 18:05] #4131 closed

[2017-01-25 19:19] djensen47 commented on #4086
I ended up building my own autocomplete from scratch to support IDs. It's built using Aurelia, however, so it might not be helpful to you unless you're using Aurelia.

[2017-01-25 19:40] #4107 closed

[2017-01-25 19:42] giantas opened #4136 "Links on Horizontal FAB buttons in mobile devices not working"
I am using a click-only horizontal FAB (which functions as hover on pc) which opens up other FABs that point to external links. However, on mobile devices, the links just open up a new tab and that's all without opening up the link. Here is the code:

`<div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large red">
              <i class="fa fa-share-alt"></i>

[2017-01-25 21:26] JeffMatson commented on #2414
+1

[2017-01-25 22:37] juniorsatanas opened #4137 "active preloader ?"
How do I activate the loader? In a button event?

<div class="fixed-action-btn vertical">
    <div class="prefix" name="teste" id="teste">
        <div class="preloader-wrapper big ">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">

[2017-01-25 23:02] Dogfalo commented on #4137
It doesn't need activation, it's animation is done through CSS. Just show it and hide it appropriately in your app.

[2017-01-25 23:02] #4137 closed

[2017-01-25 23:28] MuhsinunCool opened #4138 "[Solved] Dropdown "belowOrigin" Option Doesn't Work Unless Text Is Given"
### Description
Title says it all. The dropdown's "belowOrigin" option doesn't work if there's no text in the entry or the "a" tag. I put a material icon with no text and it shows the icon and such. However, when I open the dropdown, the dropdown is displayed on top of the origin instead of showing up below it.

### Repro Steps
Simply use no text in the dropdown opening's "a" tag and instead just

[2017-01-25 23:31] Edux87 commented on #1742
@ka05 yes this work for me, but i add a few dependencies:
[code]

[2017-01-25 23:35] Dogfalo commented on #4138
This is because if you have no text and only an icon that is floated right, the dropdown has no height. The solution is to not float the icon inside or give the button a height.

[2017-01-25 23:35] #4138 closed

[2017-01-26 09:17] oyed opened #4139 "0.98.0 NPM"
### Description
0.98.0 hasn't been published to NPM yet.

[2017-01-26 10:05] akelmj commented on #1537
set data-tooltip using jquery not woking:

javascript:
    $('.tooltipped').tooltip({delay: 50,tooltip:"I am tooltip"});

html:
  <a class="btn tooltipped" data-position="bottom" data-delay="50"   >Hover me!</a>

[2017-01-26 13:07] taorg commented on #4139
Yes, please, npm it's become a standard to manage resources.
Thx

[2017-01-26 14:30] odelbos commented on #2656
Yes, it's possible, I found it reading the source code of `model.js`.
You have to register a listener to your 'Agree' and 'Disagree' buttons or href waiting for the event : 'click.close'.

[code]

[code]

[2017-01-26 16:33] jboscosimj opened #4141 "autocomplete"
### Description
Add a detailed description of your issue.

### Repro Steps
Layout the steps to reproduce your issue.

### Screenshots / Codepen
Add supplemental screenshots or code examples. Look for a codepen template in our Contributing Guidelines.

[2017-01-26 17:19] nurulnabi opened #4142 "not able to provide height to div element via css"

[2017-01-26 18:09] jrioromero commented on #3872
@acburst The issue is still there with the new version 0.98.0 and you can reproduce it here: http://materializecss.com/

In fact, it appeared in the version 0.97.8 (it was working correctly in 0.97.7).

Regards

[2017-01-26 18:31] #4142 closed

[2017-01-26 19:48] Dogfalo commented on #4141
Please describe the issue.

[2017-01-26 19:48] #4141 closed

[2017-01-26 20:06] nurulnabi opened #4143 "modal is not working"
[code]

[2017-01-26 20:08] Dogfalo commented on #4143
http://materializecss.com/modals.html#initialization
In the future please be more descriptive with issue reports.

[2017-01-26 20:08] #4143 closed

[2017-01-26 20:11] Dogfalo commented on #4139
It is published now!

[2017-01-26 20:11] #4139 closed

[2017-01-26 22:27] stap123 commented on #4135
Can you post your html?

[2017-01-27 06:01] Dogfalo commented on #4126
Take the example from the documentation and just make two of them, start date and end date.

[2017-01-27 06:01] #4126 closed

[2017-01-27 06:02] Dogfalo commented on #4105
Please try the newest version v0.98.0

[2017-01-27 06:56] nardsqq opened #4144 "Materialize Modal Not Working On Laravel 5.4"
### Description
I tried using Materializecss as a substitute for Bootstrap. I included the assets needed (stylesheets and scripts) on my app.blade.php file (master blade file) and yielded the content section from another blade file (index.blade.php).

### Screenshots / Codepen
  -app.blade.php
![1](https://cloud.githubusercontent.com/assets/21337635/22362925/7764a3da-e4a1-11e6-8b2a-05c53733f8aa.jp

[2017-01-27 07:04] Isapour commented on #4135
`<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/materialize_rtl.css">
    <link rel="stylesheet" href="css/materialize_customize.c

[2017-01-27 07:21] kmmbvnr commented on #4144
duplicate #4008

http://materializecss.com/modals.html

[code]

[2017-01-27 07:26] Isapour commented on #4135
this is my code

![untitled](https://cloud.githubusercontent.com/assets/20435437/22363348/1785a404-e47f-11e6-82e1-02200b912ad2.jpg)

[2017-01-27 09:32] splincode opened #4145 "Syntax error"
### Description
If you open page http://materializecss.com/dropdown.html and copy code "jQuery Plugin Initialization" and past console browser

[code]

I have syntax error in line " alignment: 'left' "

### Screenshot
![1485509501069](https://cloud.githubusercontent.com/assets/12021443/22366219/945d1298-e48c-11e6-8c75-7c348d52fc36.jpg)

[2017-01-27 11:09] lodow commented on #2319
I have the same issue on iOS. Do you have any update about it ?

[2017-01-27 13:26] rossrankin commented on #2319
There's no proper fix but you can add the class 'browser default' to the input to get it working.

This is explained about 1/3 of the way down this page: http://materializecss.com/forms.html

[2017-01-27 13:58] gewisser opened #4146 "Compact buttons"
### Description
Please add to the class styles:
[code]
Adding class to the buttons, you can make them smaller

### Repro Steps

Demonstrate issue. https://jsfiddle.net/ak5yuf00/12/

[2017-01-27 14:26] metalcamp commented on #4146
You should make a pull request.
https://www.atlassian.com/git/tutorials/making-a-pull-request

[2017-01-27 14:32] trentramseyer commented on #4144
Not an issue with materialize, issue with your code.

[2017-01-27 15:48] Nohinn commented on #4145
Missing a comma after ´'left'´. You should make a pull request fixing this issue

[2017-01-27 16:40] Kravennagen opened #4147 "textarea, can't write in it"
Hello,
I use materialize, and I put the textarea into my HTML, it is displaying but I can't write ! And I really don't anderstand why.
I put the code:
`<li>
                <div class="collapsible-header"><span class="badge">Etape1</span><i class="material-icons">place</i>First</div>
                <div class="collapsible-body">
                  <div class="row">
                    <form class=

[2017-01-27 17:10] hatumai commented on #2522
Any reason this isn't fixed in the main materialize project?  Anyone have any idea what PR there was to fix this?

[2017-01-27 19:43] Dogfalo commented on #4145
Fixed in 453efd027bcbe42909da7ba650f6c4402714f5c5

[2017-01-27 19:43] #4145 closed

[2017-01-27 19:48] Dogfalo commented on #4147
Please recreate your bug in the codepen link that was given in the Issue template

[2017-01-27 20:19] Dogfalo commented on #4114
Strange, I'll definitely take a closer look at this

[2017-01-27 21:21] CiccaGuru opened #4148 "Swipeable tabs showing half-page width"
### Description
On my website I had some tabs in header. I just added {swipeable:true} to the tab init function, but now the tab divs are displayed not in full width.

[2017-01-27 21:22] AustP commented on #4109
@developeranirudhprabhu This also happens with date picker inputs inside the modal. Here is some HTML that you can see this on:

[code]

[2017-01-27 21:40] mchalakov commented on #4148
I found this in materialize.css to be causing the problem:
`.carousel .carousel-item {
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}`

[2017-01-27 21:42] diegodesouza opened #4149 "place .chips in $(document).ready in order for it to work?"
### Description
I'm using trying to use chips feature in my Angular 1.X app, and the `.chip` class works as expected but not the `.chips`, well not until I place it in a `$( document ).ready(function({}` inside my controller, where I'm instantiating the chips. There should be a better way to handle this; and if there is please let me know.

I'm using the version 0.98.0 materialize.

[2017-01-27 21:43] CiccaGuru commented on #4148
I suspected something in css, but it seems the same of the example on the site, but the example works.

I tried to make a simpler example just copying and pasting from the exaple and I'm getting that: http://codepen.io/anon/pen/qRVmNq

[2017-01-27 21:50] CiccaGuru commented on #4148
I just changed that width value you suggested to "100%" and it's now working. Haven't figured out how to correct the height value, though

[2017-01-27 22:12] mchalakov commented on #4148
Exactly the same problem here.
Tried it also ,the height is the problem now.

[2017-01-27 22:18] CiccaGuru commented on #4148
I managed to do like that:
`.tabs-content.carousel {
  height: 100%;
  overflow-x:hidden;
  overflow-y: scroll;
}
.tabs-content.carousel .carousel-item {
  width: 100%;
  height: 100%;
}
html,body{
overflow:hidden;
height:100%;
}
`

[2017-01-27 22:26] ssinyagin opened #4150 "Allow labels in navbar"
I need to display some informational text in navbar, but if I simply do an `<li>Some text>/li>`, it's displayed with zero margins, and only the `A` elements get proper padding.

I would propose to extend the CSS to allow simple `span` or `label` elements within the `LI` items, and set the same padding and display properties as for `A` links.

[2017-01-27 22:45] Dogfalo commented on #4149
Well you can probably also use the `angular.element(document).ready()` but yes this is required

[2017-01-27 22:45] #4149 closed

[2017-01-27 23:07] mchalakov opened #4151 "Swipeable tabs swipe threshold"
Can you add minimal swipe threshold for the swipeable tabs?
If you have an image slider in one of the tabs, it becomes unusable - it always switches to the next tab.
An option for the minimal distance required before recognizing would be great.
Or an option to specify on which element the swipe gesture to switch tabs is active.

[2017-01-27 23:26] taorg commented on #3879
I've seen your example and is awesome.
Could you submit a PR or share your code, please?
Thx

[2017-01-27 23:37] taorg commented on #3879
Ok you use fuse.js I go it, thx

[2017-01-27 23:46] Gsuz commented on #4105
I'm getting similar error on mac os x with v. 0.98.0

`=> Started proxy.
=> Started MongoDB.
=> Errors prevented startup:

   While loading package fourseven:scss@3.2.0:
   error: Command failed:
   /Users/borkur/.meteor/packages/meteor-tool/.1.4.2_3.1rd9djy++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/bin/npm
   rebuild --update-binary
   Cannot download
   "https://github.c

[2017-01-28 01:09] Dogfalo commented on #4151
I think instead the image slider should be stopping the propagation of the event. Are you using the carousel in materialize?

[2017-01-28 03:16] bkrajendra commented on #4086
Autocomplete Pushes other content down looks like non standard behavior.
I fixed it by adding CSS:
[code]

[2017-01-28 06:01] milonas115 opened #4152 "Click Events"
I know this issue has been repeated over and over, but I just want to throw it out there again since I am staring at a mobile first framework with zero regard to mobile JavaScript.

**Click Events**

On iPhone/iPad Safari, half of your click handlers are NEVER called because the browser will not trigger them on non-link elements. Instead of doing proper mobile event handling (combining touchstart/

[2017-01-28 07:13] Dogfalo commented on #4152
Yes we'll get these fixed for the next release. Which other components were not working for you besides material select?

[2017-01-28 10:42] mihaibogdan10 commented on #4139
Given the change to camelCase to the plugin options, this should've been a major version upgrade in my opinion. It's a serious breaking change.

[2017-01-28 12:05] olivertylsar commented on #3872
Same problem here. I wrote this issue here first yesterday. https://gitter.im/Dogfalo/materialize Then found out there's the same issue already being discussed. Would be nice to have it fixed. Do you know how often these little updates come out, so when could it be possibly fixed?

[2017-01-28 17:56] mchalakov commented on #4151
I'm using royalslider and another plugin for pinch to zoom a map(image) .
Very basic example of my structure:
[code]
If I could set swipe tab threshold to a certain value so it won't be triggered from the slider.Or if it could be triggered only on <div id="news"></div> .I think it would be useful either way cause now it's too sensitive.

[2017-01-28 18:46] jrioromero commented on #3872
Ok guys, it worked for me, but partially.

@JSMontoya @olivertylsar
Even when the **sidenav-overlay** is correctly removed with this fix, there is still something there when you click again on the menu icon. The **side-nav** tries to open.

So, additionally I added the call for the function **removeMenu()** after the line:
**else if (!menuOut || velocityX > 0.3)**

It worked completely for me.

I

[2017-01-28 19:54] PromasM opened #4153 "materialboxed cards in column-count container"
In my project i'm using cards with materialboxed images. When i wrap these cards into a container that uses the css property column-count, the materialbox has some weird behaviour.
Sometimes the materialboxed image immediately disappears after growing, other times the image is out of place (not centered in screen). Results will also depend on your scroll position.

Recreated issue (chrome):
http:/

[2017-01-28 20:15] Dogfalo commented on #4151
Try attaching a touch handler to `.slider` and prevent propagation.

[2017-01-29 02:22] Dogfalo commented on #4139
It is a breaking change, but it isn't changing fundamental about the framework, just renaming some of the option names. I understand the rules set forward by Semantic Versioning, and why you want this to have been a major version upgrade. However, SemVer has it's own problems. If major number revisions are used for every breaking change, then what denotes a fundamental breaking change in the frame

[2017-01-29 03:20] diegodesouza commented on #4149
Correct. I normally use `angular.element` rather than `$` in my angular apps. Just though I this i was a bit cumbersome to get it working. Thanks for the prompt response though. @Dogfalo

[2017-01-29 09:33] HenintsoaAdri commented on #4099
should update your materialize.css ! it worked with v0.98! 0.97 is deprecated

[2017-01-29 10:49] Thanood commented on #4139
IMO not a reason to bump the major version since it's pre v1. It's "legal" in semver for pre releases to break things.

[2017-01-29 11:14] xorinzor commented on #1409
This is only for the sticky footer, for which flexbox is actually still used.

[2017-01-29 12:33] olivertylsar commented on #3872
Doesn't work for me. The sidenav-overlay is still there when i swipe the menu to the left. I still have to click somewhere to let it disappear.

[2017-01-29 14:41] JCarran0 opened #4154 "button waves-effect is limited to certain colors"
### Description
It looks like the flat button wave effect is limited to red, yellow, orange, purple, green and teal.
I'm using the deep-orange theme in my app and can't make use of flat button waves effect.

If there is not a reason these colors were limited, I'm happy to make a PR.

### Repro Steps
See Codepen

Use this Codepen to demonstrate your issue. http://codepen.io/JCarran0/pen/ygPmVv

###

[2017-01-29 15:21] Branksy commented on #3436
full_width (which works for me) is written I believe incorrectly in the site docs as 'fullWidth'...

[2017-01-29 15:46] Thanood commented on #4154
Waves built-in colors are limited. The documentation shows how to add new waves colors:
http://materializecss.com/waves.html#customization

deep-orange sample:
http://codepen.io/anon/pen/LxOwop

[2017-01-29 20:51] JCarran0 commented on #4154
Got it, thanks!

[2017-01-29 20:51] #4154 closed

[2017-01-30 00:23] acburst commented on #2533
Fixed in 5d68686

[2017-01-30 00:23] #2533 closed

[2017-01-30 00:23] acburst commented on #3269
Fixed in 5d68686

[2017-01-30 00:23] #3269 closed

[2017-01-30 01:57] lx1054331851 opened #4155 "when a button with wave-effect was clicked several times, the button become white"
# when a button with wave-effect was clicked several times, the button become white, check the html, i foud the some codes were added, i really don't know why?
## the button before clicked:
![image](https://cloud.githubusercontent.com/assets/12423206/22410322/a4b2ebbc-e6d1-11e6-998a-efa7fa81f32e.png)
## the button after clicked several times:
![image](https://cloud.githubusercontent.com/assets/124

[2017-01-30 02:00] smileytechguy commented on #4155
What browser?  Doesnt happen for me on latest Safari, Chrome, or Firefox Developer Edition.

I am using the first button on [this](http://materializecss.com/buttons.html) page

[2017-01-30 02:38] lx1054331851 commented on #4155
sorry, i found the problem
i import **materialize.min.js** and **materialize.js** in the same html file, so the situation happened!

[2017-01-30 02:39] #4155 closed

[2017-01-30 04:37] MickaelH974 commented on #4090
Thanks, I've used Z-index and Opacity to get the top carousel-item.

Happy to see that we have now an Active class, very good job ;-)

[2017-01-30 07:58] tomscholz commented on #4135
Can you pls create a codepen?

[2017-01-30 08:38] jrioromero commented on #3872
@olivertylsar But did you include the fix from @JSMontoya? With this, the **sidenav-overlay** should dissapear. Then, including the call to the function **removeMenu()**, the additional click on the menu icon should not be necessary.

[2017-01-30 09:41] entrepenerd opened #4156 "select multiple with optgroups returns wrong value"
# Description
Using Materialize 0.98.0, when using optgroups in a multi select it returns wrong values. Per each optgroup the values seem to get selected using an increased index value.

Might be same as select with optgroups returns wrong value #2159, but that should be fixed.

# Example

HTML with same data in two selects, one with and one without optgroups:
[code]

Initialize the selects:

[cod

[2017-01-30 11:33] abhinaypandey opened #4157 "materializecss not rendering responsive table properly on mobile."
### Description
I am using angular 2 with materializecss. In one use case, I have to render to table components by passing table data. It should then display both table data one after other, but it's showing only first table properly. The second table data is not being rendered properly, it's able to show only thead data and not tbody.

Let me know if anyone else could reproduce the same issue.

#

[2017-01-30 15:00] gillesbs opened #4159 "Swipeable tabs carousel height limited to 400px"
The `.carousel` `div` is limited to a `height` of `400px`.
Sometimes, an ever smaller `height` is forced with a `style` attribute.
This is actually to small for the content I want to show under the tabs.
The issue:
Why is it limited to `400px`? How can I fix this?

Thank you for your response.

[2017-01-30 16:08] rubendinho commented on #3450
any update/suggested fixes on this?  thanks

[2017-01-30 17:13] dima74 opened #4160 "Preloader in modal causes to scrollbar appearing"
Hello! Thank you for materializecss!

### Description
I create modal with circular preloader inside. Every few seconds scrollbar appears for a short time. In Chrome 56 scrollbar appears approximately every five seconds, in Firefox 51 scrollbar appears approximately every twenty seconds. (Both on Arch Linux)

### Repro Steps
http://codepen.io/anon/pen/egyyML

### Screenshots / Codepen
Video: https:

[2017-01-30 22:27] csalexwilliams commented on #1466
@m-gv Great solution. Thanks!

[2017-01-31 03:31] justinjoyn commented on #1527
+1, Tried making the position:fixed for select-dropdown, the options now render above modal, but I can't place the dropdown under the select input.

[2017-01-31 03:31] justinjoyn commented on #1790
+1, Tried making the position:fixed for select-dropdown, the options now render above modal, but I can't place the dropdown under the select input.

[2017-01-31 06:16] #4144 closed

[2017-01-31 06:51] fernandogmar commented on #3139
I am still getting this issue, 2017!! :sweat_smile:

Thanks!

[2017-01-31 07:10] abhinaypandey commented on #4157
solved the issue with some tweaks.

[2017-01-31 07:10] #4157 closed

[2017-01-31 14:01] fysp11 opened #4161 "Select element closes on scrolling or click-holding"
I'm using materialize 0.98.0 and when I try to scroll my Select list, the element closes.

This is happening on chrome mobile only.

[2017-01-31 14:13] fysp11 commented on #4161
I downgraded to 0.97.8 and the scrolling didn't close the select. So, that's a problem with the 0.98.0 version.

[2017-01-31 16:39] Jujunol opened #4163 "Input type date with tooltip having issues"
### Description
When you assign a tooltip to a input[type=date] field and then proceed by clicking or focusing on the date field the tooltip will display. However, even after selecting your date and the modal disappears the tooltip will still display until you hover over it again and then move your mouse away.

### Example
[code]

[2017-01-31 16:49] vinibiten commented on #4161
Hi, i don't believe that the problem occour just in new version.
I have the same problems with the 0.97.7 on Chrome mobile
Sorry if 0.97.8 fixed this.

[2017-01-31 18:50] kodroh commented on #2734
any solution?

[2017-01-31 21:00] arg3ni5 opened #4165 "Bug with Bottom Sheet Modals y select"
Dont shot all item of the select
Should show more elements in the yellow area
![123](https://cloud.githubusercontent.com/assets/12776890/22484194/df3aee2a-e7c5-11e6-9b75-cd871204032d.PNG)
but the modal cut the items

[2017-01-31 21:10] arg3ni5 commented on #4165
and normal modal
![456](https://cloud.githubusercontent.com/assets/12776890/22484514/5eaa800c-e7c7-11e6-9729-987479440670.PNG)

[2017-01-31 21:41] jrioromero commented on #4161
That's right. Same issue here with 0.98.0 and Chrome mobile. The Select list closes when scrolling or click-holding.

The issue can be reproduced in http://materializecss.com/forms.html

[2017-01-31 21:47] arg3ni5 commented on #4165
http://codepen.io/arg3ni5/pen/ygpZLx codepen

[2017-02-01 02:44] milonas115 commented on #4152
Decided to throw this together as in what this component SHOULD be doing (also following Google's Material Spec a tad bit closer)....

[https://jsfiddle.net/c6buv1j8/5/](https://jsfiddle.net/c6buv1j8/5/)

[2017-02-01 02:54] milonas115 commented on #4152
@Dogfalo Also, wanted to make a comment that you guys have the velocity plugin built into your code base but I still see .animate() being used.

[2017-02-01 04:29] risendev commented on #4046
If you adjust the z-index in .sidenav-overlay on /sass/components/_sideNav.scss line 208 from 997 to 996 then it will permanently resolve this issue.

[2017-02-01 04:36] TheColorRed commented on #4046
I figured out the issue. It is because you have your sidebar nested within your `.navbar-fixed`. Moving the `ul` outside of the `.navbar-fixed` fixes the issue.

Here is the fixed pen: http://codepen.io/anon/pen/LxQgJN

[2017-02-01 08:47] g5codyswartz commented on #485
Building onto @BrenoMazieiro so that his code is readable

Add this right before the `</ul>`
[code]

[2017-02-01 08:55] freddy-daniel commented on #2876
I agree you can change colors.but how to set my custom color by  HEX code like #3a4a61

[2017-02-01 08:58] Dogfalo commented on #2876
in your css file, you can define a class and then set this class in JS

[2017-02-01 09:04] freddy-daniel commented on #2876
I already got it thanks man.

[2017-02-01 09:12] constantin-v commented on #2414
+1

[2017-02-01 11:18] inventti-leonardo commented on #3919
I developed a tap target here #4164

[2017-02-01 11:25] vinibiten opened #4166 "modal('open')/modal('close') passing options and complete callback"
I tried to pass the options with the method open.
Is it available yet?

I used to pass callback complete on modalClose to trigger some function, because the complete in openModal didn't trigger

$("#div-modal").modal('open',{
            dismissible: false
        });

[2017-02-01 12:51] ajdf24 commented on #3440
same problem, but nothing worked for me on firefox or chrome

[2017-02-01 14:29] retorquere commented on #2582
I've tried to get this to work [here](http://jsfiddle.net/bkbuee24/) but I'm still getting an unstyled list.

[2017-02-01 15:36] rgreer4 commented on #2582
I changed the CSS version to 0.97.8 in the fiddle, and it seems work (well,
better...its still not ideal).

https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css

-Rick

On Wed, Feb 1, 2017 at 8:30 AM, retorquere <notifications@github.com> wrote:

[2017-02-01 16:10] mingliang7 opened #4167 "Uncaught TypeError: $(...).material_select is not a function"
### Uncaught TypeError: $(...).material_select is not a function
Recently I've tried Materialize with Vue2 and Meteor. However, I got a problem where i can't initialize select
[code]
this is my code
[code]

thanks in advance!

[2017-02-01 16:34] Lopierdis opened #4168 "The label for type="time" input-field won't get the class="active" when changed"
### Description
Createing a input-field with a label that's inside the input when un-touched, when editing the input-field the label should go active and pop above the field, when the type of the input-field is time the label won't pop up

### Repro Steps
http://codepen.io/anon/pen/PWRPgL

### Screenshots / Codepen
http://codepen.io/anon/pen/PWRPgL

[2017-02-01 17:02] wbarry55 opened #4169 "Pushpin wrapping when header or footer scroll into view"
The pushpin box wraps long strings when the header or footer are in view, but once you scroll into the center of the page, the pushpin gets "wider" and the text stops wrapping. This behavior can be seen on the Materialize website, on the Icons page.

My expectation is that the width would remain constant, either wrapping or not wrapping, but not changing as one scrolls. My own site has longer titl

[2017-02-01 17:51] Nohinn commented on #4166
No, you should do it this way:

[code]

[2017-02-01 18:31] retorquere commented on #2582
Yep, that did it. Good enough for me, I don't see anything I can't live with and plenty I wouldn't want to do without 👍

[2017-02-01 22:18] Native-Coder commented on #3082
Jesus christ this is still open from APRIL!? The work around at stack overflow isn't working for me either :(. Any updates on this issue?

[2017-02-02 02:58] typad1 commented on #3872
The code from @JSMontoya works perfectly! I just replaced

`var $overlay = $('<div id="sidenav-overlay"></div>');`

with

`var $overlay = $('#sidenav-overlay');
if ($overlay.length === 0) {
    $overlay = $('<div id="sidenav-overlay"></div>');
 }`

and it works PERFECTLY! Did he make a pull request or should I?

[2017-02-02 09:32] layanto opened #4170 "Collapsible accordion on sidebar, first menu link offset compared with subsequent links"
### Description
I am using sidebar with menu links in collapsible accordion. Noticed that the first link is shown offset to the right. Is this a bug?

[code]

### Screenshots
![sidebar](https://cloud.githubusercontent.com/assets/245078/22543818/4fbf280c-e986-11e6-94fb-5d3b97030ac5.gif)

[2017-02-02 12:24] mitas1 opened #4171 "Closing drawer with swipe bug"
After closing a drawer with swipe on a mobile device, dark overlay does not disappear.

![screen](https://cloud.githubusercontent.com/assets/22389946/22549282/e369f47e-e94a-11e6-94ec-ee84be94c2e7.png)

[2017-02-02 12:51] mitas1 opened #4172 "Unable to scroll after closing a drawer"
When a drawer is opened and I try to scroll page content with my finger, the drawer closes and I am unable to scroll the page. Expected behaviour is to be able to scroll the page content after the drawer is closed by the touch event.

[2017-02-02 13:22] LunarGem opened #4173 "Tooltips Don't Work on Progress Bars"
Hi! I'm working on a JavaScript game using your framework, and I thought using a tooltip to show the numerical value of a progress bar would be a good way to let the user know. Maybe it's just my ineptitude but I can't seem to get it to work. The same code works on a button (though without all of the bootstrap I'm using to facilitate changing the value of the progress bars). I'm using the latest v

[2017-02-02 15:56] Dogfalo commented on #4173
It doesn't work because you added `width: 0%` on the progress bar.

[2017-02-02 15:56] #4173 closed

[2017-02-02 15:57] Dogfalo commented on #4171
Duplicate of #4046

[2017-02-02 15:59] LunarGem commented on #4173
Oh, I didn't think of that! Makes sense that that would be it. Thank you!

[2017-02-02 16:01] Jujunol opened #4174 "Input type Number validates if decimal has three digits"
### Description
It seems that if you have a `input[type="number"]` and have the class `validate` it will always return the success message if the number has three decimal places (number types shouldn't have any decimal places).

### How to replicate this issue
With the input:
[code]
Then the following examples:

Value | Status
--- | ---
0.1 | Fails
123 | Passes
123.123 | Passes
1.123 | Passes
123.

[2017-02-02 16:02] Dogfalo commented on #4165
Just add `overflow-y: visible` to the modal div if you want it to stick out of the modal

[2017-02-02 16:02] #4165 closed

[2017-02-02 16:03] #4147 closed

[2017-02-02 16:05] Dogfalo commented on #4135
rtl is not supported at this time

[2017-02-02 16:05] #4135 closed

[2017-02-02 16:06] SylvainBigonneau commented on #1123
I can confirm I am still having this issue using Materialize 0.98

[2017-02-02 16:12] Dogfalo commented on #4146
Material spec specifies the minimum desired width to be around 88dp. Small tap targets don't make for a great user experience.

[2017-02-02 16:12] #4146 closed

[2017-02-02 16:13] #116 closed

[2017-02-02 16:16] Dogfalo commented on #313
This isn't something that we think would be a good use of our time, so we won't be maintaining a LESS version. If someone does make their own however, post it here to help people out 👍

[2017-02-02 16:16] #313 closed

[2017-02-02 16:18] #335 closed

[2017-02-02 16:19] Dogfalo commented on #441
Grunt task added instead to prevent logs in production

[2017-02-02 16:19] #441 closed

[2017-02-02 16:21] #446 closed

[2017-02-02 16:21] Dogfalo commented on #502
Duplicate of #510

[2017-02-02 16:21] #502 closed

[2017-02-02 16:23] Dogfalo commented on #336
Fixed by @soniabrami in #2768 #2756 #2587 #2771

[2017-02-02 16:23] #336 closed

[2017-02-02 16:25] Dogfalo commented on #780
Dropdown does this now. Closing deprecated issue

[2017-02-02 16:25] #780 closed

[2017-02-02 16:27] Dogfalo commented on #609
Parameter exists now `startingTop: '4%'`

[2017-02-02 16:27] #609 closed

[2017-02-02 16:29] #751 closed

[2017-02-02 16:32] Dogfalo commented on #850
Duplicate of #1424

[2017-02-02 16:32] #850 closed

[2017-02-02 16:37] mitas1 commented on #4171
I think this is a different issue. Can you explain why it is marked as duplicate? #4046 seems to be a problem with nesting and `z-index`, but I am talking about problems with touch events. In certain cases, after closing a drawer with swipe, it happens that the drawer closes but dark overlay `div` with `id=sidenav-overlay` does not disappear.

[2017-02-02 16:37] Dogfalo commented on #4174
I was not able to reproduce this. Perhaps you did not defocus after typing which triggers the update.

[2017-02-02 16:43] Dogfalo commented on #3869
Closed due to lack of response

[2017-02-02 16:43] #3869 closed

[2017-02-02 16:45] Dogfalo commented on #3867
This isn't a materialize related problem as this pertains to custom code you added.

[2017-02-02 16:45] #3867 closed

[2017-02-02 16:47] Dogfalo commented on #3852
You will need a javascript validation script if you want to do something like this.

[2017-02-02 16:47] #3852 closed

[2017-02-02 16:51] Jujunol commented on #4174
Hmmm Perhaps there's something more to it. I have tested again to assure myself that this is the case and all those test cases still appear valid.

As you can see, the name field is focused:
![screenshot_20170202114806](https://cloud.githubusercontent.com/assets/13592310/22559022/cc1b16de-e93d-11e6-9e04-81ee139fd6f8.png)
![screenshot_20170202114827](https://cloud.githubusercontent.com/assets/13592

[2017-02-02 16:52] Dogfalo commented on #3793
Since this is a problem when working with a specific framework we will be closing this.

[2017-02-02 16:52] #3793 closed

[2017-02-02 16:57] Native-Coder commented on #1298
Is anyone having issue putting badges on the nav bar? When i do it [this](http://i67.tinypic.com/f9mau0.png) happens. I've also had problems with my search bar not taking up the entire nav bar, but I worked around that by setting a static height on the element.

[2017-02-02 16:59] Dogfalo commented on #3756
Not seeing this issue on my own android device. It's also unlikely that we could break the native select interface even if we wanted to. Closing this unless more people run into this issue.

[2017-02-02 16:59] #3756 closed

[2017-02-02 17:02] Dogfalo commented on #3775
Slider only supports left, center, and right aligned.

[2017-02-02 17:02] #3775 closed

[2017-02-02 17:03] Dogfalo commented on #816
Fixed by 53eaec41f9f29c9775d1fbf290c2f5a060fdebda

[2017-02-02 17:03] #816 closed

[2017-02-02 17:04] #1080 closed

[2017-02-02 17:04] #1065 closed

[2017-02-02 17:05] #1093 closed

[2017-02-02 17:05] #1040 closed

[2017-02-02 17:06] Dogfalo commented on #1018
Already been added!

[2017-02-02 17:06] #1018 closed

[2017-02-02 17:09] Dogfalo commented on #949
We've since separated out forms.scss which was a very large file before into several components. For now we will still use global to hold CSS that holds things that span multiple components. We may change this in the future if the size grows much further.

[2017-02-02 17:09] #949 closed

[2017-02-02 17:10] #1279 closed

[2017-02-02 17:10] Dogfalo commented on #1273
IE9 is not supported.

[2017-02-02 17:10] #1273 closed

[2017-02-02 17:11] Dogfalo commented on #1262
you would have to override the styles or set them to initial for the ones you do not want.

[2017-02-02 17:11] #1262 closed

[2017-02-02 17:11] #1222 closed

[2017-02-02 17:13] Dogfalo commented on #1193
It is not very hard to swap font faces in CSS. Roboto is only included by default because this is a material framework.

[2017-02-02 17:13] #1193 closed

[2017-02-02 17:14] #1225 closed

[2017-02-02 17:17] Dogfalo commented on #1409
Flexbox is used in the footer-copyright

[2017-02-02 17:17] #1409 closed

[2017-02-02 17:18] #3935 closed

[2017-02-02 17:19] #3884 closed

[2017-02-02 17:20] #4072 closed

[2017-02-02 17:22] #3915 closed

[2017-02-02 17:23] Dogfalo commented on #3880
Looks like your own CSS is causing it to show the original select when it should be hidden.

[2017-02-02 17:23] #3880 closed

[2017-02-02 17:24] dennist12 opened #4175 "Select Not working on Laravel 5.4 validate"
Here is may blade template
![blade](https://cloud.githubusercontent.com/assets/13460041/22560335/2b7ff632-e9af-11e6-8f00-59d31902816a.png)

Return request
![error ressult](https://cloud.githubusercontent.com/assets/13460041/22560336/2b8123ae-e9af-11e6-9952-f5b398f2c8c8.png)

I use broswer-default class in select.
![with browser-default](https://cloud.githubusercontent.com/assets/13460041/22560337/

[2017-02-02 17:26] #3712 closed

[2017-02-02 17:27] #3661 closed

[2017-02-02 17:30] Dogfalo commented on #3614
Added in 424d254fc23c3781364a26bd3b2c219ef8ff1be8

[2017-02-02 17:30] #3614 closed

[2017-02-02 17:35] #3625 closed

[2017-02-02 17:35] Dogfalo commented on #3601
Using Bootstrap alongside Materialize is not advised and will almost certainly cause problems.

[2017-02-02 17:35] #3601 closed

[2017-02-02 17:38] Dogfalo commented on #4174
Can you add a codepen so I can see the exact scenario where this happens? Maybe I am recreating mine differently.

[2017-02-02 17:50] Dogfalo commented on #4171
True, I mistakenly thought they were related at first.

[2017-02-02 18:08] Native-Coder commented on #485
No one has stated how to change the text color? That salmon color is disgusting.

[2017-02-02 19:48] #656 closed

[2017-02-02 19:49] #581 closed

[2017-02-02 19:52] acburst commented on #894
Added in 8be878359048e84c6494a3682d10a966766536b2

[2017-02-02 19:52] #894 closed

[2017-02-02 19:55] #740 closed

[2017-02-02 19:57] #1255 closed

[2017-02-02 19:59] acburst commented on #1392
Added in 289da30e45fd287da9d4da2b3eeef06dd23a0327

[2017-02-02 19:59] #1392 closed

[2017-02-02 20:02] #1367 closed

[2017-02-02 20:07] acburst commented on #1298
These issues should be fixed.

@Native-Coder http://materializecss.com/badges.html#navbar

[2017-02-02 20:07] #1298 closed

[2017-02-02 20:08] acburst commented on #1272
Callback has been added called onShow

[2017-02-02 20:08] #1272 closed

[2017-02-02 20:08] acburst commented on #2955
Fixed

[2017-02-02 20:08] #2955 closed

[2017-02-02 20:12] acburst commented on #1438
Collapsible now has callbacks for onOpen and onClose. You can initialize tabs within these callbacks

[2017-02-02 20:12] #1438 closed

[2017-02-02 20:13] #1601 closed

[2017-02-02 20:15] acburst commented on #1574
These btn classes are using standard dimensions. If you want to make buttons that fall outside these I would recommend adding your own custom classes on top to override our height.

[2017-02-02 20:15] #1574 closed

[2017-02-02 20:16] acburst commented on #1723
Collapsible now has callbacks for onOpen and onClose. You can initialize tabs within these callbacks

[2017-02-02 20:16] #1723 closed

[2017-02-02 20:20] acburst commented on #1659
Fixed in e575765

[2017-02-02 20:20] #1659 closed

[2017-02-02 20:21] Native-Coder commented on #1298
I have the latest version. Still having both issues. V.98

[2017-02-02 20:22] acburst commented on #1788
There is now support for fixed width and variable width tabs.

[2017-02-02 20:22] #1788 closed

[2017-02-02 20:24] Nexxado commented on #485
@Native-Coder
[code]

notice `.active` is not a pseudo class, but an actual class name.

[2017-02-02 21:28] bargar commented on #1659
@acburst thanks for the attention to this issue!

It seems that you have addressed the specific example of the `footer` tag but I was subscribed to this issue especially for the checkbox and select case as described by @siriniok. Would you recommend that a new issue be opened for that case?

[2017-02-02 22:09] Native-Coder opened #4176 "Can't Dynamically add Popout Collapsible"

[2017-02-02 22:50] himynameisdave commented on #313
![single tear](http://static.deathandtaxesmag.com/uploads/2012/09/superhero.gif)

totally understandable though, this lib wasn't built on Less.

[2017-02-02 23:00] Native-Coder commented on #3377
@wupadach 's second example is epic.

[2017-02-03 04:27] Genuifx opened #4177 "Doesn't work with wepack"
### Description
when I use wepack to load materialize.js, it just show many error, likes:
Uncaught TypeError: $overlay.velocity is not a function
    at openModal (materialize.js:962)

Uncaught ReferenceError: lStack is not defined
    at openModal (materialize.js:929)

and so on.

i have no idea to fix many of them, anyone can help me ?

### Repro Steps
main.js:
require(['jquery'], function($){

[2017-02-03 10:45] vinibiten commented on #3440
I do something like this on configuration jqueryValidate to resolve validates class and jqueryValidate with unobtrusive:

VALIDATOR CONFIGURATION:

$(function () {

    $.validator.setDefaults({
        onfocusout: function () { return true; },
        onfocusin: function (element) {

            this.lastActive = element;
            if (this.settings.focusCleanup) {
                if (this.sett

[2017-02-03 10:47] vinibiten commented on #4166
Thanks!

[2017-02-03 10:47] #4166 closed

[2017-02-03 10:49] developeranirudhprabhu commented on #4176
@Native-Coder can you please add description of issue so that we can help?

[2017-02-03 10:50] developeranirudhprabhu commented on #4175
@dennist12 Can you elaborate your issue along with these screenshots?

[2017-02-03 10:51] developeranirudhprabhu commented on #4172
@mitas1 Can you provide a codepen for above issue?

[2017-02-03 11:18] mitas1 commented on #4172
I think it is not necessary. Just open http://materializecss.com/ on a mobile device and try to scroll the page content when a drawer is opened. I have had this issue with Android 7.1.1(NEXUS 5X) and Android 5.0.1 (Samsung) using Chrome 55.0.2883.91.

[2017-02-03 11:54] olivertylsar commented on #3872
@jrioromero OMG I just figured out that I switched script source to materialize.min.js in base template and didn't switch it back, forgot it and I kept on editing materialize.js which wasn't attached. 🤣 Now I got back to this issue after a few days, checked everything again and I couldn't believe it. 🤣 I'm sorry, tt works like a charm, thank you guys! 😉

[2017-02-03 12:45] Denly opened #4178 "Very weird bug, card img size changed by"
### Description
This bug makes card's image size changes. The bug's trigger is a <a> tag without text in <nav> bar. Sorry I spent almost 2hr to find this bug and think about why it happens in my app, but I'm still not sure the root cause.

p.s I didn't try to reproduce it in CodePen. I'm not 100% sure it's caused materialize

### Repro Steps
If I do
`<li><a onClick={this.logout} className="grey-te

[2017-02-03 12:51] mchalakov commented on #4159
Duplicate of #4148

[2017-02-03 12:55] mchalakov commented on #4159
The problem is that the swipeable tabs are style by the carousel css. Reference #4148 .
In materialize.css change:
`.tabs-content.carousel { height: 100%; overflow-x:hidden; overflow-y: scroll; } .tabs-content.carousel .carousel-item { width: 100%; height: 100%; } html,body{ overflow:hidden; height:100%; }`

[2017-02-03 12:58] proxymus commented on #2618
But isn't working with IE11 on the materializecss.com site.
![grafik](https://cloud.githubusercontent.com/assets/1539498/22592183/c67f4156-ea18-11e6-8405-d859d85b8cfe.png)

[2017-02-03 14:38] dennist12 commented on #4175
The screenshot are the result of Laravel Request, the without the class browser-default and the last one with the class browser.

[2017-02-03 15:01] CoDEmanX commented on #502
As written in the other report, the issues are about two different problems.

[2017-02-03 16:07] ssmrkj opened #4179 "Carousel image position incorrect after clicking a custom arrow"
### Description
I have created a carousel with custom arrow buttons. The carousel itself is set to autoplay through jquery. The problem occurs when I quickly click like 3 time on an arrow. Then the images can't really set themselves to a right position as I can see half of previous and half of other image. I tried various ways to reset the image position after clicking the arrow. Unfortunately, I

[2017-02-03 16:22] olivertylsar commented on #4161
@jrioromero Facing this problem as well, now. 😆 Any tips how to get it work on mobile?

[2017-02-03 16:25] fysp11 commented on #4161
@ollivertylsar yes. Use the 0.97.8 version.

[2017-02-03 17:31] Native-Coder commented on #4176
Honestly, it was an accident. I'm trying to find a way to delete this. sorry everyone . :(

[2017-02-03 17:35] Native-Coder opened #4180 "Popout Collapsible unecissarily resizes after opening (Intermittent?)"
### Description
The first item of a Popout Collapsible does a jerky "resizing" thing after opening. I thought it was something I did on my project that caused the issue, but it is present [here](http://materializecss.com/collapsible.html) as well

### Repro Steps
Create a "Popout" collapsible. The first item "jerks" to a smaller size after the opening animation is finished. all other items behave

[2017-02-03 17:53] Native-Coder opened #4181 "Changing font size messes up data-error positioning for validated form fields"
### Description
If you override the font size for your project, it can mess up the spacing for the data-error attribute on validated form fields.

### Repro Steps

Override the font settings with a larger font size

### Codepen
Here's a [codepen](http://codepen.io/anon/pen/GrdBNv) showing the issue

### Possible Solution

I found that changing line 5994 in materialize.css to "top: 5em" fixes the i

[2017-02-03 21:36] brockklein commented on #1829
(leaving this here for posterity's sake)

It would depend on what stack you're using. I just finished adding some pretty nice validations using Angular 2 built in form controls. Using its conditional class application I simply apply `valid` or `invalid` to the field accordingly.

E.g.

[code]

Of course how you write the validations and how you apply the classes will be different depending on how

[2017-02-04 04:01] Native-Coder commented on #4174
Try adding `step="any"` to your input, as described [here](https://www.isotoma.com/blog/2012/03/02/html5-input-typenumber-and-decimalsfloats-in-chrome/)

[2017-02-04 05:13] orion-pax opened #4182 "input-field label loses left alignment when form is child-element of <center> tag"
### Description
Placing an HTML form with input-field label within an HTML `<center>` or a `<div>` with equivalent CSS (margin: 3px auto 3px auto;) results in the label text being aligned at the center in materialize version 0.98.0. However using materialize 0.97.5 the text-alignment is left aligned perfectly.

### Repro Steps
To reproduce this issue visit this Codepen: http://codepen.io/T-P/pen/b

[2017-02-04 09:58] xstortionist opened #4183 "How to disable waves effects on mobile while scrolling / dragging?"
Is there a way to disable waves effects on buttons while scrolling down a page on a mobile device? To me, it looks like it may cause user experience issues, where if you click on a button and scroll down it may look like they have clicked button due to the ripple effect.

[2017-02-04 12:51] eCae7an0s opened #4184 "Modified pickadate.js plugin"
In your modified pickadate.js plugin used in Materialize forms, did you removed the .set() and .render() methods?

It would be very useful to set the properties, objects, and states of the picker in the middle of the execution of the app...

[2017-02-04 22:01] cpett commented on #1032
Did anyone find a solution that still allows tabbing through the form?

[2017-02-05 03:12] gusbemacbe opened #4186 "[Feature Request] Customize only the tags parts of Materialize"
We would like to customize and select only some parts of Materialize, for example, we want to use only cards tags and customize tags names (for example, renaming` .card-title `to `.materialize-card-title`) and unselect all the unwanted codes and tags, to download the file. It is like Bootstrap Customize (http://getbootstrap.com/customize/).

It would be easy, light and quick and there would not be

[2017-02-05 03:35] gazozman commented on #3527
Please try with remove

[2017-02-05 08:51] jpwynn opened #4187 "0.97.8 and 0.98 break mobile side-nav, 0.96 works fine"
For my Rails 5 app, the nav layout below (in HAML) works fine with 0.97.6 of the materialize (downloaded manually and added to assets folders), specifically the **mobile side-nav** works fine that is displayed when you click the hamburger icon when you make the browser window narrow.

However the exact same code displays a broken mobile side-nav when I upgraded the js and scss to 0.97.8 or 0.98. D

[2017-02-05 09:08] jpwynn commented on #4187
![jambocity](https://cloud.githubusercontent.com/assets/446451/22625010/a5bb4726-eb3f-11e6-90d1-b5ec557be7b2.png)

[2017-02-05 09:17] ajmalhassan commented on #1503
When I pasted some text into the Textarea using my mouse it didn't resize but for ctrl+v it resized so what I did is this:

 `$('#l-textarea, #w-textarea, #c-textarea').on('mouseleave',function(){
  $('#l-textarea').trigger('autoresize');
  $('#w-textarea').trigger('autoresize');
  $('#c-textarea').trigger('autoresize');
});`

after I host the site I'll post the url here

if there is a better way,

[2017-02-05 09:21] jpwynn commented on #4187
After discovering the interaction with %div.navbar-fixed while writing this up, I then found that the mobile side-nav will work correctly if you move the %ul#mobile_side_menu.side-nav outside of the %div.navbar-fixed, so it is no longer a sister node of the top nav %ul#nav-mobile.right.hide-on-med-and-down

[2017-02-05 11:12] NitroBAY commented on #4045
Why did you close this issue ? We cannot import SASS files even tough @Dogfalo said in many issues he added this possibility. When I `@import "{materialize:materialize}/sass/components/color";` it also says `   {materialize:materialize}/sass/components/color not found in file:` so this issue is still a problem.

[2017-02-05 11:13] Kostronor commented on #4045
@NitroBAY it worked for me

[2017-02-05 11:15] NitroBAY commented on #4045
@Kostronor yes but you add to download the repository so the atmosphere package is broken, isn't it ?

[2017-02-05 11:17] Kostronor commented on #4045
whatevs @NitroBAY

[2017-02-05 11:25] NitroBAY commented on #4045
Thanks

[2017-02-05 11:27] NitroBAY commented on #2217
"make-metor-great-again" it's funny

[2017-02-05 13:15] NitroBAY commented on #1018
@Dogfalo please it seems that the atmosphere package is somewhat broken as sass import **only** works if one install materialize from a local version fetched from the repo.

[2017-02-05 15:32] MacGyer commented on #4187
see #4046

Same for a Yii2 extension implementing Materialize

[2017-02-05 17:06] oshliaer commented on #4046
As said @risendev I'm using
[code]
It works fine as an exception.

[2017-02-05 17:09] kyleai commented on #940
If anyone is still reading this I was having trouble with this as well. tgienger's suggestions messed up the location it fires so if anyone else is having trouble with this here is my complete scrollfire.js

[code]

[2017-02-05 17:39] maicol07 opened #4188 "Navbar mobile (mobile hamburgher menu) doesn't work"
Hi,
your work is great, but my navmobile menu doesn't work very well...
If I browse my page through PC I can view the normal menu, but with my smartphone I can't open the hamburgher menu.
Below it's my menu code in the html page:

[code]
Thanks!

[2017-02-05 18:30] arg3ni5 commented on #4165
and Bottom Sheet Modals??

[2017-02-05 18:34] Dogfalo commented on #4188
Please ask support questions on Stack Overflow or search through closed issues.

[2017-02-05 18:34] #4188 closed

[2017-02-05 18:35] Dogfalo commented on #4184
No it was not removed https://github.com/Dogfalo/materialize/blob/master/js/date_picker/picker.js#L159

[2017-02-05 18:35] #4184 closed

[2017-02-05 18:38] Dogfalo commented on #4183
Duplicate of #4027

[2017-02-05 18:38] #4183 closed

[2017-02-05 18:39] Dogfalo commented on #4177
Duplicate of #1422

[2017-02-05 18:39] #4177 closed

[2017-02-05 18:41] #4068 closed

[2017-02-05 18:41] matthewsalan commented on #4171
Can confirm the grey overlay is still present after swiping to close the mobile sideNav.

[2017-02-05 18:43] Dogfalo commented on #4175
We can't provide help for specific frameworks that we don't officially support.

[2017-02-05 18:43] #4175 closed

[2017-02-05 18:45] Dogfalo commented on #4174
@Native-Coder is right here. Decimals that are not zero in value, e.g `53.00` will return as invalid without a `step` attribute.

[2017-02-05 18:45] #4174 closed

[2017-02-05 18:47] Dogfalo commented on #4167
You have not included Materialize correctly in the project. Also please ask support questions on Stack Overflow.

[2017-02-05 18:47] #4167 closed

[2017-02-05 18:50] Dogfalo commented on #4053
I like the thought, however I would rather keep the code base in plain Javascript so that it will remain simple and more accessible to people in the community.

[2017-02-05 18:50] #4053 closed

[2017-02-05 18:53] Dogfalo commented on #4186
Right now we don't have plans in the near future to create a custom build downloader on the website. If you only need card styling, why not just take a look at the `_card.scss` and take the styles from there?

[2017-02-05 18:53] #4186 closed

[2017-02-05 18:53] #3939 closed

[2017-02-05 19:00] #4176 closed

[2017-02-05 22:36] Agentscreech commented on #3294
Any resolution to this?  I cut and pasted the documentation and it did this bug on every resolution I've tried.

[2017-02-06 00:02] Dogfalo commented on #3294
You should be doing:
navbar-fixed > container > content

instead of
container > navbar-fixed > content

[2017-02-06 00:02] #3294 closed

[2017-02-06 02:17] thiagosaadofficial opened #4189 "Tabs and Menu-Collapse-Mobile Is bugged"
### Description

### Code
My code is in github

Code: https://github.com/thiagosaadofficial/testing

[2017-02-06 03:36] Dogfalo commented on #1018
This was fixed in the newest version

[2017-02-06 04:58] friek108 commented on #1032
$('.datepicker').pickadate({
      container: 'body',
      formatSubmit: 'yyyy-mm-dd'
    })
This doesn't work as it puts the submit input element inside the date picker near the `body` which means it's outside of the `form` in the modal.

[2017-02-06 05:47] tpav96 commented on #3082
Fix does not work.

[2017-02-06 06:07] #4105 closed

[2017-02-06 06:53] tomscholz commented on #4046
https://github.com/Dogfalo/materialize/issues/3844

[2017-02-06 06:54] tomscholz commented on #4187
Duplicate https://github.com/Dogfalo/materialize/issues/3844

[2017-02-06 08:58] snyk-community opened #4190 "Medium severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a medium severity vulnerability:
  - [Cross-site Scripting (XSS)](https://snyk.io/vuln/npm:jquery:20150627?utm_source=gh_issue)
  - Affected package: jquery &lt;3.0.0-beta1 &gt;2.2.0 || &lt;2.2.0 &gt;1.12.3 || &lt;1.12.0 &gt;&#x3D;1.4.0

[Here is the test report for this repo. ](https://snyk.io/test/github/Dogfalo/materialize?utm_source=gh_issue)
If you’d l

[2017-02-06 09:08] Dogfalo commented on #4190
There are no cross domain ajax requests with no dataType specified in the repo

[2017-02-06 09:08] #4190 closed

[2017-02-06 10:10] hir3npatel commented on #2843
I agree, I use brython and listen on the select elements onchange event, which does not get fired since I put materialize select inputs into the page. Using "browser-default" works though. My use case requires that I can listen on select inputs onchange event, and that I can add options to select boxes dynamically. It would be great if materialize did these, thanks.

[2017-02-06 11:09] maiconsansonrc commented on #901
On mobile does not work at all! Any thoughts?

[2017-02-06 13:47] Lyricalz commented on #3886
I had this same exact issue and ended up here.

`if ($this.val().length === 0) return `

this solves it, but seems abit unnecessary.

[2017-02-06 14:24] LuigiPeace opened #4192 "Google Chrome DatePicker value not shown"
### Description
I'm using Materialize for a project since few months now. I'm facing an issue regarding DatePicker. I'm not having a problem with the modal of the DatePicker it self. I have an issue with the input. I define a value to my `<input type="date" class="datepicker" value="05/03/2017">` which should be shown under my label.
I just encounter this problem today on Google Chrome (maybe an u

[2017-02-06 14:41] vinibiten commented on #4192
Here the same, but i change the type="date" to type="text". I don't know why use type="date"

[2017-02-06 14:44] LuigiPeace commented on #4192
Oh really strange, I've tested with type="text" instead of type="date" but it didn't fix it. And now it works. My bad.

[2017-02-06 14:44] #4192 closed

[2017-02-06 14:48] vinibiten commented on #4192
I change the format of date too
2017-06-03 work's fine with type="date" (i believe that the chrome are testing the format)

[2017-02-06 15:02] Native-Coder commented on #3082
@tpav96   I agree. I had to write a CSS rule that manually set the search bar to be 64px high. But I've had people insist that it's "fixed" so ¯\_(ツ)_/¯

[2017-02-06 15:46] Native-Coder commented on #4181
OK, I've never made a PR before. This is getting to be quite aggravating....

[2017-02-06 15:51] NitroBAY opened #4193 "Cannot install Materialize meteor package"
### Description
Installing the meteor package materialize:materialize even on an empty repo fails. I reinstalled Meteor, it didn't solve my issue.

### Repro Steps
`meteor create test`
To create a basic empty meteor app.
`meteor add materialize:materialize`

Very  long error message :
[code]

[2017-02-06 15:59] NitroBAY commented on #4193
The problem is that Materialize tries to install fsevents but I use Windows **not** mac.

[2017-02-06 16:02] NitroBAY commented on #4193
Possible workaround : downloading the repo, putting it in the /packages folder so `meteor add materialize:materialize` install a local version, what is actually working.

[2017-02-06 16:50] dennist12 commented on #4175
Thank you.

[2017-02-06 21:11] xstortionist commented on #4027
I too have an issue with the way the waves effect functions while using is scrolling. I have checked many apps on my android device and I cannot find a single app that has this same type of effect. Touchend seems like a good solution but that defeats the purpose of letting the user know that an element is clickable if they tap and hold an element. Perhaps timer is the way to go but who wants to di

[2017-02-06 21:41] Dogfalo commented on #4181
Fixed in f8d896536dfae0a047c008bdcdb9d6d92bf6ad3a

[2017-02-06 21:41] #4181 closed

[2017-02-06 23:05] jpwynn commented on #4187
Thanks, Tom, yep it's a duplicate, sorry, I did search first but did not see the other ticket.

[2017-02-06 23:05] #4187 closed

[2017-02-06 23:36] muffinrecon commented on #4193
Is their a meteor command to install without installing fsevents.

I'm having same issue as above on windows 10 64.

[2017-02-06 23:40] Dogfalo commented on #4193
Did you try installing fourseven:scss first?
`meteor add fourseven:scss`

[2017-02-06 23:43] muffinrecon commented on #4193
@Dogfalo , Yes, I'm having the same issue after installing fourseven:scss.

It's throwing the error at the fsevents install

[code]

[2017-02-06 23:46] Dogfalo commented on #4193
See if this helps: https://github.com/meteor/meteor/issues/7568

[2017-02-06 23:58] masza commented on #4193
I have the same issue on windows 7

[2017-02-07 00:33] muffinrecon commented on #4193
@Dogfalo I think fsevents is a osx thing. We're not using osx. Is there any way for us to not use that with your package?

I tried installing node-pre-gyp to global. Meteor just released a patch too and I installed that. I removed bcrypt like someone suggested in that thread and it's still giving me the same issue.

I'm just going to have to use the static files you guys provided for now.

[2017-02-07 00:52] acburst commented on #3919
Merged in bf01e95514495684d90754a16ba8eed25f0f074b

[2017-02-07 00:52] #3919 closed

[2017-02-07 04:22] tpav96 commented on #3082
Yeah it is definitely still broken on Chrome.Setting the height manually
like you said also worked for me.

On Mon, Feb 6, 2017 at 10:06 AM Native-Coder <notifications@github.com>
wrote:

[2017-02-07 07:00] mitar opened #4195 "It is unclear what data-field is used for in tables"
Looking at documentation, tables use `data-field` attribute on `th` element, but it is unclear what is that used for? I have not found any reference to it in documentation.

[2017-02-07 07:06] oshliaer commented on #4046
@tomscholz It doesn't work. The menu doesn't hide after a click. My solution works as expected.

[2017-02-07 07:07] thebiltheory opened #4196 "Modal href trigger won't work"
### Description
After using the right markup, initializing the modal as on the documentation seems the modal won't get fired using

[code]
I have tried upgrading Materialize and jQuery but the only thing that happend is that I got the # anchor working to go back to the top of the page

However it was working using:
[code]

Tho I didn't wanted to use a ```<button>``` I just added the data-target to

[2017-02-07 07:28] Dogfalo commented on #4195
It doesn't do anything, thanks for bringing this to our attention, we'll be removing it

[2017-02-07 07:39] fernandogmar commented on #3139
Ok, I am using jspm to install it so this is what I finally did:

[code]

just in case someone got the same problem ;)

[2017-02-07 07:51] Dogfalo commented on #4195
Removed in 189722c9cac812f5e9b3b05299298e8d4e90d7c5. This change won't go on the live site immediately since it isn't critical, but it will make it's way there for the next release.

[2017-02-07 07:51] #4195 closed

[2017-02-07 08:05] NitroBAY commented on #4193
Yes the problem, as I already pointed out, is very likely to be fsevents that is an OSX stuff and we're on Windows

[2017-02-07 08:20] Dogfalo commented on #4196
Initialize it: http://materializecss.com/modals#initialization

[2017-02-07 08:20] #4196 closed

[2017-02-07 09:44] thebiltheory commented on #4196
@Dogfalo have you read my comment?

``` After using the right markup, initializing the modal as on the documentation```

I am just pointing an issue that I had.

[2017-02-07 10:11] gusbemacbe commented on #4186
@Dogfalo , I am not expert in SCSS, but I converted SCSS to CSS, using SassMaster and it gave some error ("Undefined variable: "$card-padding"").

[2017-02-07 10:58] evertalbers opened #4197 "Search function on Materializecss.com does not work in Firefox"
### Description
Nothing happens when I hit enter or click on the icon

I hope this is the right place to post this.

[2017-02-07 11:27] kmmbvnr commented on #4197
That's not actually a real search, that's "autocomplete" for page names.

So, it's not specific to the Firefox, and it's supposed to work such (not very convenient) way.

[2017-02-07 12:03] evertalbers commented on #4197
Ok then I'll close this. Is a bit confusing though.

[2017-02-07 12:03] #4197 closed

[2017-02-07 15:52] rogerwalt commented on #365
+1

[2017-02-07 15:54] longstone commented on #365
+1

[2017-02-07 17:30] Shivang-Bhandari opened #4199 "Broken Navbar in Website"
@acburst
### Description
Navbar breaks on devtools responsive check at a res of 1024px width

### Screenshots
<img width="1280" alt="screen shot 2017-02-07 at 10 50 47 pm" src="https://cloud.githubusercontent.com/assets/16368588/22702928/53e3d2d8-ed88-11e6-8c38-5b15680696f8.png">

[2017-02-07 18:42] ntoka commented on #3965
Hi, just would like to bump this issue up - this is still a problem and I found not mentions of a fix in changelog or in other similar issues. The code I use is the following:
`<div class="row carousel">
        <div class="col s8 m4 carousel-item">
        <a href="newsentry.html">
          <div class="card horizontal">
            <div class="card-image valign-wrapper">
              <div class

[2017-02-07 20:13] johhansantana opened #4200 "Can't select options or scroll in select input on mobile"
I can't seem to figure out why this happens, when I try to select an option on a select input on android mobile it doesn't select it, instead, it selects what's behind it. If I click on the select input and then again on the first options (which is on top of the input) the select will close and reopen like if I clicked the input instead of the option.

[code]

![materializecsserror](https://cloud.

[2017-02-07 20:32] Dogfalo commented on #4196
http://codepen.io/Dogfalo/pen/MJqKNa

[2017-02-07 20:35] Dogfalo commented on #4186
look at `_variables.scss` also and you should be able to resolve the missing variables

[2017-02-07 20:38] hollsteinm commented on #4200
+1 Just ran into this issue myself

[2017-02-07 21:08] johhansantana commented on #4200
Had to use `browser-default` class when viewing on mobile for the moment until I find a way to actually fix this or get some help.

[2017-02-07 22:18] hollsteinm commented on #4200
I just made it a full screen select with the following css:
`ul.dropdown-content.select-dropdown.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }`

[2017-02-07 22:23] DevJay22 commented on #180
Issue not fixed.

[2017-02-08 02:36] j1016h opened #4201 "Before Modal Close Hook"
Hi,
I just want to know if there is a "Before Modal Close Hook" in modals please?

[2017-02-08 03:33] Dogfalo commented on #4201
There is not, all the options are enumerated on the documentation

[2017-02-08 03:33] #4201 closed

[2017-02-08 03:48] j1016h commented on #4201
Would be great if we can have this feature.

[2017-02-08 10:38] bugsoftware commented on #4086
Hi,

I decided to contribute a bit with my feedback. 2 things are critical to autocomplete that are missing, the first one is the ability to pull data from outside source (JSON/XML) and as djensen47 pointed out, the ability to combine ID's is also critical / [{value: 'apple', id: '4rew65s1', img: '…'} ]

[2017-02-08 10:42] constantin-v commented on #1844
Hi,
I got a simple Tabs component in a simple Collapsible component and I got the same issue.
I look previous answers but I got unique identifiers.

[](https://jsfiddle.net/6axccg75/ )
--> first tab is marqued active but he hasn't bottom border

[](https://jsfiddle.net/70qms28o/)
--> forcing with select_tab : both tab got the bottom border

Any ideas ?

[2017-02-08 11:41] NitroBAY opened #4202 "Make scrollFire resettable [bug] [meteor]"
Hello,
### Description
Calling `scrollfire` again does not reinit the scrollfire function. A normal app doesn't need to recall scrollfire but with Meteor when you click on a link another template is created and the old one is destroyed.
Example I have a homepage template and a login one. The user scrolls and animations are working great (scrollfire triggers `showStaggeredList`). The user clicks on

[2017-02-08 15:32] tomscholz opened #4203 "[Feature request] Draggable bottom sheet modal and option to open without overlay"
### Description
It would be nice to have the option, to make a bottom sheet modal draggable and to open it without an overlay.

Example:
- https://material.angularjs.org/latest/demo/bottomSheet

[2017-02-08 18:06] arg3ni5 opened #4204 "The Date picker dont close on set"
### Description
The Date picker dont close on set date
 i use this option and dont work:
             `closeOnSelect: true`
codepen issue: http://codepen.io/arg3ni5/pen/vgzwOR

To fix this i use this code:
[code]
codepen fix: http://codepen.io/arg3ni5/pen/bgxydZ

[2017-02-08 19:08] tomscholz commented on #4204
Duplicate
- https://github.com/Dogfalo/materialize/issues/870
- https://github.com/Dogfalo/materialize/issues/324
- https://github.com/Dogfalo/materialize/issues/1331

[2017-02-08 19:14] maxmumford commented on #2558
`<input id="startDate" materialize="pickadate" [materializeParams]="[{selectMonths: true, selectYears: 15, min: 1}]" type="text" />`

documentation:

http://amsul.ca/pickadate.js/api/#method-set-min

[2017-02-08 19:25] eddiethejibson opened #4205 "Can't seem to centre SOME divs correctly."
I'm trying to center all the divs on my page and it's proving to be a nightmare. I managed to center the main login form with the "m3-offset" class but it's not working for the rest of the cards, any ideas? Here it is: http://eddiej.pw/ feel free to f12. Code's here: http://pastebin.com/bBgaP073

[2017-02-08 20:51] Jujunol commented on #4174
Sorry, I don't think I communicated my problem problem. The problem isn't that it _should_ be accepting decimals it's that it should be doing it regardless of how many decimal places there are.
I have a codepen set-up here: http://codepen.io/anon/pen/apRoMq
It appears the problem only occurs when the class "inline" is set.

[2017-02-08 21:35] acburst commented on #4205
You have to take into account the width of your content when centering.
So to center something with a 3 column offset, that means your content needs to be 6 columns wide because it would need 3 columns on each side adding up to 12 columns.

Also if you are trying to center a fixed width, you don't need to use columns. You can use basic centering css like `margin: 0 auto`

[2017-02-08 21:38] Native-Coder commented on #4174
And as I stated before, adding `step="any"` to the input fixes your issue

http://codepen.io/anon/pen/jyeORZ

[2017-02-08 21:41] eddiethejibson commented on #4205
@acburst Thanks for your response! I should just remove the whole column class and only use margin: 0 auto ? Is that all to make it responsive?

Thanks for all your help, if I can get this working I'll make sure to donate.

[2017-02-09 02:48] Dogfalo commented on #4174
I tried entering 321.11111 in the code pen and it shows the error message
as intended.

On Wed, Feb 8, 2017 at 1:38 PM, Native-Coder <notifications@github.com>
wrote:

--
Doggy sends his greetings from Mars.

[2017-02-09 02:50] Native-Coder commented on #4174
Mine? It doesn't when I do it

[2017-02-09 03:10] oyed opened #4207 "Dialog Docs incorrect"
### Description
The docs for the Dialog component, under "Custom HTML", states

However there is no flat button in the example code nor is there in the example (When you click the "Toast with Action" button).

### Screenshots / Codepen
[http://materializecss.com/dialogs.html](http://materializecss.com/dialogs.html)

[2017-02-09 09:37] alphadx opened #4209 "Datepicker inside a 'swipeable' tab keeps truncated inside container"
### Description
When i put a form input class datepicker inside a 'swipeable' tab, only the div goes darker and the calendar shows truncated.

### Screenshots / Codepen
USING $('#tabs-swipe-demo').tabs({ 'swipeable': true });
http://codepen.io/AlphaDx/pen/wgYdaQ

If i quite the swipeable control plugin, the problem vanish... but without swipe effect (http://codepen.io/AlphaDx/pen/BpqRgB).

[2017-02-09 10:29] exnihilo-creatio commented on #4012
@gg4u You have to require the specific library from materialize you want to use. Try the following config file for requirejs:

[code]

[2017-02-09 10:53] tomscholz commented on #4193
Yeah i know the issue here. I also had I it once. I fixed it by removing materialize and fourseven and meteor reset.

[2017-02-09 11:08] NitroBAY commented on #4193
@tomscholz  I tried to install materialize on a fresh Meteor project and the installation didn't work though

[2017-02-09 11:13] tomscholz commented on #4193
Strange 🤔

On Feb 9, 2017 12:09, Ilan Schemoul <notifications@github.com> wrote:

@tomscholz<https://github.com/tomscholz> I tried to install materialize on a fresh Meteor project and the installation didn't work though

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Dogfalo/materialize/issues/4193#issuecomment-278612287>, or

[2017-02-09 13:10] atomtm commented on #1861
The patches provided leave a red dot under the <select> element on FF ESR 45.7.0 (Debian Jessie 8)

[2017-02-09 13:16] TomFreudenberg commented on #1861
Hi @atomtm

could you check if this is happened at the forms on https://meetus.koella.com also?

I can't see any red dot so far but don't use Debian currently.

[2017-02-09 13:24] atomtm commented on #1861
@TomFreudenberg
![select](https://cloud.githubusercontent.com/assets/6628454/22785145/b9327bd6-eedb-11e6-925a-dc11909fe0b8.png)
perhaps you have to zoom a bit to clearly see it .

[2017-02-09 13:31] TomFreudenberg commented on #1861
Yeah, see that ...

I guess this might be the "active" indicator from FF to show "you are on the field" and just catch some nasty pixels ...

Okay ... I can reproduce this on FF 50 on MacOS as well (not on Chrome nor Safari) ... Just click into the field "First Name" and "Shift-TAB" (use keyboard) to select previous field. Within this action ... there is also a dot ...

Seems to be on FF only

[2017-02-09 14:07] atomtm commented on #1861
@TomFreudenberg Opera leaves a small triangle. http://imgur.com/a/y6CNf.

[2017-02-09 14:37] TomFreudenberg commented on #1861
Hm ... so that needs more / better adjustment or fix ...

[2017-02-09 14:48] smeijer opened #4211 "Don't include the Velocity library? Incompatible with velocity-react?"
This package seems to be incompatible with https://github.com/twitter-fabric/velocity-react, If I see it correctly; it's because materialize includes Velocity as well.

Is there anything we can do to make these two libraries work together?

Currently I'm receiving the error (on a simple `slideDown` animation):

[2017-02-09 16:03] smeijer opened #4212 "Update velocity, 1.2.2 > 1.2.3 || 1.4.2"
Although 1.4.2 would be better, even the 1.2.3 release has a useful new method, called `finishAll`.

According to https://github.com/Dogfalo/materialize/pull/2252 , 1.2.3 should already be there, but I guess it has been rolled back some day.

[2017-02-09 16:06] smeijer commented on #4212
Refering to this line:

https://github.com/julianshapiro/velocity/blob/1.2.3/velocity.js#L2077

[2017-02-09 16:31] briancwald commented on #4200
+1 also had this issue.

[2017-02-09 16:40] Jujunol commented on #4174
I found the issue. It has to do with locale and number formatting based on language.
So for you guys (assuming you have an English locale) I'm guessing it would occur if you entered `123 456`. But I have yet to test whether these characters are sent upon form submit.
Thanks for your help with this issue.

[2017-02-09 17:02] atomtm commented on #1861
If you come up with something else please let me know !

[2017-02-09 19:16] MindRapist commented on #437
I just figured out the solution. Instead of this:

do this:

Why? While the `slide-out` is inside the `navbar-fixed`-classed element the browser ignores it's `z-index` rule so `sidenav-overlay` shades it as a `navbar-fixed`'s child div. By placing it outside your fixed element everything works normally. Hope that helped some and sorry for any mistakes on this post I just signed up here...

[2017-02-09 19:45] SimHacker commented on #4098
I am attempting to fix some of these bugs I have reported, but I am finding many problems about the code that could not possibly have been intentional, and cause unfortunate unintended consequences and inefficiencies.

First of all, pressing the button down and dragging should NEVER go into text selection mode.

It is incorrect to for the handler to catch "click" events instead of "mousedown" even

[2017-02-09 20:09] AGPDev commented on #644
+1

[2017-02-09 20:36] SaeedPrez commented on #4035
The problem still persists as of today, `draggable: false` option removes the problem but also the functionality.

[2017-02-09 21:00] retorquere commented on #4070
I think I'm seeing the same issue. I'll try to bring my page down to a code-pen-sized chunk, but one thing I do see is that while the `<ul id='dropdown1' class='dropdown-content'>` is part of the page source when I request `View Source`, it's not there when I inspect page, and if I search for it using jquery, they are indeed not found.

[2017-02-09 23:38] Dogfalo commented on #4209
Please look through closed issues. #3968

[2017-02-09 23:38] #4209 closed

[2017-02-10 02:54] acburst commented on #4205
Well you are using 2 nested column classes. You should remove the inner one. And if you don't mind the size of the card being responsive then you don't need the margin, but if you want the card to be a fixed width, like you've set as 390px, then you should use the margin: 0 auto;

[2017-02-10 03:16] Native-Coder commented on #2102
I can't do that because my tabs are in a modal. It makes the indicator the entire width of the tabs. (underlines all tabs end to end)

[2017-02-10 03:20] Native-Coder commented on #2102
Nevermind, I just put @adamhammond 's one-liner in the modal::ready callback, and commented that it was a work around.

[2017-02-10 04:34] bigrobsf commented on #3859
I have the same issue on Mac OSX 10.11.6 with Chrome v56.0.2924.87 (64-bit), Firefox Developer 53.0a2 (2017-02-09) (64-bit), Safari Version 10.0.3 (11602.4.8.0.1).