[2017-09-27 16:03] IAMtheIAM commented on #5234
Nevermind, I see why it was done. Buttons default to inline block anyway.

[2017-09-27 16:03] #5234 closed

[2017-09-27 16:33] AudeB commented on #5072
Hello,
It's not working for me. I do not understand. with jquery it does not work.
I have a link that makes an ajax call to load on-the-fly data into a modal.
I have an ajax call, in `done()`, I add, in the dom, a div with the html content with id `#exemple_modal`.
Then I do:
  `$('#exemple_modal') modal ({dismissible: true, opacity: 0.5});`
then:
`$('#exemple_modal') modal ('open').`
I have TypeE

[2017-09-27 16:58] DanielRuf commented on #5072
@AudeB which version do you use? Can you provide a codepen?

[2017-09-27 17:39] AudeB commented on #5072
@DanielRuf  In fact, I forgot to give you the version.
the latest beta release v0.100.2

[2017-09-27 17:55] DanielRuf commented on #5072
Also why 1.12?

[2017-09-27 18:01] AudeB commented on #5072
this is a corporate portal. we are on IE 9, in migration to Edge.
you think this is what blocks modal? jquery 1.12 ?
yet the process is simple: adding div in the html code with an id. on this id we apply modal ('open').
I'll get back to it tomorrow morning

[2017-09-27 18:07] DanielRuf commented on #5072
https://codepen.io/anon/pen/xXdKwp jQuery 3
https://codepen.io/anon/pen/gGWYay jQuery 1

Both work, please check your markup and code.

[2017-09-27 18:27] AudeB commented on #5072
https://codepen.io/anon/pen/GMmKWa  don't work

[2017-09-27 18:36] DanielRuf commented on #5072
There is no modal in your codepen. Just an alert.

[2017-09-27 18:41] AudeB commented on #5072
oops it had not saved the last version. it must be good now
https://codepen.io/anon/pen/GMmKWa

[2017-09-27 19:21] allen-fang commented on #1155
How do you import Materialize into the React component? When I try to put Materialize.updateTextFields() into componentDidMount(), it throws an error saying Materialize is undefined.

[2017-09-27 20:14] ijabit commented on #901
Any ETA on V1?

[2017-09-27 20:20] DanielRuf commented on #5072
You just call `.modal('open')` but the `.modal()` initialization is missing.

[2017-09-27 20:21] Dogfalo commented on #5072
Also from the documentation

Take a look at the modal example

[2017-09-27 22:20] DanielRuf commented on #5072
This is optional as it seems.

[2017-09-28 04:43] AudeB commented on #5072
I updated the codepen with the id of the future window in the link's href and added the modal-trigger class and called the modal () function before modal ('open')
So I do not have the same error again, but it still does not work.
I have the overlay, and the content of the modal div, but the css is not applied
https://codepen.io/anon/pen/GMmKWa

 => For later, if the codepen is no longer available

[2017-09-28 04:57] DanielRuf commented on #5072
Where is the class `modal`?

[2017-09-28 05:07] DanielRuf commented on #5072
The trigger is not needed as you build your own in your `.click` event handler.

[2017-09-28 05:07] AudeB commented on #5072
ok I understood. I had forgotten the class "modal" in the loading of the new div #model_example

js final :
[code]

It works now correctly to open the modal.
but if it is opened and closed several times in succession - twice in succession is enough - the overlay remains. an idea ?

[2017-09-28 05:09] DanielRuf commented on #5072
And remove the unnecessary inline style, modals are already hidden by default.

[2017-09-28 05:11] AudeB commented on #5072
ok, it's the modal-trigger class on the link that was problem with the overlay

[2017-09-28 05:11] DanielRuf commented on #5072
Remove the trigger and href because this adds a second onclick eventlistener.

https://codepen.io/anon/pen/WZjRGE

[2017-09-28 05:14] AudeB commented on #5072
**Final code : it's work fine**
thank you for your patience and help :)

html :
[code]
js :
[code]

[2017-09-28 05:16] DanielRuf commented on #5072
Still `href="#exemple_modal` is not needed, replace it with `href="#"`

[2017-09-28 05:16] DanielRuf commented on #5072
Ah, now the code is correct =)

[2017-09-28 05:17] AudeB commented on #5072
yes I modified after posting

[2017-09-28 07:39] moh3n9595 commented on #2667
I have same problem and I not duplicated Materialize! (using Ionic 2)
index.ts :

[code]
app.module.ts :
[code]

[2017-09-28 08:29] EmixMaxime commented on #1082
Hi,
@Dogfalo I still have the problem, jQuery is loaded after materialize, no errors, last version installed (v0.100.2).

Even with `data-type`.

[2017-09-28 09:01] DanielRuf commented on #1082
You should load jQuery before Materialize.

[2017-09-28 12:25] JelleBlaauw commented on #4700
They're not fixing it, so you should.

[2017-09-28 13:24] usmanhafeez147 opened #5235 "file input is uploading just file name"
Hello Everybody
I'm Back-end PHP Developer. I purchased a html theme that is implemented by materializeJs and marterializeJs. I made a form with input type is file but I think materializeJs not letting to upload file but only String of file name and when I use php function files_get_content to show file params it give error.

[2017-09-28 13:39] rubenscd commented on #5211
Sorry, my mistake!

I was starting the modal by .modal-trigger (as in materialecss 0.97.7) but now it's otherwise, I'm reviewing my coding.

[2017-09-28 13:39] #5211 closed

[2017-09-28 14:18] tomscholz commented on #5235
Fill out the issue template, located [here](https://github.com/Dogfalo/materialize/blob/master/.github/ISSUE_TEMPLATE.md)

[2017-09-28 16:07] kirthick commented on #5235
please use this function json stringfy

[2017-09-28 17:00] IAMtheIAM commented on #5222
Yes, good fix, please merge for upcoming release.

[2017-09-28 17:55] mparker11 commented on #2994
This is super late. I stumbled upon this due to my own issues but I believe the problems with this was using `for` instead of `htmlFor` for the label attribute. `for` is not recognized in React.

[2017-09-28 19:02] Jujunol commented on #4159
This shouldn't be closed, this is still an Issue.
@Maqsyo The issue isn't anything to do with full width

[2017-09-28 19:18] tomscholz commented on #4159
I agree, this shouldn't be closed. Please reopen...

[2017-09-28 19:52] mwarrier commented on #5189
Same issue here. Reverted to version 0.98.2 for now.

[2017-09-28 22:06] vitorbarros opened #5236 "Fonts folder is not included in project with bower install"
Hello everyone.

When I install materialize with `npm install` It's getting all the project folders. But with `bower install` the fonts folder is not included.

Here the print.

`bower install` result

![image](https://user-images.githubusercontent.com/16783250/30992221-215e26e8-a47f-11e7-8f4e-09c5eae3a42a.png)

`npm install` result

![image](https://user-images.githubusercontent.com/16783250/3099

[2017-09-28 22:24] Dogfalo commented on #5236
Duplicate issue

[2017-09-28 22:24] #5236 closed

[2017-09-29 00:46] BlakeBrown opened #5237 "What happened to this library?"
The last commit was over a month ago, and there are currently 250+ open issues and 130+ open PR's.

I love this library, but it doesn't hurt to ask - is this even being actively developed anymore? What alternatives are people using?

[2017-09-29 00:48] Dogfalo commented on #5237
Active development has moved to v1-dev branch so we are not merging into
master and only making very specific changes related to v1

On Thu, Sep 28, 2017 at 5:46 PM Blake Brown <notifications@github.com>
wrote:

--
Doggy sends his greetings from Mars.

[2017-09-29 00:57] BlakeBrown commented on #5004
Any progress updates?

[2017-09-29 01:18] thomascothran commented on #5223
I've been forced away from Materialize on new projects for precisely this reason. It's not just React, it's also a problem for Angular and Vue. #2838 Judging by Dogfalo's comment on #1160, it does not look like there will be a fix. The options mentioned by @DanielRuf work, and the other CSS frameworks I've tested with React (Bootstrap, Bulma) do not have this problem.

[2017-09-29 02:45] JeffreyCA opened #5238 "Inconsistent navigation bar alignment w/ container (regular nav and extended nav w/ tabs)"
Was due to scrollbar!

[2017-09-29 03:05] BlakeBrown commented on #5237
Thanks for the quick response Dogfalo. It's good to know you guys are still working on it. From the outside it didn't seem like that much was happening - please continue to keep us updated on your progress!! :)

Also let me know if there's anything I can do to help with the V1 release. Would love to have a stable version asap ❤️

[2017-09-29 03:54] DanielRuf commented on #5004
@BlakeBrown sure, take a look at the dev branch.

[2017-09-29 04:36] Dogfalo commented on #5237
We're finishing up the plugins and will probably start having 1.0.0 beta releases -> release candidates -> final

[2017-09-29 04:42] #5237 closed

[2017-09-29 04:43] Dogfalo commented on #5223
The fix is to use the browser-default class. This allows the native select
to work similar to Bootstrap and Bulma

On Thu, Sep 28, 2017 at 6:18 PM, Thomas <notifications@github.com> wrote:

--
Doggy sends his greetings from Mars.

[2017-09-29 11:53] EmixMaxime commented on #1082
Ops, sorry I wanted to say before*. No errors in the console, if jQuery was loaded after I will have some errors.

[2017-09-30 00:45] wendellpereira commented on #2838
Thank you @ferchoman09 for the tips!

[2017-09-30 03:16] sebdah commented on #5189
I'm facing the same issue and cloned the fonts manually for the time being. Reverted to 0.99.0 for now.

[2017-09-30 08:04] liangWenPeng opened #5240 "When I click an item in dropdown selector , the item won't be selected"
for example ,in http://forms.viewflow.io/demo/bank/, when I click America in Nationality, America won't be choosed. My browser is   Google Chrome v61.0.3163.100.

[2017-09-30 08:15] #5240 closed

[2017-09-30 23:27] jessegilbride commented on #3361
I think the heart of the issue is that the `.row .col` uses floats, `.valign-wrapper` uses flexbox, and they might not be compatible as is, without a hack.
https://www.w3.org/TR/css-flexbox-1/#flex-containers

IMO, floats are useful and all that, but things can get difficult if they're relied on too much -- like a row-column layout.  I hope to see a future Materialize version that does away with t

[2017-09-30 23:30] jessegilbride commented on #2997
I put in my 2-cents about this on the other issue thread (#3361), including a possible workaround with `position:absolute`.

https://github.com/Dogfalo/materialize/issues/3361#issuecomment-333342892

[2017-10-01 00:07] jessegilbride commented on #5004
PLEASE rewrite the layout scheme (`.row .col {...}`) to be based on flexbox and grid, instead of floats.  It's time to modernize.  ;)

[2017-10-01 00:37] Dogfalo commented on #5004
Flexbox doesn't support IE 10 and a large number of bugs are present in IE 11. This will be something we add in the future but we will not change the current layout scheme in 1.0

[2017-10-01 05:52] Queatz opened #5242 "Dropdown in Dialog is misaligned when Dialog is scrolled"
Simply put, the dropdown doesn't account for scroll offset inside dialogs.

## Expected Behavior
The dropdown stays attached to its target, regardless of dialog scroll offset.

## Current Behavior
The dropdown is affected by the dialog scroll offset.
![image](https://user-images.githubusercontent.com/540620/31052178-302d2f1a-a642-11e7-95ea-771cdd7d0a47.png)
_behavior observed when clicking "ADD FO

[2017-10-01 08:52] drycrushader opened #5243 "Problem with sidenav (component:SideNav)"
## Expected Behavior
Sidenav won't be opened after close sidenav with "pan / slide".

## Current Behavior
Sidenav will open and close immediately when open (with click not pan or slide) via menu button.
I even test it with "http://materializecss.com/", and the bug is there too.

## Possible Solution
What I've done so far to eliminate this issue is by adding `removeMenu();` on "panend" event before

[2017-10-01 09:25] DanielRuf commented on #5004
Support for IE10 is not needed anymore imho. Also there is https://github.com/philipwalton/flexbugs and other frameworks like Foundation support IE11 with their flex grid ;-)

[2017-10-01 12:36] #5238 closed

[2017-10-01 15:19] ChildishGiant opened #5244 "Request: Smarter autocomplete"
At this point in time, autocompletesuggestions are ordered by the underlying JSON (In my case that's alphabetical) This means that if I enter Vi, DeviantArt and JustGiving come before Vimeo since they are alphabetically first.
![image](https://user-images.githubusercontent.com/13716824/31056020-688df034-a6c3-11e7-9cef-7b06a1adf28c.png)

I'm proposing that in this case Vimeo should come first since

[2017-10-01 20:11] Dogfalo commented on #5244
This is the case in v1

[2017-10-01 20:11] #5244 closed

[2017-10-01 22:23] Dogfalo commented on #5242
I don't understand why this is a bug, it makes sense to me that one would expect the dropdown to stay attached to the thing that opened it

[2017-10-01 22:35] Queatz commented on #5242
@Dogfalo The screenshot shows a large ~400px gap between the "Add form item" button (the trigger) and the actual dropdown that pops up (seen disappearing off the top of the dialog).  It should stay attached to the thing that opened it, as it does when you haven't scrolled inside the dialog.

[2017-10-01 22:51] Dogfalo commented on #5242
Ok, I think I misunderstood what you were initially saying. I believe this is something we've fixed in v1, but I'll have to check it

[2017-10-01 22:53] sas07 commented on #5004
Please can I use animate.css ( created by Daniel Eden) in the materialize Media( slider or carousel)?. Pardon me with this question as I am just a new developer.

[2017-10-01 23:04] Queatz commented on #5242
Ah cool.  Is v1 stable enough to use in production?  If so I'll give it a go and see where we're at

[2017-10-01 23:26] Dogfalo commented on #5242
No its still WIP

[2017-10-02 02:57] jessegilbride commented on #5004
@Dogfalo -- Good point, but it kills me that MS is always the laggard.  What about a polyfill??

@sas07 -- You ought to be able to use animation anywhere you wish.

[2017-10-02 07:24] kapilgorve commented on #2838
https://plnkr.co:443/oyhZ5DOmOFdLi470YKEb

[2017-10-02 09:41] GLedoussal opened #5246 "Label going out of its containers when first input-group is child"
When you put an input-group as the first child of an element, the label will move out of its container when active.

Maybe the class `.input-group` should have a padding instead of a margin ? (+ a `top:1em` on the `label`) ? I'm not doing a pull request now, cause I'm not sute of the side effects.

Codepen : https://codepen.io/GLedoussal/pen/xXLamG

[2017-10-02 12:51] amanneox commented on #5112
Amazing Fixed it!

[2017-10-02 13:13] tdotholla commented on #5218
Does your map container have the 'waves-effect' class in it?
I don't understand why this issue occurs.

[2017-10-02 16:27] mateusbfroemming commented on #192
in: theme/variables.css add this code:

$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;

but select a color!

[2017-10-02 19:44] sas07 commented on #5004
Thanks @ jessegilbride

[2017-10-02 19:47] tomscholz commented on #5004
@Dogfalo @jessegilbride @DanielRuf @acburst How about postponing the discussion about moving to flexbox to the 2.0 release?

[2017-10-02 20:04] MaxBittker commented on #2667
^Raven.install instruments click events by default, as a workaround you can turn click breadcrumbs off with this config option:
[code]
otherwise, you may want to reverse the oder you call raven.install()
and include the materializecss click handlers

[2017-10-02 20:13] ashkitten commented on #3040
I haven't dug into the source code of Materialize yet, and I don't know if I will, but I threw together a quick fix in the Sass of my website - maybe it'll help someone?
[code]
It doesn't quite solve the issue that @pingec mentioned where if the textarea is invalid and is also expanded, then the scaling will cause the error message to appear higher than it should - I assume this is the reason that

[2017-10-02 23:36] jfcere opened #5247 "Cannot set initial value of Timepicker following pickadate.js documentation"
## Expected Behavior
Following [pickadate.js API documentation](http://amsul.ca/pickadate.js/api/#method-set), we should be able to initialize the timepicker with a selected value like this:

[code]

## Current Behavior
When trying to use `set()` method on the `picker` using Materialize CSS I get the following error:

[code]

## Possible Solution
After taking a look at the original pickadate.js li

[2017-10-03 02:30] Dogfalo commented on #5004
Yep, we aren't interested in moving to flex in v1 for sure.

[2017-10-03 03:43] rabbitwish commented on #3461
Seem like since version `0.98.0` the callback for `onShow` is not working... (._. ;;;)

[2017-10-03 04:36] wendellpereira commented on #5247
Happening the same here:
`angular.min.js:122 TypeError: timePicker.pickadate.set is not a function
    at eventInfoCtrl.vm.onUpdateEvent (eventinfo.controller.js:176)`

[2017-10-03 05:13] sveloo commented on #650
Can you add a drop down menu with a sub menu in your template?

[2017-10-03 11:09] KilianB opened #5248 "Typo at german materializecss.com"
ScrollFire docs states:

**D**unktionen -> **F**unktionen

[2017-10-03 11:43] tomscholz commented on #5248
See https://github.com/Dogfalo/materialize/blob/master/CONTRIBUTING.md#translations. Please close

[2017-10-03 12:59] sebtouze opened #5249 "Timepicker container parameter ignored"
It seems that the Pickadate container parameter does not work. Like when you do `$('#timepicker').pickatime({container: 'body'});`
The same works perfectly fine with datepicker.

## Expected Behavior

With parameter container set, attach the timepicker node to the given root.

## Current Behavior
Container parameter is ignored and the timepocker node is set after the input.

## Steps to Reproduce

[2017-10-03 13:26] tomscholz commented on #5249
Duplicate of https://github.com/Dogfalo/materialize/issues/5225

[2017-10-03 17:04] wendellpereira commented on #5247
I just realized that the timerPicker is not based in the PickaDateJs, but in the [ClockPicker](http://weareoutman.github.io/clockpicker/); as seeing in: materialize/js/date_picker/picker.time.js:

`/*!`
` * ClockPicker v0.0.7 (http://weareoutman.github.io/clockpicker/)`
` * Copyright 2014 Wang Shenwei.`
` * Licensed under MIT (https://github.com/weareoutman/clockpicker/blob/gh-pages/LICENSE)`
` *`

[2017-10-03 17:16] jfcere commented on #5247
So basically, I guess we have to initialize the time picker with `pickatime()` which is from pickadate.js but use ClockPicker to set the value and communicate with the API...

It seems to work with my updated [Plunker](https://plnkr.co/edit/QxHHA3972Ex3JxkUp0T4?p=preview).

Would be great to have some documentation on that matter.

[2017-10-03 18:57] doublejosh commented on #4415
This does restore vertical scrolling on mobile... but breaks horizontal carousel scrolling AND use of the indicators!

Tested with on `0.100.2`, was previously on `0.98.2` with the original bug.

[2017-10-03 19:06] eboye commented on #5004
@Dogfalo you mean v2.0?

[2017-10-03 19:20] wendellpereira commented on #5247
Exactly this.

[2017-10-03 19:29] doublejosh commented on #4415
Should I open a new issue for touch scroll navigation being broken (which seems pretty major) or should we reopen this one?

[2017-10-03 19:36] tomscholz commented on #4415
Can you show us (in a codepen) that it is still broken?

[2017-10-03 19:39] doublejosh commented on #4415
I just tested all the versions between `0.98.2` and `0.100.2` ...it was indeed fixed in `0.99.0`.  Both vertical and horizontal scrolling were working.  Then the larger break happened in `0.100.0`.

[2017-10-03 20:02] doublejosh commented on #4415
https://codepen.io/anon/pen/jGGgbm

[2017-10-03 20:15] #5248 closed

[2017-10-04 03:45] DanielRuf commented on #5235
What is in $_FILES?

[2017-10-04 13:13] dbarison commented on #1031
same here. Please re-open

[2017-10-04 14:40] stewx commented on #1031
Ditto, please re-open this. I get this error in my app when there are animations and elements are being removed.

[2017-10-04 17:25] tiwariabhig opened #5250 "With animate.css the side-nav goes in the background of slider"
## When I include animate.css (library) the side-nav goes in background of image slider.
Here is what did I include...

`<link href="css/animate.css" rel="stylesheet" type="text/css"/>
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/lib

[2017-10-04 17:37] tomscholz commented on #5250
Would you mind to create a codepen? That would make it easier for us to quickly analyze the problem :)

[2017-10-04 17:37] tomscholz commented on #5250
Just make sure to fill out the ISSUE_TEMPLATE properly

[2017-10-04 17:39] tomscholz commented on #5218
Please close if resolved

[2017-10-04 17:41] tomscholz commented on #5250
@Dogfalo Could you label this as thirdparty?

[2017-10-04 17:41] IAMtheIAM commented on #5222
@apancutt are you going to make a PR or should I?

[2017-10-04 17:59] apancutt commented on #5222
Already created at #5224

[2017-10-04 18:25] Darkinuyasha commented on #5218
Sorry I forgot about this.
The fix is this and I already made a commit
.gm-style img{
    z-index: 1;
}

[2017-10-04 19:49] DanielRuf commented on #5218
Can you link the PR?

[2017-10-04 19:50] jessegilbride commented on #5004
@tomscholz @Dogfalo -- Fair enough. I'm sure you all have your hands full. I appreciate the work you do.

[2017-10-04 20:11] immertroll opened #5251 "Materialize not defined"
Hello I try to use Materialize and jQuery this. The most simple solution but the label will not be updated with the `active `class.

The console sais that Materialize is not defined caused by jQuery. What is the problem. I can't see it. Thank you very much.

[code]

[2017-10-04 20:13] Dogfalo commented on #5251
Please make a codepen

[2017-10-04 20:13] #5251 closed

[2017-10-04 21:15] IAMtheIAM commented on #5222
Oh yea that right, I saw that already. Thanks.

[2017-10-04 21:51] Darkinuyasha commented on #5218
How I do that?
Anyway it's in  materialize/sass/components/_waves.scss

[2017-10-04 22:02] acburst commented on #3040
Fixed in v1-dev aa03660a179d5824847a8179868ba19431605c0b

[2017-10-04 22:02] #3040 closed

[2017-10-04 22:09] acburst commented on #3585
Added in v1-dev de0b8765

[2017-10-04 22:09] #3585 closed

[2017-10-04 22:26] acburst commented on #5083
This is fixed in v1-dev

[2017-10-04 22:26] #5083 closed

[2017-10-04 22:28] acburst commented on #5203
When using pushpin you have to make sure the element you are making fixed is in a container with a fixed height. The act of making it fixed takes it out of the flow of the document causing the content jump.

[2017-10-04 22:28] #5203 closed

[2017-10-04 22:39] DanielRuf commented on #5218
There should be a button to create a PR against the original project.

https://github.com/Darkinuyasha/materialize

[2017-10-04 23:06] Dogfalo commented on #5242
Fixed in v1-dev

[2017-10-04 23:06] #5242 closed

[2017-10-04 23:06] #5198 closed

[2017-10-04 23:11] Dogfalo commented on #5085
Fixed in v1-dev

[2017-10-04 23:11] #5085 closed

[2017-10-04 23:14] #4301 closed

[2017-10-04 23:17] Dogfalo commented on #3467
This option has been removed in v1-dev

[2017-10-04 23:17] #3467 closed

[2017-10-05 07:14] tiwariabhig commented on #5250
Yeah sure I'am uploading to codepen and will post link here soon.  :)

[2017-10-05 07:31] tiwariabhig commented on #5250
<p data-height="265" data-theme-id="0" data-slug-hash="JrMYNJ" data-default-tab="html,result" data-user="abhigabhig" data-embed-version="2" data-pen-title="JrMYNJ" class="codepen">See the Pen <a href="https://codepen.io/abhigabhig/pen/JrMYNJ/">JrMYNJ</a> by Abhigyan Tiwari (<a href="https://codepen.io/abhigabhig">@abhigabhig</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="

[2017-10-05 07:32] tiwariabhig commented on #5250
https://codepen.io/abhigabhig/pen/JrMYNJ/ is codepen link :)

[2017-10-05 07:36] tiwariabhig commented on #5250
On line 11 I added animate.css cdn and on line 27 I added animated and pulse classes to animate.
Result of this is the side-nav either goes in background or width is too less and non clickable...
Though I've planned not to use animate.css. There was also  a problem `#sidenav-overlay` was above the sidenav so it wasn't clickable. I solved it by z-index.
Thanks :)

[2017-10-05 08:22] tomscholz commented on #5250
Duplicate of #3844

[2017-10-05 08:27] immertroll commented on #5251
@Dogfalo The same code in codepen
https://codepen.io/immertroll/pen/pWpgZd

Thx

[2017-10-05 10:31] promijn opened #5253 "jQuery Error on sideNav open"
When I ope the sideNav I get the an error in the console:
`Uncaught Error: Syntax error, unrecognized expression: [name=]`

This happens with my own code, but also with copied example on the website
http://materializecss.com/side-nav.html

Any thoughts?

[2017-10-05 10:35] tomscholz commented on #5253
Fill out the ISSUE TEMPLATE and provide a codepen. Otherwise we are not going to look into this

[2017-10-05 13:56] eboye commented on #3612
I like the idea. What I'm currently doing in my projects is that I copy all the imports from materialize.scss file and then override _colors.scss array of colors. This would be much much easier and it would be maintainable but still not break the default behavious for those that import the compiled css from cdnjs or somewhere else.

[2017-10-05 15:19] tiwariabhig commented on #5250
But solutions provided for #3844 don't work when I include animate.css :/

[2017-10-05 15:24] immertroll opened #5254 "Materialize not defined"
Hello I try to use Materialize and jQuery this. The most simple solution but the label will not be updated with the `active` class.

The console sais that Materialize is not defined caused by jQuery. What is the problem. I can't see it. Thank you very much.

Codepen:
https://codepen.io/immertroll/pen/pWpgZd

[2017-10-05 15:58] tomscholz commented on #5254
You cannot use the slim version. https://codepen.io/tomscholz/pen/MErOze

[2017-10-05 15:59] tomscholz commented on #5250
It does.
https://codepen.io/tomscholz/pen/BwJmGe?editors=1010

[2017-10-05 16:26] LuisPaGarcia commented on #5254
Use jquery.min.js instead  jquery.slim.min.js.

[2017-10-05 18:10] LeviDooley commented on #3670
The recommended solution to this bug is for us to modify your code? Lol. That seems a bit absurd. This bug should be re-opened, and actually fixed.

[2017-10-05 20:08] immertroll commented on #5254
Thank you very much. Sometimes you can't see the forest for the trees. ;-)
Thank you a lot.

[2017-10-05 20:08] #5254 closed

[2017-10-05 20:15] #5250 closed

[2017-10-05 20:35] Dogfalo commented on #5243
Fixed in v1-dev

[2017-10-05 20:35] #5243 closed

[2017-10-05 20:36] Dogfalo commented on #5253
Closing until a codepen is provided

[2017-10-05 20:36] #5253 closed

[2017-10-06 03:56] CharlieIGG commented on #5067
I'm going to have to bump this. I have the same issue, however when I call
[code]
Nothing happens. Can you share your solution @guilhermemaranhao ?

[2017-10-06 07:51] mozfet commented on #3503
On 0.100.2, the modal ready callback is triggered when the modal is opened, however the complete callback is not triggered when using ```$('#modalId').modal('close');```.

[2017-10-06 09:40] dee22 opened #5255 "Internet Explorer File Explore-Button clickevent doesnt cover whole Button"
In Internet Explorer 11, when clicking in the lower area of the File Browse-Button the explorer-dialog doesnt open.
I have fixed this for me by adding:
.file-field input[type=file]{
    height: 100%
}
The clickarea of the Button has also an Offset if the Filepicker Input is not the first element in the form.

[2017-10-06 10:12] ray007 commented on #1214
I moved the icon with class `prefix` after the input tag, added a new class `input-field-with-icon` to the container and a small css rule:
[code]
Works fine for now.

[2017-10-06 12:48] EmixMaxime commented on #5004
"Support for IE10 is not needed anymore", yes in an ideal world, not the real for some businesses.
I have to support IE10.

[2017-10-06 13:04] bassie1995 commented on #5004
You could always just use a previous version if needed.

I don't think it's bad to start phasing out support for a nine-month-old browser that's no longer supported by MS and has at least two successors. You'll need to start moving forward eventually.

[2017-10-06 13:19] DanielRuf commented on #5004
The last supported version, also for enterprises, should be IE11.

[2017-10-06 15:18] nmoreaud commented on #1037
In which release was it fixed ? It is still not working on the demo page.

[2017-10-06 16:55] Kianoosh76 opened #5256 "Bug in radio button because its label is not clickable"
Hi
I've recently updated my materialize to 0.100 and noticed that the radio buttons in my form are not functioning.
After so much try I realized that the label is not clickable and it is raised from the css file which sets `pointer-events: none` for `input-field label`
You can see the image for clarification:
![2017-10-06 20 21 26](https://user-images.githubusercontent.com/13102646/31289080-76a7a1

[2017-10-07 18:32] rhadamez commented on #5004
Man, I'm enjoying so much of Materialize, thank you. Just using a few days.

For the cards, I saw something bad:
a big word without space breaks the layout, see the attach.

[code]

Have a look:
https://user-images.githubusercontent.com/18365154/31310777-7095a834-ab74-11e7-929a-1c68205c4251.png

[2017-10-07 19:10] DanielRuf commented on #5004
@rhadamez that is normal. How should browsers know where to break such words? You can force this using CSS.

[2017-10-08 03:21] shmshd12 commented on #5235
Since you did not explain your issue properly I guess youve missed enctype="multipart/form-data".

[2017-10-08 03:38] #5235 closed

[2017-10-08 03:39] leonadito commented on #3110
I would also like to find out

[2017-10-08 03:40] Dogfalo commented on #5256
checkboxes and radio buttons are not meant to be in input-fields which is meant for text inputs. We realize this was not entirely intuitive. We've reworked forms in v1 to solve this problem

[2017-10-08 03:40] #5256 closed

[2017-10-08 04:08] leonadito commented on #3110
I inserted `<a class="carousel-item responsive-img col s12 m7 l4" href="#one!">`
works, but you have to refresh the page. how to solve this without refreshing

[2017-10-08 04:16] shmshd12 commented on #5191
First of all make sure your css file is defined after Materialize in head tag. If the problem occurs again then go for ! important.

[2017-10-08 09:04] DanielRuf commented on #5255
Can you open a PR with this change?

[2017-10-08 14:06] eboye commented on #5004
@rhadamez

try some of these https://developer.mozilla.org/en-US/docs/Web/CSS/word-break

[2017-10-08 15:03] amovsisyan opened #5257 "characterCounter() doesn't work after dynamically adding"
Hi All
Question is about dinamically appending characterCounter part.
Yes I know that I should initialize after dynamically adding, but it doesn't work
my input parts adding dynamically like this

[code]

good, but
before appending `$(clone).find('#textarea1').characterCounter();`
or after appending `$('#textarea1').characterCounter();`
it doesn't work
it works correctly when I doesn't add dynamic

[2017-10-08 15:12] tomscholz commented on #5004
You could use the truncate class

[2017-10-08 18:06] rhadamez commented on #5004
@tomscholz

"truncate" class, that was perfect. Thanks.

[2017-10-08 18:25] leonadito commented on #4372
First we have a problem at the time that does not fit and is caught. Then we can not put the carousel in the desired width. When resizing the canvas in portrait or landscape on mobile devices, it does not completely exit the screen configuration. Finally, it is not responsive. Not a desirable plugin.
Automatic translator of portuguese

[2017-10-08 18:28] leonadito commented on #4372
First we have a problem in height that does not adjust and is caught. Then we can not put the carousel in the desired width. When resizing the canvas in portrait or landscape on mobile devices, the carousel completely exits the screen configuration. Finally, it is not responsive. Not a desirable plugin.
Automatic translator of portuguese

[2017-10-08 20:46] bretonio commented on #3844
Quite right &mdash; remove `navbar-fixed` and the issue goes away. And yes, the adjustment to `#sidenav-overlay` resolves the issue when  the fixed navbar is switched on. So this has been a fruitful google and I thank you all.

[2017-10-09 07:03] nmoreaud commented on #1037
This solution is working in IE11, I didn't test it in older versions
[code]

[2017-10-09 19:59] changhaitravis commented on #771
+1 for flex-box. even namespaced out would be good.

[2017-10-09 19:59] Dogfalo commented on #3085
Fixed in v1-dev

[2017-10-09 19:59] #3085 closed

[2017-10-09 20:10] acburst commented on #4847
Error and success messages have been decoupled from the label element in aa03660a179d5824847a8179868ba19431605c0b on the v1-dev branch. These styling issues will be fixed for v1

[2017-10-09 20:10] #4847 closed

[2017-10-09 20:14] acburst commented on #4436
Error and success messages have been decoupled from the label element in aa03660 on the v1-dev branch. These styling issues will be fixed for v1

[2017-10-09 20:14] #4436 closed

[2017-10-10 00:12] Dogfalo commented on #3502
Added in v1-dev

[2017-10-10 00:12] #3502 closed

[2017-10-10 00:17] Dogfalo commented on #2621
For now we're staying with the current functionality of dropdown where you can only have one open at a time.

[2017-10-10 00:17] #2621 closed

[2017-10-10 00:17] Dogfalo commented on #3883
You can apply stopPropagation() or preventDefault() on any element yourself

[2017-10-10 00:17] #3883 closed

[2017-10-10 00:20] Dogfalo commented on #4098
Fixed in v1-dev

[2017-10-10 00:20] #4098 closed

[2017-10-10 00:22] Dogfalo commented on #5056
Select now stays within the bounds of the screen so this will no longer happen.

[2017-10-10 00:22] #5056 closed

[2017-10-10 00:24] Dogfalo commented on #3833
This has been fixed in v1-dev. Resize reflows will not mess up the dropdown position

[2017-10-10 00:24] #3833 closed

[2017-10-10 00:38] acburst commented on #3557
Refactored scrollspy to use classes in 5e8d6862. This should give you a standard way to reinit by using the destroy method. This will be available in v1.

[2017-10-10 00:38] #3557 closed

[2017-10-10 00:45] Dogfalo commented on #4770
Fixed in v1-dev

[2017-10-10 00:45] #4770 closed

[2017-10-10 00:50] Dogfalo commented on #2717
Please test this with the v1-dev branch.

[2017-10-10 00:52] Dogfalo commented on #1527
Fixed in v1-dev

[2017-10-10 00:52] #1527 closed

[2017-10-10 00:53] acburst commented on #2274
Multiple select has been refactored and many bugs have been fixed in ec94158e750156c94ef8303dbf2245271e25b7b0. Coming soon in V1

[2017-10-10 00:53] #2274 closed

[2017-10-10 00:55] Dogfalo commented on #349
Added in v1-dev

[2017-10-10 00:55] #349 closed

[2017-10-10 03:44] DanielRuf commented on #4770
@Dogfalo can you link us to the specific commit?

[2017-10-10 04:40] SmboBeast commented on #4613
Is anyone else still having this problem?  I just upgraded from .98 to .100.2 and this is an issue.  It wasn't an issue in the .98 version.

Any help would be appreciated.

[2017-10-10 04:56] knight7024 commented on #4613
@SmboBeast I'm using .100.1 version materialize javascript because of this issue. Have you imported js in body tag?

[2017-10-10 05:03] SmboBeast commented on #4613
@knight7024

Thank you for this!  I will try using .100.1 right now and see if this is a temporary fix.

I have imported the JS in the body tag also.  Give me a few minutes.  Will update this thread.

[2017-10-10 05:27] SmboBeast commented on #4613
@knight7024 Even on .100.1, it still doesn't work for me on page load.  However, when text is entered into the textarea, it works just fine.  Weird...

[2017-10-10 05:34] knight7024 commented on #4613
Well... idk about that issue. We need to wait newer version which is fixed

[2017-10-10 05:35] SmboBeast commented on #4613
Agreed.  Thanks @knight7024

[2017-10-10 05:38] knight7024 commented on #4613
:) @SmboBeast

[2017-10-10 07:04] kevinklinegargar opened #5260 "angular2-meteor - TypeError: undefined is not a function"
Hi to All,

When I added this package I got an error after restarting the meteor server. The error occurred during "building local packages". This was the error in the terminal:

[code]

package.json

[code]

I'm using osx machine. MeteorJS 1.5.2.2

If I remove the package the issue was gone and I'm able to run the app.

[2017-10-10 08:37] SherinBloemendaal1 commented on #5197
Well???

[2017-10-10 12:33] Conrekatsu commented on #5004
in Carousel mobile indicators and links inside carousel-item are not working.

here is my code
`
<div class="carousel-item">
                <img src="{{$value['Feat_image']}}" alt="{{$value['Property_Title']}}">
                <span class="toggle-cont tooltipped" data-position="top" data-delay="50" data-tooltip="Press And Hold To Hide Description"><i class="material-icons white-text">visibility_

[2017-10-10 18:19] swapster commented on #5110
Also happening in Microsoft Edge 40.15063.0.0

[2017-10-10 19:07] ChildishGiant commented on #3502
How do we test out this branch?

[2017-10-10 19:11] Dogfalo commented on #3502
You can `git checkout v1-dev` and run grunt monitor to build it

[2017-10-10 21:37] SibasishSG opened #5262 "Checkbox is disabled (not clickable) when using runat="server""
I am using materialize css in asp.net aspx view. My checkbox is disabled when using runat="server".
[code]

[2017-10-10 22:26] Dogfalo commented on #5262
Create a codepen please

[2017-10-10 22:26] #5262 closed

[2017-10-11 02:05] InquisitiveDevelopment opened #5264 "Remove jQuery dpendency"
What are the odds of removing the dependency on jquery?

[2017-10-11 05:38] Dogfalo commented on #5264
100%

[2017-10-11 05:38] #5264 closed

[2017-10-11 13:21] gewisser opened #5265 "Dropdown popup list position in modal window [duplicate]"
I want to reopen issues #4618
@tomscholz closed the uncorrected problem.

[2017-10-11 13:27] FrederickFarfan commented on #5004
Can you make Materialize avaliable from Composer?

[2017-10-11 13:49] tomscholz commented on #5265
There you go...

[2017-10-11 14:40] DanielRuf commented on #5004
Composer is mainly for PHP packages.

[2017-10-11 15:06] Plmeks commented on #5069
When you re using materialize with angularjs, every time u init some materialize elements - do it like this:

angular.element(document).ready(function () {
    $('.modal').modal();
    $('select').material_select();
});

Not working with jquery document ready, but fine with angular one. Checked this in plunker, the same result:
[Plunkr](https://codepen.io/anon/pen/NazzON)

[2017-10-11 16:05] rikyperdana opened #5266 "fixed side-nav seems misaligned since ver 0.97.6"
I made a side-nav menu with ver 0.100.2 and this is how it looks like. Everything is misaligned
![with 0 100 2](https://user-images.githubusercontent.com/11875540/31452236-865d231a-aed8-11e7-8e8c-796842e25c00.png)

But when I revert it back to 0.97.6, everything is back and fine
![with 0 97 6](https://user-images.githubusercontent.com/11875540/31452069-104ddaca-aed8-11e7-8e17-e7fd948f0b22.png)

An

[2017-10-11 17:11] tomscholz commented on #5266
You should read our contributing guidelines

[2017-10-11 18:42] Dogfalo commented on #5260
This isn't really enough information to know what the error is. Have you tried using the official package on Atmosphere?

[2017-10-11 18:45] Dogfalo commented on #4722
`userView` has been removed

[2017-10-11 18:45] #4722 closed

[2017-10-11 18:46] Dogfalo commented on #4720
We don't want to add polyfills for this, so when support for this improves we will consider supporting it

[2017-10-11 18:46] #4720 closed

[2017-10-11 18:48] Dogfalo commented on #4641
We haven't really had a problem with conflicts in Grunfile.js.

[2017-10-11 18:48] #4641 closed

[2017-10-11 18:49] Dogfalo commented on #1690
In v1-dev, we've overhauled the label system so that is the error messages do no move inadvertently with the primary label.

[2017-10-11 18:49] #1690 closed

[2017-10-11 18:50] #5265 closed

[2017-10-11 18:50] Dogfalo commented on #4618
Fixed in v1-dev

[2017-10-11 18:50] #4618 closed

[2017-10-11 18:51] Dogfalo commented on #5199
This sounds like a general How-To question. Please search stack overflow

[2017-10-11 18:51] #5199 closed

[2017-10-11 19:00] Dogfalo commented on #4305
None of your codepen's seem to be demonstrating the problem. Please update this and I will reopen

[2017-10-11 19:00] #4305 closed

[2017-10-11 19:02] Dogfalo commented on #3733
Fixed in v1-dev

[2017-10-11 19:02] #3733 closed

[2017-10-11 19:05] Dogfalo commented on #3309
Don't think this is necessary or intuitive that block would add width:100%

[2017-10-11 19:05] #3309 closed

[2017-10-11 19:09] Dogfalo commented on #1877
I think this can largely be handled just by setting transition to 0 duration on the plugin calls. This also does not seem to be a very popular request so we will not be adding any additional support for it.

[2017-10-11 19:09] #1877 closed

[2017-10-11 19:10] #2913 closed

[2017-10-11 19:11] Dogfalo commented on #2913
Fixed in v1-dev

[2017-10-11 19:13] #1996 closed

[2017-10-11 19:14] Dogfalo commented on #3532
Tabs no longer relies on jQuery so this issue will be fixed in v1

[2017-10-11 19:14] #3532 closed

[2017-10-11 20:27] hir3npatel commented on #5004
Just curious on thoughts about when v1 release could happen, is it still a long way off? It would be the first stable release right?

[2017-10-11 20:38] DanielRuf commented on #5004
tba

[2017-10-11 20:38] DanielRuf commented on #5004
Take a look at the v1 branch.

[2017-10-11 21:13] GitFlip commented on #180
Anyone have this issue when using Electron? I've created an Electron Test App and want to try out using Materialize. Screenshot of issue: https://i.imgur.com/S5aJ4ys.png

Here is the code:

[code]

You'll notice it's the same code from Materialize's Form page: http://materializecss.com/forms.html

One last note: I am working behind a proxy at work so I've saved jquery-3.2.1.min.js locally to the s

[2017-10-11 21:17] Dogfalo commented on #5004
@hir3npatel Most of the code is written. We just have to create an upgrade guide as well as update documentation then we will release a test build

[2017-10-11 21:53] G-Rath opened #5269 "Slide 'method does not exist' message is wrong"
https://github.com/Dogfalo/materialize/blob/da2376efd2f749aa1616f6803e1a173ded342f46/js/slider.js#L321

From my understanding, this should read `on jQuery.slider`, not `on jQuery.tooltip`.

[2017-10-11 22:38] Dogfalo commented on #5269
Fixed here: ced8318fd0aab674b50e7605816b427d91a10ef1

[2017-10-11 22:38] #5269 closed

[2017-10-12 06:25] Conrekatsu opened #5270 "Solution For Carousel bug in mobile wherein clicks inside carousel does not work"
Links Inside Carousel in a mobile environment not working. Also it is hard to scroll up and down in mobile because of the carousel disabling vertical scrolling when it detects slightly horizontal swipe

remove the vertical scroll disabling function of carousel when it detects horizontal scrolling

## Possible Solution
on the materialize js file.
I changed this block of code
[code]

into
[code]

##

[2017-10-12 06:37] IbrahimEzat opened #5271 "materialize css slider within a parallax doesn't work!"
When asking general "how to" questions:

- Please do not open an issue here!
- Instead, ask for help on [StackOverflow](stackoverflow.com/questions/tagged/materialize) or in our [Gitter](https://gitter.im/Dogfalo/materialize) channel.

- Read the [CONTRIBUTING document](https://github.com/Dogfalo/materialize/blob/master/CONTRIBUTING.md) Any issues that are violating the contributing guidelines, wi

[2017-10-12 06:40] Conrekatsu commented on #5271
It works this is how I did it.
[code]

[2017-10-12 06:49] IbrahimEzat commented on #5271
you can check how i turn arround the issue from [here](https://stackoverflow.com/questions/33459124/how-can-i-nest-materializecss-slider-within-a-parallax/46580003#46580003)

slides code + one css line of code -not using parallax class at all
but i think it should be fixed in the core of materialize to work with class name

[2017-10-12 09:17] gewisser commented on #4618
Yes, I saw that the component was redesigned in the new version, but when the new version comes out, I can not quickly adapt my set of [vuejs components](https://github.com/gewisser/materializecss-vuejs-component) that are used in many projects. In this regard, I very much ask you to issue the last v0.100.3 with the fixes.

[2017-10-12 12:37] baldemir commented on #4086
is there a way to refresh autocomplete data list as user writes?

[2017-10-12 13:23] bspatil0001 commented on #2652
$("select").material_select("update"); not making any difference. When i initialise pre-selected data, It is showing undefined and no options are selected. If any one has found solution share it. Thank you.

[2017-10-12 13:34] #5270 closed

[2017-10-12 14:44] diegonc opened #5273 "material_select: typing on the keypad does not activate option"
When the user types a number using the keypad while a select has focus the component will not correctly pick the option to activate.

The code in `forms.js`, which is linked below, assumes the `which` property on an event can be converted to a character using the `String.fromCharCode` function.

https://github.com/Dogfalo/materialize/blob/da2376efd2f749aa1616f6803e1a173ded342f46/js/forms.js#L720

[2017-10-12 15:39] JockerGG opened #5274 "Materialize Select not render when do the page responsive"
Following the documentation I wrote the select tags as follows:

[code]
in my <script> i wrote :

`$( "#s1" ).material_select();
`
and in a normal page the select looks like this:

![image](https://user-images.githubusercontent.com/6700974/31504454-1208d68e-af38-11e7-997f-0173e7757e22.png)

but when I make my page responsive and refresg the page the select looks like this:

![image](https://user-i

[2017-10-12 15:53] IAMtheIAM commented on #4797
Can I help move this forward in any way?

[2017-10-12 17:06] Dogfalo commented on #5274
wrap your code in a document.ready function in jQuery

[2017-10-12 17:06] #5274 closed

[2017-10-12 17:22] JockerGG commented on #5274
the code is into document.ready

![image](https://user-images.githubusercontent.com/6700974/31509675-f56cf216-af47-11e7-986c-52a042eb0135.png)

[2017-10-12 17:23] JockerGG commented on #5274
and the problem continues

[2017-10-12 17:23] DanielRuf commented on #5260
Please increase the verbosity level.

[2017-10-12 17:23] Dogfalo commented on #5274
Then if you believe there is a bug with the library, please make a codepen illustrating it

[2017-10-12 17:37] GitFlip commented on #180
I solved my issue above by following the solution here: https://stackoverflow.com/questions/32621988/electron-jquery-is-not-defined/37480521#37480521

[2017-10-12 20:26] Zep18 opened #5275 "Error with Meteor 1.6-rc7 and node-sass 4.5.2"
Hey,

## Expected Behavior
I'm updating my project for meteor 1.6 (actually rc7)

Materialize was working fine before, but now it won't install

## Current Behavior

gives the following error logs :

=> Errors while adding packages:

While loading package materialize:materialize@0.100.2:
error: Command failed:
/root/.meteor/packages/meteor-tool/.1.6.0-rc.7.1w2boep++os.linux.x86_64+web.browser+web.

[2017-10-12 23:16] Sushisource opened #5276 "Collapsible "open" command doesn't work if some elements in it don't have .collapsible-header class"
## Expected Behavior
In a collapsible with 4 elements in the list, if the middle two elements are "disabled" by not including the "collapsible-header" class in their attributes (I just realized while typing this I could use pointer-events to disable them instead, which makes this work, but still a bug) and I call .collapsible("open", 3) the 4th item should open.

## Current Behavior
Item doesn't o

[2017-10-12 23:31] Sushisource commented on #5276
Unrelated directly to the bug: The api with indexing is a bit cumbersome. Being able to simply select the element you want to directly, and toggle that, rather than needing to call on it's parent and understand which index it is would be a bit more ergonomic I think.

Also 'open' seems to actually toggle, where the name implies idempotency. Having a dedicated 'toggle' would be nice too.

Thanks!

[2017-10-13 02:17] reyou opened #5277 "Scrollspy does not move with scroll"
## Expected Behavior
http://materializecss.com/scrollspy.html
Scrollspy table of contents should scroll along with scroll down/up.

## Current Behavior
Scrollspy table of contents sticks where it is initialized.

## Possible Solution
Maybe fixed position can be added corresponding class?

## Steps to Reproduce (for bugs)

See live demo at https://codepen.io/anon/pen/qPyzgz

## Your Environment
Win

[2017-10-13 03:34] recallhyx opened #5278 "Too many select options can't select the last few options"
I have encounter a problem ：I dynamic generate option in my web,but it has too many option and I found that I can't select the last few options , and more stranger , the last few options can be selected on mobile phone
Just like this on pc :
![image](https://user-images.githubusercontent.com/23056574/31529017-1a69a584-b009-11e7-98d7-b7186ff88204.png)
It can't select the last few options
Here is my

[2017-10-13 04:16] orverduzco opened #5279 "Navbar is closing right after opening in mobile view"
## Expected Behavior
The navbar should open smoothly and stay open on mobile view.

## Current Behavior
Seems like this issue was partially fixed. The description is that, when the navbar on mobile view is closed sliding to the left, when re-opening it, it opens and closes immediately, and the next time it behaves correctly

## Steps to Reproduce (for bugs)
1. Open materializecss.com page on a cel

[2017-10-13 16:36] hiteshsahu commented on #3845
Update your java script files of JQuery and MaterializeCSS to latest lib from http://materializecss.com/getting-started.html
[code]

Codepen example:

https://codepen.io/hiteshsahu/pen/dVqVbW?editors=1010

[2017-10-13 22:21] edimuj commented on #5121
Yes, it certainly looks like a duplicate, but #4380 is closed for some reason, but I can confirm that this is still an issue on both iOS and Android as well as in the Chrome developer view (as a touch device). Having form elements, including Collapsibles within a tab component, doesn’t work if you want to interact with them with touch events. Tapping on elements, swiping etc. just doesn’t work. Th

[2017-10-14 03:24] jessegilbride commented on #4982
FYI, I'm using v0.100.2 and I am having this issue.  *sigh*

[2017-10-14 12:34] DanielRuf commented on #4982
@jessegilbride please provide a codepen. I guess this is all related to image loading and when the DOM is ready.

[2017-10-15 00:39] Teh64 opened #5280 "Checkbox"
First off I just wanted to say I'm new to GitHub Issues and I'm sorry if I did this wrong. But I was looking through the checkbox designs, and realized the effects don't work with my browser. Check out my Material Checkboxes [Here](https://teh64.github.io/md-chk) and email me at teh.picix@gmail.com if you would like to add them to Materialize.

Thanks in advance.

[2017-10-15 01:03] Dogfalo commented on #5280
We aren't interested sorry.

[2017-10-15 01:03] #5280 closed

[2017-10-15 02:16] jessegilbride commented on #4982
@DanielRuf I think you're right because if I put the carousel initialization inside the modal's 'ready' statement it works as expected (or close to it).  Here's the pen, as requested:

https://codepen.io/jessegilbride/pen/EwdPyr

[2017-10-15 02:21] HIRANO-Satoshi commented on #5133
class="right" works without the above change now. .collapsible-header seems not display:flex.

.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

[2017-10-15 10:26] maxkaplan commented on #4086
I'd love to have these upgraded id too.
I have been using this example as a work around... https://codepen.io/arg3ni5/pen/ygpZLx

[2017-10-15 11:44] DanielRuf commented on #4982
@jessegilbride right, this should be done in the ready callback in the modal (and when the referenced images are available - testing with something like imagesloaded). That's how the DOM works and how it is solved in other frameworks too.

[2017-10-15 11:47] moohit23 commented on #5004
@Dogfalo It would be great if you will add following classes

- `.s0` to hide on **Mobile Devices**
- `.m0` to hide on **Tablet Devices**
- `.l0` to hide on **Desktop Devices**
- `.xl` to hide on **Large Desktop Devices**

[2017-10-15 12:06] gusbemacbe commented on #4982
@DanielRuf do you mean those famous TypeError of undefined functions errors?

[2017-10-15 12:38] DanielRuf commented on #4982
@gusmacbe this is probably unrelated.

[2017-10-15 12:50] DanielRuf commented on #5004
@moohit23 this is not Twitter Bootstrap. We already have hide and show classes.

[2017-10-15 13:05] moohit23 commented on #5004
@DanielRuf I don't think Twitter Bootstrap have these type of classes. It would be helping hand for developers to remember those classes. Also, it might save some bytes of file code size.

[2017-10-15 13:29] DanielRuf commented on #5004
These class names are not really good and we already have visibility classes. Such shorthand class names are used in Bootstrap 4 but not in other frameworks. Users of Materialize already know our visibility class names and why invent new ones which would not add new functionality?

[2017-10-15 20:48] silviosoto commented on #4159
Facil !!!
con Jquery
 $(".carousel").css({ "height": "100%"});

RESUELTO

[2017-10-16 07:10] sivailangos commented on #180
Still has the problem if the text box has value as 0?
![screenshot from 2017-10-16 12-39-42](https://user-images.githubusercontent.com/17606063/31599237-2628cbbc-b26f-11e7-9aab-73440565f633.png)

[2017-10-16 15:03] jack2ky opened #5281 "unsupported pseudo: valid"
I have a textarea in IE and when I click on it it shows error : `Syntax error, unrecognized expression: unsupported pseudo: valid`
<textarea id="review_text" class="materialize-textarea validate" autocomplete="off" minlength="50" maxlength="1500" data-length="1500" pattern=".{30,1500}"></textarea>

using <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.js"></s

[2017-10-16 15:53] Jujunol commented on #4159
@silviosoto I'm not sure what else you might be doing but that didn't seem to work for me

[2017-10-16 16:09] AJ-TechSoul commented on #1214
Here is the css code i wrote, you just have to add this css in your stylesheet and then just instead of 'prefix', use 'postfix' and it works like charm.
[code]

[2017-10-16 16:18] kevinklinegargar commented on #5260
That's all what I got in the console.  There's a place where I can get more details of an error?

[2017-10-16 20:58] dnwk commented on #4705
I also found out collapsible & collapsible-accordion does not respond to a keyboard command. I can't press enter to open a collapsible-accordion.

[2017-10-17 08:31] mche opened #5282 "modal.js: nested modals"
One modal inside other modals didnt shows through overlay.

## Expected Behavior
 Nested modals must be shown.

## Current Behavior
Codepen [here](https://codepen.io/anon/pen/EwOpKZ)

## Possible Solution
Move modal element to document.body if it has closest('.modal').length

(after the current [line code](https://github.com/Dogfalo/materialize/blob/master/js/modal.js#L294))

[code]

Regards

[2017-10-17 08:37] mche commented on #5282
Oh, sorry solution, classname can be diffrent.

[2017-10-17 09:14] mche commented on #5282
`if (this.$el.parents().filter(function(){  return $( this ).css('position') == 'fixed'; }).length) $("body").append(this.$el);`

[2017-10-17 12:09] woutervanwijk commented on #992
This is indeed not fixed in 100.2. visibility: hidden fixes it

[2017-10-17 12:46] mche commented on #5282
find parents positions: fixed || absolute || ?

[2017-10-17 17:23] potter777 commented on #4086
an onClickItem is a good idea too.
if you are refreshing the data, i think the performance adding a onclick with jquery is not the best.

[2017-10-17 19:18] ggeorgakopoulos commented on #5004
When do you estimate that v1.0.0 will be released?

[2017-10-17 19:21] tomscholz commented on #5004
@ggeorgakopoulos Just never give up looking... https://github.com/Dogfalo/materialize/issues/5004#issuecomment-329515180

[2017-10-17 23:48] devansh1110 commented on #5278
You can use `.browser-default` for the time being, until this issue is confirmed/fixed.

Thanks,
Devansh

[2017-10-18 02:19] rhadamez commented on #5004
There is a class for input's errors? like bootstrap has the "alert alert-danger". I could create a custom one quietly, but since I'm using materialize, it would be good to use of that type.

[2017-10-18 03:50] DanielRuf commented on #5004
@rhadamez here are some rules https://github.com/Dogfalo/materialize/blob/master/sass/components/forms/_input-fields.scss

[2017-10-18 05:45] Worthy7 commented on #901
@Fasani unfortunately ugly solution, but it's better than nothing. Anyone got any news on this?
I have just encountered this in our system (lots of IE11 users) whilst using Typeahead.js

[2017-10-18 09:57] Nemental commented on #5277
Hello reyou,
my solution is this: https://codepen.io/anon/pen/wrRXrP
You can try this with your code, I hope it works! :)

[2017-10-18 11:38] dkent600 commented on #2844
I am encountering the same problem, and I am not including anything twice.

[2017-10-18 12:51] DetlefPeters commented on #5217
No reaction to this issue for almost four weeks now...anything wrong with it?

[2017-10-18 16:27] JeanPaulBeard commented on #3829
This is my solution for bug
`.input-field label {
    pointer-events: all;
}`

[2017-10-18 16:27] JeanPaulBeard commented on #2518
This is my solution for bug
`.input-field label {
    pointer-events: all;
}`

[2017-10-18 16:27] JeanPaulBeard commented on #407
This is my solution for bug
`.input-field label {
    pointer-events: all;
}`

[2017-10-18 16:44] apudiu commented on #5103
Who designed it? he/she should have common sense that we shouldn't enlarge an image too much, I used 200 px image as thumbnail (when not enlarged) & when it enlarges on 4k display....

U got it... how nice that would be..

Hope this issue will be fixed ASAP

Thanks

[2017-10-18 16:47] avif commented on #5260
@kevinklinegargar You seem to be missing a polyfill package, try [core-js](https://www.npmjs.com/package/core-js).

[2017-10-18 17:27] AmitJoki commented on #3829
Yes @JeanPaulBeard
[code]

Solved all the problem. Strangely enough, it was set to `none`, and even strange enough was that I used Internet Explorer to find and rectify this 😄

[2017-10-18 17:43] IAMtheIAM opened #5283 "Why does .row .col have padding-left and padding-right?"
Padding is applied to the left and right of `col` when nested in a `row`
[code]
## Expected Behavior

First element should not have any `padding-left`. Last column should not have any `padding-right`
## Current Behavior

Padding is applied to the left and right of `col` when nested in a `row`. This makes the first column pushed from the left, and the last column pushed from the right, causing alig

[2017-10-18 19:55] Dogfalo commented on #5217
We will fix this, but it will be released in 1.0

[2017-10-18 19:59] Dogfalo commented on #5282
Why don't you fix the nesting in your own code?

All I did here was place the second modal outside of the first one: https://codepen.io/Dogfalo/pen/aLXORo

[2017-10-18 19:59] #5282 closed

[2017-10-18 20:10] Dogfalo commented on #5278
Fixed in v1-dev

[2017-10-18 20:10] #5278 closed

[2017-10-18 20:12] #5191 closed

[2017-10-18 20:17] Dogfalo commented on #5062
Fixed in v1-dev, the temporary fix for this is to not put checkboxes and radio buttons inside input-field

[2017-10-18 20:17] #5062 closed

[2017-10-18 22:22] kishorekumar080297 commented on #3730
I too had the same issue, but adding the $(document).ready function solved the issue and the page doesn't scroll now while invoking the modal
`  $(document).ready(function(){
       $('.modal').modal({
          dismissible: true,
          opacity: .5,
          inDuration: 300,
          outDuration: 200,
          startingTop: '4%',
          endingTop: '10%',
     );
     });`
Gist [URL]: (htt

[2017-10-19 00:00] acburst commented on #5281
The current version is 0.100.2

[2017-10-19 04:27] mche commented on #5282
Because, according to modern component style programming modals come up inside own component.

Dont worry, I did my fix.

[2017-10-19 09:39] gnicol-bzh commented on #4797
Ok that's why `bower/materialize/dist/fonts` does not exist anymore when installing Materialize using `bower install materialize --save`. There is no mention of this breaking change in the doc (http://materializecss.com/getting-started.html).

Adding `<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">` to our html doesn't solved the problem for css is still looking for R

[2017-10-19 09:46] mrdnote commented on #1861
I also had to add pointerEvents: 'none'; to the css override, else the old select was still clickable!

My workaround for the select validation:
http://jsfiddle.net/b8frk03m/1/

[2017-10-19 13:26] shaundona commented on #5283
Might be worth using a grid system that doesn't require nth-child selectors for layout. Take a look at one I've developed in SCSS https://github.com/shaundona/pushGridSystemTheScssWay
This only uses, width, float and margin and does not require psuedo-classes.

[2017-10-19 15:30] jamiebarrow commented on #5004
Not sure if this is the right place to post, but the experience of tabs can be improved at some point. See the [discussion](https://github.com/Dogfalo/materialize/issues/5004) and specifically check the [comment illustrating the example](https://github.com/Dogfalo/materialize/issues/4400#issuecomment-290177865) of how it should look according to the [Material guidelines](https://material.io/guidel

[2017-10-19 16:40] IAMtheIAM commented on #5283
@shaundona That's pretty cool. It looks like a good grid system. I have actually been using [Susy3](http://oddbird.net/susy/) since it allows for creating totally custom grid system.  Thanks for sharing your grid.

[2017-10-19 17:01] IAMtheIAM commented on #4797
I did something like @gnicol-bzh did and apparently that does work. I was using the `remove-roboto` branch, but I just tried the main 0.100.2 branch and it works fine. So locally referencing the fonts as he showed above does work.

[2017-10-19 17:26] macu39 commented on #5193
same problem here

[2017-10-19 18:13] tgm-mstreicher commented on #3391
`

  <ul id='dropdown1' class='dropdown-content' style="width: 300px !important">
    <li><a>one</a></li>
    <li><a">two</a></li>
    <li><a>three</a></li>
  </ul>
`
only work at navbar

[2017-10-19 19:03] IAMtheIAM opened #5284 "SideNav should have active element on <a> not <li>"
Currently sidenav is implemented in the following way:
[code]
However, typically people set the active element on an <a> tag. For example, when using this in angular, the routerLink directive is usually set on the <a> tag. Setting on li is acceptable, but what is the reasoning behind putting the active class on `li`?

The `a` tag fills the entire `li` so it should be the same outcome, but easier f

[2017-10-19 19:05] tomscholz commented on #5284
changing this could possibly break many installations.

Why not?:

side-nav .active {
background-color: rgba(0, 0, 0, 0.05);
}

[2017-10-19 19:59] jfcere commented on #5284
@tomscholz sounds like a good alternative! 👍

[2017-10-19 20:08] IAMtheIAM commented on #5284
@tomscholz this is even better, good thinking!

[2017-10-19 20:11] IAMtheIAM commented on #5284
PR submitted https://github.com/Dogfalo/materialize/pull/5285

[2017-10-19 20:23] IAMtheIAM commented on #5004
@darckyn I am using Materialize and ng2-Materialize in my angular 4 app with no problems at all. I have been using Materialize for over a year and a half, it works fine, even with all the changes, and I recently started adding some ng2-Materialize components to prevent the need for jQuery initialization.

But I still use materialize directly for the majority of the html and css, since it easy to w

[2017-10-19 20:39] Dogfalo commented on #5004
@IAMtheIAM Good news, v1 will have jQuery free initialization and will most likely not even need jQuery as a dependency

[2017-10-19 21:07] rizplate commented on #3106
Please re-open this issue. Smaller buttons are needed in many scenarios.

[2017-10-19 22:00] darckyn commented on #5004
Thx for the news @IAMtheIAM !!!!

[2017-10-20 01:34] Dogfalo commented on #5027
Fixed in v1. Timepicker now leverages Modal

[2017-10-20 01:34] #5027 closed

[2017-10-20 07:07] petri opened #5286 "Utilize html5 <section> tag"
HTML5 has added several useful tags that provide improved semantic structure to HTML, such as the `<section>` tag.

It would be good to be able to use that as an alternative or replacement to `<div class="section">` .

[2017-10-20 07:11] petri opened #5287 "Utilize <hr/> tag instead of <div class="divider"></div>"
The `<hr/>` tag has been defined in html5 as having a semantic meaning of 'thematic break', ie. a divider. It would make sense to use that as an alternative or replacement to ` <div class="divider"></div>`.

[2017-10-20 10:23] andyflatt commented on #1214
The above does not add in an active class on input box focus.

If you want to do that, you do much the same but add a little more css and javascript.

[code]

[code]

[2017-10-20 10:56] developeranirudhprabhu commented on #5281
@jack2ky Can you use the current version and share it on codepen or so?

[2017-10-20 11:07] developeranirudhprabhu commented on #5257
Hi @amovsisyan Can you share a code pen for this? May be i can help you

[2017-10-20 13:31] ctytgat commented on #1690
@Dogfalo Do you know in which release this overhaul will be included?

[2017-10-20 14:50] tomscholz commented on #1690
1.0.0

[2017-10-20 15:43] AJ-TechSoul commented on #1214
@andyflatt Great !!! you have completed the code.

**HTML Code :**
[code]

**CSS code :**
[code]
**JAVASCRIPT:**

[code]

[2017-10-20 22:01] #5281 closed

[2017-10-20 22:03] jack2ky commented on #5281
I moved passed this. sorry I forgot what I did. I think it was because of this.
``

[2017-10-21 03:56] Jh0nk commented on #5004
In the css, the .input-field> select rule
I consider changing it to .input-field> select: not (.browser-default)

[2017-10-21 05:44] Saggar112 opened #5288 "Add feature to collapse FAB programmatically"
Hi there, I am trying to close a Fixed Action Button programmatically, but cannot seem to do so.
This is different from the click-to-toggle class, because although it enables the programmatic behaviour, it requires a click to open, which I do not want.

The behaviour I am requesting is that the FAB open on hover, close when the mouse leaves (these 2 things already happen), and also be able to be c

[2017-10-21 08:14] amovsisyan commented on #4086
godness I just don't want to send that Get request
how to stop it ?

[2017-10-21 08:42] sunnydumalu commented on #5004
Materialize is freaking awesome add more components like Semantic ui. i hope Flexbox will be added soon.
Great job guys

[2017-10-21 19:00] obama commented on #5157
ill ask here first: can you add a `.tooltip('hide')` like in jQueryUI? it will not remove the tooltip completely but just hide it on demand (when an event moves the tooltipped item away from mouse)
atm i circumvented it by setting delay to 0 and setting it to 350 again.

[2017-10-21 19:21] Dogfalo commented on #5157
@obama This is added in v1 when it releases

[2017-10-21 19:21] silverdr commented on #5062
I have a production code where checkboxes are still working as expected, also inside input-field div. I just encountered the problem in the development environment. Therefore I presume it was introduced relatively recently? I really would not like to introduce the temporary workaround to the whole codebase but on the other hand, I don't want the problem to propagate to the production environment w

[2017-10-21 19:38] Dogfalo commented on #5062
The best solution is to not wrap the checkboxes in the `.input-field` class.

Another solution is to add
[code]

[2017-10-21 19:44] silverdr commented on #5062
But you say it's been fixed recently - so I assume this manual addition won't be needed some time "soon", right? BTW - I went through the recent releases using @alexisdiel's codepen and the problem seems to have been introduced in v0.100.0. I might freeze the Gemfile version to 0.99.0 until the next release is out. Is that something you'd agree to call a temporary solution? Without the input-field

[2017-10-21 20:08] Crowes opened #5289 "Materialize.objectSelectorString is not a Function"
## Expected Behavior
I've literally only called .sideNav(). I'm assuming this is something to do with initialisation.

## Current Behavior
![image](https://user-images.githubusercontent.com/13123486/31855436-45ad100a-b6a3-11e7-8ab1-5cd173d917c4.png)

## Steps to Reproduce (for bugs)

1. Use Materialize through NPM, in an Electron window.
2. Set window.$, window.Hammer, and window.Materialize to th

[2017-10-21 22:23] edmundorobles opened #5290 "Is compatible with bootstrap 3?"
great and nice work!
only want to know if materialize is bootstrap 3 compatible?

[2017-10-21 23:20] Dogfalo commented on #5290
Thank you!  It might work, but we would not advise using materialize with bootstrap as some of the plugins will have naming conflicts

[2017-10-21 23:20] #5290 closed

[2017-10-22 09:15] huww98 commented on #2848
This is not fixed, vue.js always generate `href` for `router-link` template element. so I created #5291 to fix this.

[2017-10-22 11:21] idealadarsh commented on #5287
@petri I'd like to work on this project.

[2017-10-22 11:58] tomscholz commented on #5287
You can use the .divider class on `<hr/>` tags.

[2017-10-22 12:10] xnsceo commented on #5004
is there beta testing for 1.0?

[2017-10-22 12:58] Crowes commented on #5289
Solution: https://github.com/electron/electron/issues/254

[2017-10-22 14:22] somnath111993 opened #5293 "Datepicker not working in ng-repeat"
Here is my code snippet:

<div class="input-field col xl6" ng-repeat="cfObj in custCFData track by $index">

                                    .........
                                    <div class="" ng-show="(cfObj.cf_type === 'Date')">
                                        <input id="{{cfObj.cf_name}}_Date_id" type="text" class="datepicker actionDate"

[2017-10-22 16:45] kurotsukikaitou commented on #3844
@bretonio Or... You could just move the left-nav to the outside of fixed-nav div like solution on answer number 6 by @tomscholz ... 🤔

[2017-10-23 00:24] Dogfalo commented on #5004
There will be beta testing for 1.0 since there is a lot of rewritten components. Dropping jQuery is no simple task, and our doing so will have introduced bugs.

[2017-10-23 04:13] Dogfalo commented on #5293
You need to initialize it, also please ask How-to questions on Stack Overflow

[2017-10-23 04:13] #5293 closed

[2017-10-23 08:35] neokeats opened #5294 "select browser-default"
Hi,
with version 0.100.2
there is an issue with selects that have class set to browser-default

![image](https://user-images.githubusercontent.com/148858/31879357-7ca910b4-b7dd-11e7-8c9f-0d76ec16d533.png)

It seems that the opacity and positionning of the materialize behaviour are still applied, resulting on the selects not shown...

[2017-10-23 08:39] tomscholz commented on #5294
Are you still trying to initialize the select?

[2017-10-23 10:41] SurajMDurgad commented on #4650
onAutocomplete not working even after updating to the latest release!

[2017-10-23 10:43] neokeats commented on #5294
the html/js is exactly the same as before (0.98.1). basically just class="browser-default"
for it to still working with 0.100.2  the workaround is to add to custom.css:

[code]

[2017-10-23 11:09] tomscholz commented on #5294
Could you please post a codepen that illustrates your issue? I think I know where the problem in your code is. Also make sure to read our [Contributing guidelines](https://github.com/Dogfalo/materialize/blob/master/CONTRIBUTING.md) and next time make sure to fill out the [issue template](https://github.com/Dogfalo/materialize/blob/master/.github/ISSUE_TEMPLATE.md)!

[2017-10-23 11:29] DanielRuf commented on #4650
Sure, it works. Take a look at https://codepen.io/anon/pen/jGoWmR which uses 0.100.2

[2017-10-23 11:29] DanielRuf commented on #4650
If not please provide a codepen with your code and check your browser console for any errors.

[2017-10-23 17:35] IAMtheIAM opened #5296 ".flow-text should not have font-weight specified"
This tag is applied in [_typography.scss](https://github.com/Dogfalo/materialize/blob/master/sass/components/_typography.scss#L48)

[code]

However it doesn't make sense. There is already `.thin` and `.light` classes which allow a user to set font-weight conditionally.

The user should determine the font-weight in their own stylesheet, not the framework. Mainly because a user may want to use flow-

[2017-10-23 17:43] dkreider commented on #5176
@devansh1110 and @tomscholz , any chance we can re-open this issue? It still isn't fixed. See my comment above for more details.

Thanks!

[2017-10-23 17:46] tomscholz commented on #5176
@Dogfalo Could you reopen this and close #5294?

[2017-10-23 18:22] devansh1110 commented on #5176
**Temporary Workaround**

For this reason, I've been working with Version 99.0 You can import it using
`<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">`
`<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>`

It works fine in V99.0.

Thanks,
Devansh

[2017-10-23 18:25] devansh1110 commented on #5216
@wellcaffeinated & @Dogfalo  - Someone can close this issue now... It was referenced to #5024.

 - Devansh

[2017-10-23 20:42] IAMtheIAM commented on #5296
I can make a PR if this is approved suggestion, let me know.

[2017-10-23 20:49] IAMtheIAM opened #5297 "Materialize.js Tabs is not compatible with Angular Router using "Hash Strategy""
Materialize.js Tabs is not compatible with Angular Router using "Hash Strategy", or any links prepended by `#`

## Expected Behavior

Materialize.js Tabs should be compatible with links prepended with "#"

## Current Behavior

[This line](https://github.com/Dogfalo/materialize/blob/17046f4fecca8308bfd2ca542d81814ca139bae8/js/tabs.js#L86) throws a js error when it encounters a link using "Hash Stra

[2017-10-24 01:06] rosnaib11 commented on #1707
This is the best way I used for dynamically set selected.

$('#role_status option[value='+data.select_val+']').attr('selected', true);

[2017-10-24 02:23] terensu-desu commented on #5004
@Dogfalo jQuery free initialization! Oh boy, super happy to hear that. Thanks for your hard work, Materialize is great. Looking forward to 1.0.

[2017-10-24 04:46] SurajMDurgad commented on #4650
Hi, I'm using coffescript.
This is the link to codepen -
https://codepen.io/SurajMDurgad/pen/dVEwKz

On Mon, Oct 23, 2017 at 4:59 PM, Daniel Ruf <notifications@github.com>
wrote:

[2017-10-24 04:48] VicJohn opened #5299 "Click event triggered for the option even when it is already selected in material select"
## Expected Behavior
When selecting an option which is in selected state, should not trigger onchange event again and again
## Current Behavior
When selecting an option which is in selected state, triggering onchange event whenever selected
## Steps to Reproduce (for bugs)
1. Navigate to http://materializecss.com/forms.html#select
2. Register the following onchange event in browser console by open

[2017-10-24 04:51] DanielRuf commented on #4650
@SurajMDurgad try `onAutoComplete` instead of `Autocomplete`.

[2017-10-24 04:52] DanielRuf commented on #4650
Also make sure to use uppercase `c`.

[2017-10-24 05:23] silviosoto commented on #4159
modifies the height of the property or with another height
my, I tube the problem and solve it by modifying the order in which the css files called the order is as follows:
1. materialize.css file
2. you.css

[2017-10-24 05:42] SurajMDurgad commented on #4650
Nope, same issue. I tried 'AutoComplete'.

On Tue, Oct 24, 2017 at 10:23 AM, Daniel Ruf <notifications@github.com>
wrote:

[2017-10-24 05:49] DanielRuf commented on #4650
jQuery is not loaded in your example.

[2017-10-24 05:52] SurajMDurgad commented on #4650
$(document).ready ->

	countryArray = $('input.autocomplete').data("cities")
	dataCountry = {}

	i = 0
	while i < countryArray.length
		dataCountry[countryArray[i]] = null
		i++

	$('input.autocomplete').autocomplete
		data: dataCountry
		onAutoComplete: (val) ->
			console.log val
			return
		limit: 5
		minLenght: 5

This the actual code I'm using in my project!

[2017-10-24 05:57] sunnydumalu commented on #5004
Waiting for 1.0 want to make themes with 1.0 cant wait.

[2017-10-24 06:03] SurajMDurgad commented on #4650
@DanielRuf Sorry about the jQuery. I've loaded it now!

[2017-10-24 06:15] DanielRuf commented on #4650
Meant lowercase c, sorry.

[2017-10-24 06:19] DanielRuf commented on #4650
https://codepen.io/anon/pen/KXLJba

It should work.

[2017-10-24 07:40] SurajMDurgad commented on #4650
When I implement in the project I face the above mentioned issues. I guess there might be some dependency issue from other modules. I think I'll try to implement some other gem.
Anyways thanks for replying on short notice.

[2017-10-24 07:46] DanielRuf commented on #4650
Did you include jQuery UI? Because this has its own `.autocomplete()` and conflicts with Materialize. Mixing UI libraries is never a good idea @SurajMDurgad

[2017-10-24 11:21] caseydev commented on #5004
Can you guess? When it will release? Eagerly waiting for 1.0

[2017-10-24 15:27] simentesempre opened #5300 "Multiple dropdowns not showing using Materialize.css 0.98.2 + AngularJs 1.6.6"
## Expected Behavior
Creating multiple dropdowns using ngRepeat, assigning individual ids to each one, the should show individually.

## Current Behavior
On click event the "active" class is added to the dropdown-button, but nothing happens to the dropdown-content, and it does not show up.

## Steps to Reproduce (for bugs)

**When I reproduce it on a JsFiddle or CodePen, it works.**
I have no erro

[2017-10-24 17:53] Dogfalo commented on #5300
Please ask How-to questions on Stack Overflow

[2017-10-24 17:53] #5300 closed

[2017-10-24 21:16] ArturGrigio commented on #3653
Or you can use this library: https://github.com/sudiptpa/ui-sortable

Just run:

`bower install ui-sortable --save`

[2017-10-24 23:50] acburst commented on #5288
Made FAB a plugin with more robust programmatic options in af660d37.
This will be available in v1.

[2017-10-24 23:50] #5288 closed

[2017-10-24 23:51] acburst commented on #3998
Added a direction option in the FAB plugin in af660d37.
This will be available in v1.

[2017-10-24 23:51] #3998 closed

[2017-10-25 00:51] LorenzoGangi commented on #787
I noticed some jittes in chrome when using the mousewheel. I fixed it by adding a mousewheel handler that  kills the native scroll and sets it consistently. Here is my solution http://ironlasso.com/materializecss-parallax-mousewheel-jitters-fix/

[2017-10-25 01:09] Dogfalo commented on #787
Just as an FYI to anyone else reading, scroll hijacking can be very annoying to the user if overdone or not done well.

[2017-10-25 01:23] jessegilbride commented on #5004
@Dogfalo -- hit me up for beta testing, if you'd like.

@ everyone -- you should probably stop asking when v1.0 will be released, it'll come when it comes.  Just 'watch' this issue thread and eventually you'll find out.

[2017-10-25 06:23] Lyk1395 opened #5301 "Materialize select issue"
Hi All,

Apologies for submitting a query here in github even if I already asked it in stackoverflow. I just hope you checked my issue in there. [Stackoverflow question](https://stackoverflow.com/questions/46925124/materialize-select-issue)

Thanks! :)

[2017-10-25 07:33] Dogfalo commented on #5301
If you know you aren't supposed to open an issue here for How-to questions, then please don't do it.

[2017-10-25 07:33] #5301 closed

[2017-10-25 07:40] ray007 commented on #5004
Beta-testing means using the `v1-dev` branch, no?
Though a cdn-version would make things easier...

[2017-10-25 07:48] simentesempre commented on #5300
Oh I will. (Actually, I already did that).
Problem here is this is actually a bug. (If you'd have spend some time to read the post carefully you'd have realized that).
This is not a "how to", i'm perfectly able to DO that (I actually DID that), problem here it DOESN'T WORK, 99% if you want my opinion is a 0.98.2 (this version had a lot of problems) compatibility bug with one of the versions of the

[2017-10-25 08:01] DanielRuf commented on #5004
This makes no sense for dev.

[2017-10-25 08:01] DanielRuf commented on #5004
Exactly.

[2017-10-25 08:15] precizie commented on #3844
Hi guys!

This is the HTML fix no CSS or anything else:

    <div class="navbar-fixed">
        <nav class="blue" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">
                    <div class="logo center-block"></div>
                </a>
                <ul class="right hide-on-med-and-down">

[2017-10-25 09:13] simentesempre commented on #5300
Anyway, if anybody stumbles upon this bug, this fixes it (and NO, it is NOT a "HOW TO"):

[code]

[2017-10-25 11:25] SamWillson commented on #5299
I think that is not an undesirable bug.
One way to fix the problem would be to have a global variable which is going to store current value from the select. Whenever onchange is triggered, you can do a check if the value is same as the old value. If true then do something else.

[2017-10-25 12:09] VicJohn commented on #5299
That is OK. I Agree. This can be accepted when the number of dropdowns are limited. What if I have n number of pages and n number of dropdowns in each page?

[2017-10-25 18:30] hellsan631 commented on #5004
@Dogfalo I'm really happy that this is dropping jquery. I've had to switch over to google MDL for a few things, even though i like Materialize more, because of the jQuery Dependency bloat. Glad to hear your planning to drop the jquery dependency soon!

[2017-10-25 19:43] Dogfalo commented on #5004
v1-dev will where all the development happens, so at any given time it is possible that v1-dev builds are not working. We will have versioned test builds instead.

These are the phases of the Release process:
[code]

[2017-10-25 22:43] acburst commented on #2421
ScrollFire is going to be removed in v1 due to lack of complexity and out of project scope. There are plenty of libraries that are more specialized to achieve the same thing but much more robustly.

[2017-10-25 22:43] #2421 closed

[2017-10-25 22:43] acburst commented on #4202
ScrollFire is going to be removed in v1 due to lack of complexity and out of project scope. There are plenty of libraries that are more specialized to achieve the same thing but much more robustly.

[2017-10-25 22:43] #4202 closed

[2017-10-26 03:18] kiwo12345 opened #5303 "Select dropdown does not work in container with overflow-y:hidden"
I have a container with this css in order to make it scrollable sideways and not up and down.

`overflow-y: hidden;  overflow-x: scroll;`

But now my materializecss <select> dropdown wont work, it gets clipped instead of showing outside  the container.

I have both tried **overflow-y: visible;** but this will make the container scrollable in all directions which I dont want. I also tried to up the

[2017-10-26 05:08] DanielRuf commented on #5275
Please use the summary tag of html next time ;-)

Please report this issue at https://github.com/sass/node-sass/

[2017-10-26 05:10] DanielRuf commented on #5275
Probably an error with your Meteor tools as https://github.com/sass/node-sass/releases/.../download/... is not valid anymore. It was in the past afaik.

[2017-10-26 13:12] shehjart commented on #2187
Hi guys, any idea how to solve the same problem for <select> also. I am running into exactly the same error message.

[2017-10-26 15:38] retorquere commented on #4020
I'm getting a lot of complaints from my users that "the date picker doesn't work"; people are just used to first picking the month, then the day, then the year. Looking at the docs it makes sense that the day would not be retained when switching months, but (for my users at least), changing year but not month/day is different. The material.io docs don't really show what the by-design behavior shou

[2017-10-26 22:13] IAMtheIAM opened #5304 ".side-nav 'fixed' should behave like Angular-Material"
1) See: [docs for Angular.io](https://angular.io/guide/form-validation) (they use angular material)
2) Make browser desktop width
3) Click hamburger menu to close nav, watch content shift left.
4) Click hamburger to open menu, watch content shift right
5) Resize browser narrow like mobile, then repeat. Notice side-nav is now an overlay, content does not shift.

Right now, when setting sidenav to f

[2017-10-26 22:35] IAMtheIAM opened #5305 "".card .card-content p" should not have color set to "inherit""
The following CSS in [_cards.scss](https://github.com/Dogfalo/materialize/blob/master/sass/components/_cards.scss#L147) makes no sense:

[code]

This prevents applying a class to a `p` element which would change the style. For example:

[code]

[code]

The `red` color would be overridden by `inherit`, defaulting it to black or whatever the parent is.

## Proposed solution
remove `color:inherit` fr

[2017-10-27 02:01] helderfalcao commented on #4280
Someone found the solution?

[2017-10-27 10:32] retorquere commented on #4020
@JesseRWeigel the gist snippet assumes only one picker on a page, correct? because `thisInputID` and `thisPickerID` are declared above `$('.datepicker').pickadate({`, but `$('.datepicker').pickadate({` will apply those sttings to all datepickers on the page.

[2017-10-27 10:42] retorquere commented on #4020
The datepicker for materializecss is based on [this](http://amsul.github.io/pickadate.js/date.htm) picker right? The behavior my users expect is the standard behavior for that component; can I just re-enable that somehow?

[2017-10-27 11:36] numediaweb opened #5306 "Add AMD support"
When will materialize support AMD? Many modern apps use AMD loaders like RequireJs, WebPack etc..
[code]
 but at the moment this generates this note:
[code]
If I remove shim => velocity I get Velocity not defined.

There were some works to make Materialize AMD but I think the projets were abandoned:
https://github.com/Dogfalo/materialize/pull/653
https://github.com/noodny/materializecss-amd

[2017-10-27 12:26] tomscholz commented on #5306
Related: #634

[2017-10-27 14:52] JesseRWeigel commented on #4020
@retorquere Yes, I originally created the gist for one date picker, but I think it should work with multiple date pickers as well.

Materialize uses pickdate.js v3.5.0. I am not sure if all the pickdate.js functionality is available or how difficult it would be to just use the default pickdate.js component.

[2017-10-27 14:58] retorquere commented on #4020
I have reworked the snippet for multiple pickers, but even for one picker I don't see any change in behavior. What should I be seeing?

[2017-10-27 15:23] JesseRWeigel commented on #4020
What you should see is that a user can pick a day first, then the year and it will be correctly displayed in the input field.

Normally the Materialize datepicker will not update the year unless you click on the day after setting the year.

The gist makes it so that the date gets updated either way.

[2017-10-27 15:32] numediaweb commented on #5306
@tomscholz
That duplicate issue is locked/closed :(

[2017-10-27 15:59] numediaweb commented on #5004
@Dogfalo
Any possibility to make materialize AMD compliant?

[2017-10-27 16:20] garnold opened #5307 "Activating search bar with JavaScript"
How does one activate the search bar with JavaScript? I was trying something like this with no luck:

[code]

[2017-10-27 20:15] Dogfalo commented on #5307
Did you take a look at the example on the documentation?

[2017-10-27 22:52] garnold commented on #5307
Hi @Dogfalo , if [this is the example to which you're referring](http://materializecss.com/navbar.html#search-docs), then yes. I'm in those docs all day every day.

Is there another example I should be looking at for activating the search bar with JavaScript?

[2017-10-27 23:29] Dogfalo commented on #5307
The styles are based on `:focus`, so programmatically giving focus to the element should work

[2017-10-28 04:18] garnold commented on #5307
Thanks for the tip, @Dogfalo . I now have this working. [Turns out my issue was I had the JavaScript console open while I was playing around with focus](https://stackoverflow.com/a/21081458).

Here's my working example:

[code]

[2017-10-28 04:18] #5307 closed

[2017-10-28 05:36] pvanheus commented on #4852
@Snewk your description of the problem "the navbar ends up covering the top of the page content" is exactly what I'm seeing (see codepen https://codepen.io/pvanheus/pen/GORrJX adapted from the one you posted). Is 15b5ff4 meant to solve this problem?

[2017-10-28 10:45] uok opened #5309 "Time picker: add "interval" option"
The [time picker](http://materializecss.com/forms.html#time-picker) works really great and is a nice addition to the materialize framework!

In my app users should only be able to select time in 5 min intervals (e.g. 8:05, 8:10, etc.) but time picker is missing the `interval` option (see [docs](http://amsul.ca/pickadate.js/time/#intervals)).

Please add this option, thanks!

[2017-10-28 15:56] lastnoob commented on #4280
just give the carousel a fixed height with !important, seems like the easiest solution

[2017-10-28 19:40] tdotholla commented on #5062
Not necessarily a 'closed' solution if the solution is to take them outside of input-fields.
meteor-autoform places the 'input-field' class on the 'afFormGroup' template automatically.

i guess i have to use custom templates now.

[2017-10-28 19:41] Dogfalo commented on #5062
It's a 'closed' solution because it has been fixed for the next release

[2017-10-28 19:57] Native-Coder commented on #771
Why don't we branch it?

[2017-10-28 20:21] Dogfalo commented on #771
We're focused on 1.0 release right now. After that is out, we will add a Flexbox grid.

[2017-10-28 20:26] jouvin opened #5310 "Add a logo-image class in the navbar"
It would be great to be able to add the logo in the navigation bar as an image rather than a text. It is not the same as adding a (small) icon on the left of the logo text as the idea is that it is placed like the logo and can be bigger than the icon. I suggest adding a `logo-image` class in `_navbar.scss` in addition to `brand-logo` class defined as follow:
[code]
`$navbar-logo-image-height` shou

[2017-10-28 22:25] ruant opened #5311 "sideNav: destroy doesn't remove resize event"
## Expected Behavior
Resize event should be removed when sideNav('destroy') is called

## Current Behavior
Even after destroy has been called the resize event is being fired on window resize.

## Possible Solution
Remove the resize event in destroy.
This solution can be used:
https://stackoverflow.com/a/13268437/4334577

## Your Environment
* Version used:
* Browser Name and version: Chrome Versio

[2017-10-28 22:32] Dogfalo commented on #5311
Fixed in 1.0 https://github.com/Dogfalo/materialize/blob/v1-dev/js/sidenav.js

[2017-10-28 22:32] #5311 closed

[2017-10-28 23:03] DanielRuf commented on #5309
It is currently based on `ClockPicker v0.0.7 (http://weareoutman.github.io/clockpicker/)`

[2017-10-29 09:43] ruant commented on #5311
Yes, I just saw that now 👍

However, I forked and fixed in in my fork to get my project working.
PR is made if you want to merge it, but I recon v1 is so close that it's not needed.
https://github.com/Dogfalo/materialize/pull/5312

Keep up the good work! 😃

[2017-10-29 15:18] dryhurst commented on #2217
Hi everyone, I am having this same issue now with materialize:materialize@0.100.2

It's been exactly _two years since this issue was first reported_, why are we **still** seeing this issue? How to fix this?

[2017-10-29 18:38] smileytechguy commented on #4333
v0.100.2 seems to still have this error...this can be seen in @Native-Coder's codepen by changing the assets to use the latest version.

[2017-10-29 18:41] smileytechguy commented on #4333
Adding the following to my override CSS solves the issue:

[code]

[2017-10-29 18:54] Dogfalo commented on #4333
I believe there was a regression here because we had to revert this change because it was causing some other bugs. We changed the way we handle the error messages in 1.0 so that it is a separate element and does not have this problem.

[2017-10-29 18:55] smileytechguy commented on #4333
Alright, thanks

[2017-10-29 18:55] Dogfalo commented on #4333
Here is what the new error message system will look like

[code]

[2017-10-29 18:56] smileytechguy commented on #4333
Oh, I like that.  That's about how I'm doing it for things like recaptcha and stuff already

[2017-10-29 20:34] Dogfalo commented on #1248
An option for this has been added in 1.0

[2017-10-29 20:34] #1248 closed

[2017-10-29 20:35] Dogfalo commented on #5232
Fixed in 1.0

[2017-10-29 20:35] #5232 closed

[2017-10-29 20:36] Dogfalo commented on #5247
Timepicker is not based off pickatime, this will be made clear in the documentation updates coming with 1.0

[2017-10-29 20:36] #5247 closed

[2017-10-29 21:00] jfcere commented on #5247
Thanks we figured it out.
I guess I should probably remove my PR then if it is already documented in 1.0 ...

[2017-10-30 09:45] uok commented on #5309
@DanielRuf thanks for commenting. Sadly the code you linked to is no longer maintained.
I thought Materialize uses http://amsul.ca/pickadate.js/ because pickadate.js is mentioned in the [Materialize docs](http://materializecss.com/forms.html#date-picker) and there doesn't seem to be another lib with that name.
If somebody knows the corrects libs can you please update the docs? Thanks!

[2017-10-30 10:07] Amosduor commented on #5004
When I use "navbar-fixed" to fix the bavigationbar, the sidebar will be grey and can not be clicked, it seems like a bug.

[2017-10-30 10:38] CatalinRadoi opened #5314 "autocomplete url?"
I've checked the .js and I've seen no implementation for an autocomplete with url. Really? =)

[2017-10-30 10:47] tdamir commented on #5306
It would be really nice to have an AMD support out of the box.

The best solution I'm aware of is to transform original source files with method described here:
https://aurelia-ui-toolkits.gitbooks.io/materialize-bridge-docs/content/installation/aurelia-cli.html

Unfortunately it won't work with v0.100.2 due to a change in Materialize's loading order but it works with v0.100.1.

[2017-10-30 10:54] penguoir commented on #5287
Couldn't you just use the `.divider` class on an `<hr>` element?
[code]

[2017-10-30 11:07] numediaweb commented on #5306
@tdamir
I think AMD is far away from being AMD compliant. If you check the source code you will find that there's no unique way of loading the dependencies (jquery, velocity, hammer): some are AMD and some not and they are mixed together :(
Also some "components" are loaded differently:
[code]

I think materialize needs a complete rewrite if we aim to support AMD.

[2017-10-30 11:11] tomscholz commented on #5004
@Amosduor See #3844

[2017-10-30 11:12] tomscholz commented on #5309
The clockpicker component has been rewritten in v1. See the `v1-dev` branch

[2017-10-30 11:14] penguoir commented on #5004
I'd like to see improvements to the project structure. Have documentation in a separate repo or in the `docs` folder, use markdown for writing, etc.

[2017-10-30 11:20] Amosduor commented on #5004
@tomscholz Thank you very much. It solves my problem.

[2017-10-30 11:49] DanielRuf commented on #5309
The code still exists

https://github.com/weareoutman/clockpicker

http://weareoutman.github.io/clockpicker/

[2017-10-30 12:02] penguoir commented on #5314
Could you explain the expected behaviour?

[2017-10-30 19:14] IAMtheIAM opened #5320 "".dropdown-content li" should not have "text-transform: none""
The following CSS in [_dropdown.scss](https://github.com/Dogfalo/materialize/blob/master/sass/components/_dropdown.scss#L22) is counter-productive. It provides no benefit and introduces a challenge:

[code]

This prevents applying a text-transformation such as Capitalize to anything in the button's dropdown. For example:

[code]

The `text-transform` property would be overridden by `none`, default

[2017-10-30 19:42] jouvin opened #5321 "Web site should not recommend href="#!" for dropdown menus"
The documentation (web site) about the [navbar](http://materializecss.com/navbar.html) suggests to define `href="#!"` for the anchor adding the dropdown arrow. I think the correct recommendation would be to omit `href` in this context as it is not required (see [W3 cos](http://w3c.github.io/html/links.html#links-created-by-a-and-area-elements)). The current suggestion creates a non-existent refere

[2017-10-30 20:28] Dogfalo commented on #5320
Removed in 19e4cf5dd9cf7faa2148ecf4c4ee3c2dbd842987

[2017-10-30 20:28] #5320 closed

[2017-10-30 22:11] fnowacki commented on #5314
@penguoir I understand point of @CatalinRadoi's view. He want download data field in autocomplete from 3rd party source e.g. ajax. I got the same problem.

[2017-10-31 06:47] kishorpawar commented on #1159
@Dogfalo this may not be important but is really a required feature.
Other extensions/frameworks do work, but mess with UI.

See below is the tablesorter's materialized theme.
![image](https://user-images.githubusercontent.com/4351835/32210686-11dbdcea-be35-11e7-81cc-c4c6207fccc5.png)

I agree we could customize tablesorter too, but if you provide click events on materialized tables headers it wou

[2017-10-31 08:55] bassie1995 commented on #5314
This has been an issue for a long time, and there's already an issue on this. See https://github.com/Dogfalo/materialize/issues/4086...

[2017-10-31 09:29] jLynx opened #5322 "[Feature Request] Editable DropDown"
I'm working on a project that needs to use materializecss.

Originally I when I used bootstrap and I could make an Editable DropDown/select box. Here is an example code of that: https://codepen.io/cfmatre/pen/LGOdjq

In materialize you can create a dropdown with:

[code]

But this does not allow you to manually edit it like in the bootstrap example.

Does materialize support this, or can this be a

[2017-10-31 10:59] LennartOlsen commented on #5101
@Enethion the issue might be that the element is not rendered when you try to add the autocomplete property to it.
You can move it to the update hook instead, although that might cause performance issues

[2017-10-31 12:32] tomscholz commented on #5314
Duplicate of #4086 @Dogfalo Please close

[2017-10-31 15:19] powerxjo commented on #5004
when it will release ?

[2017-10-31 16:17] kjkrum commented on #1821
In Chrome 61, flipping the lever does not change the checked attribute of the input.

[2017-10-31 16:44] scote commented on #5004
@powerxjo  It will come when it comes. You can  _watch_ this issue to stay up to date.

[2017-10-31 18:14] IAMtheIAM commented on #5320
Thanks for the quick fix!

[2017-10-31 19:05] Dogfalo commented on #5322
If it is a popular request then we will consider it.

[2017-10-31 19:29] Dogfalo commented on #5306
The support way to use Materialize with webpack is either by adding
[code]

or by adding Materialize as a plugin in the config
[code]

[2017-11-01 01:22] jessegilbride commented on #3844
Happy birthday to this issue.

[2017-11-01 01:53] Dogfalo commented on #3844
Please refrain from posting comments and pictures that do not pertain to the discussion.

[2017-11-01 02:12] ExoMemphiz commented on #5062
Possibility of knowing when the next release will potentially ship? :)

Thanks in advance!

[2017-11-01 05:52] hiteshsahu commented on #4659
Is this waht you want ?

https://codepen.io/hiteshsahu/pen/BmNePZ?editors=1000

[2017-11-01 07:42] silverdr commented on #5062
@tdotholla - unless you need something out of the later versions, you might use 0.99.x until the next release is out. I didn't receive any response to my humble question above but it seems to work for me so far.

[2017-11-01 08:50] jouvin opened #5326 "browser-default oddities"
## Current Behavior
`browser-default` class is added at several places in the default SCSS files, in particular in `_global.css`. The intent is to allow preserving the browser default for some elements, by adding this class to the object created. Unfortunately, it has a side effect: it prevents overriding the default behaviour of an element at a "lower level" in the element hierarchy. For example,

[2017-11-01 10:08] numediaweb commented on #5306
@Dogfalo
Thanks for the example. What about RequireJs what is the appropriate way to include Materialize?

[2017-11-01 11:32] tdotholla commented on #5062
Ah thanks @silverdr,
Implementing @Dogfalo solution is working out perfectly for me for now.

.input-field label {
  pointer-events: auto;
}

[2017-11-01 13:20] helderfalcao commented on #4280
Tks @lastnoob ! I will try it

[2017-11-01 13:32] rhadamez commented on #5004
About the Datepicker, I think could also be a version like the bootstrap-datepicker, a small version close to the field, the same for Timepicker. Because in some contexts, is not too good in modal form. I don't know what you think about. ; )

[2017-11-01 13:38] wcjr commented on #2648
fwiw, I appreciated how MDL did it by simply producing all the color combinations from the color wheel into separate css files for download (see the Color Palette section of https://getmdl.io/styles/index.html).

It kept me from having to build out the CSS myself but I understand it should be easy to set something up to have sass build out those files and include them in our project.

Do you think

[2017-11-01 15:24] styfle commented on #4779
Where is the new issue? I am also interested in materialize without jquery.

[2017-11-01 19:12] Dogfalo commented on #4779
https://github.com/Dogfalo/materialize/issues/5004

[2017-11-01 20:13] styfle commented on #4779
@Dogfalo Thanks! 1.0.0 is very exciting!

[2017-11-01 21:36] AHM77777 opened #5328 "Prevent parent scrolling when modal is open"
## Expected Behavior
Modals should not scroll along their parents (namely `html` and `body` elements in most cases). Only content inside the modal should be scrollable if required.

Check [Dialog Behavior](https://material.io/guidelines/components/dialogs.html#dialogs-behavior) specs for the following statement under **Scrollable content exception** section:

## Current Behavior
Scrolling continue

[2017-11-01 23:57] johnleider404 commented on #5004
How are you! How are we doing ?, I can help them, I see that they are taking a long time to make these changes, I will support them to finish this fast, just tell me how I help them, because at this step I will be staying for the other month, I need you to stay for this week. please tell me how I help you.

Regards!

Good job guys

[2017-11-02 00:59] lyh424 opened #5329 "Error Minifying Modal.js using Closure Compiler"
Using Google's Closure Compiler, I get the following error with trying to minify modal.js:

"JSC_CANNOT_CONVERT: This code cannot be converted from ES6. ES5 getters/setters (consider using --language_out=ES5)"

The part in question that triggers the error (line 72):

`    static get defaults() {
      return _defaults;
    }
`

You can reproduce the error here: https://closure-compiler.appspot.com

[2017-11-02 01:07] Dogfalo commented on #5329
Our code is transpiled to ES5 through babel.

[2017-11-02 01:07] #5329 closed

[2017-11-02 01:09] #5277 closed

[2017-11-02 02:12] #5101 closed

[2017-11-02 02:46] kileyhykawy opened #5330 "Cannot tap out of an open tap target (feature discovery) on iOS Safari"
## Steps to Reproduce (for bugs)
1. On an iOS device, open Safari and go to http://materializecss.com/feature-discovery.html
2. Tap on the 'open tap target' button so the tap target opens
3. Tap anywhere else other than the "target" button of the tap target

## Expected Behavior
When you tap on the page, it should close the tap target (this happens successfully on Android Chrome, OSX Safari and OS

[2017-11-02 02:48] reyou commented on #5277
Hello @Dogfalo, could you please let me know why this is closed? It this a wrong/invalid issue?

[2017-11-02 04:23] Dogfalo commented on #5277
This is just a How-to question and not a bug, look at the Pushpin plugin, that is what you need.

[2017-11-02 04:37] DanielRuf commented on #5004
@johnleider404 not sure what yiu mean. Take a look at the v1-dev branch.

[2017-11-02 04:39] DanielRuf commented on #5321
This should be ok. Future versions may use preventDefault. But this is the approach to solve it without JavaScript.

[2017-11-02 07:33] kcee403 opened #5331 "How to add it to React what's the import? Am I supposed to use the cdn link by itself?"
When asking general "how to" questions:

- Please do not open an issue here!
- Instead, ask for help on [StackOverflow](stackoverflow.com/questions/tagged/materialize) or in our [Gitter](https://gitter.im/Dogfalo/materialize) channel.

- Read the [CONTRIBUTING document](https://github.com/Dogfalo/materialize/blob/master/CONTRIBUTING.md) Any issues that are violating the contributing guidelines, wi

[2017-11-02 10:30] recallhyx opened #5333 "tabs indicator disapper when route change"
I encounter a problem ,the tabs indicator is normal at first but when I change the route and change back, the tabs indicator will disappear,
first time it is normal:
![default](https://user-images.githubusercontent.com/23056574/32321341-c3b8535e-bffb-11e7-8d07-2f2151efa6a4.png)
after changing route and go back:
![default](https://user-images.githubusercontent.com/23056574/32321374-e14a7a28-bffb-11

[2017-11-02 23:34] Rblock919 commented on #1503
I'm having an issue where my home page has all my materialize settings, looks nice, etc etc. But when I forward to a new .jsp with a java servlet, the materialize settings are all lost. Even if I forward back to the exact same page all of the settings are lost.

I'm relatively new to programming and extremely new to materialize. I tried looking up solution in materialize documentation and googling

[2017-11-03 01:35] rhadamez commented on #5004
Sorry to make a suggestion again, but I have to do it: about the "container" class, maybe could also have a container-fluid or something, I think the "container" takes up a lot of space on the big screen, maybe should be good. I'm change the core to make this happen, like bootstrap.

[2017-11-03 02:27] maguon commented on #4539
I'm facing the same problem.

[2017-11-03 04:49] DanielRuf commented on #1503
Please create a new issue for this. Is materialize.js loaded?

[2017-11-03 05:36] #5331 closed

[2017-11-03 09:14] andreintm opened #5335 "Multiple checkbox select"
I am using materializecss v0.100.2 and I have an issue with select.
How to fix it?
![screen shot 2017-11-03 at 11 11 28](https://user-images.githubusercontent.com/2091718/32366776-55da9e9a-c088-11e7-871e-bece7aac97e1.png)

here is my html:

               <div class="input-field col s6">

                    <select multiple>

                        <option value="" disabled selected>Choose your

[2017-11-03 13:48] smileytechguy commented on #5335
Can you please make a codepen? I am unable to reproduce your issue

[2017-11-04 06:11] multiwebinc commented on #1481
I was able to get validation to work for datepickers.

[code]

[See it on JSFiddle](http://jsfiddle.net/453ykekx/1/)

[2017-11-04 06:13] multiwebinc commented on #595
@wahmal Not sure if you were having the same issue, but I was able to get validation to work with datepickers. See my comment [here](https://github.com/Dogfalo/materialize/issues/1481#issuecomment-341875153).

[2017-11-04 10:34] jouvin commented on #5321
@DanielRuf I'm not sure to understand your reply? Do you mean that my suggestion to remove the `href=#!` should be ok? Or that `html-proofer` will be able to deal with this in the future (as for now if can only deal with `href=#` to go to the top of the page? The whole point, AFAIK, is that `href=#!` is coming from old version of HTML but that in HTML v5, there is no reason to define a `href` attr

[2017-11-04 10:48] DanielRuf commented on #5321
You are free to add `return false` or `preventDefault`. It's not forbidden to use the hashbang afaik.

[2017-11-04 12:00] bartmichu commented on #5275
The same problem here with Meteor 1.6 release.

[2017-11-04 12:05] DanielRuf commented on #5275
Please show the error output

[2017-11-04 12:18] bartmichu commented on #5275
Meteor 1.6 release installed with chocolatey on 64 bit Windows 10 machine. Code base from the last stable 1.5 branch. The following is the console output when I try to do ```meteor update```.

Did you find a workaround for this problem? Right now I'm stuck with my project as I would prefer not to downgrade Meteor.
[code]

[2017-11-04 12:30] DanielRuf commented on #5275
This is a node-sass issue about a mssing release. Still, please contact the node-sass maintainers.

[2017-11-04 12:42] DanielRuf commented on #5275
https://github.com/sass/node-sass/

[2017-11-04 12:43] DanielRuf commented on #5275
See https://github.com/sass/node-sass/search?q=win32-ia32-57_binding.node&type=Issues&utf8=%E2%9C%93

[2017-11-04 12:44] DanielRuf commented on #5275
https://github.com/sass/node-sass/issues/2101#issuecomment-331306239

[2017-11-04 12:52] bartmichu commented on #5275
Thanks for tracking this down. As far as I understand the problem is that Meteor 1.6 uses Node 8 which is only supported on node-sass 4.5.3 upwards. Materialize uses node-sass 4.5.2 therefore doesn't work with Meteor 1.6

If that's the case would you consider moving to a newer version of node-sass?

[2017-11-04 12:57] DanielRuf commented on #5275
It should be already 4.5.3 here https://github.com/Dogfalo/materialize/blob/master/package-lock.json

[2017-11-04 15:25] Zep18 commented on #5275
But not here  https://github.com/Dogfalo/materialize/blob/master/package.json

To fix the issue:

Clone materialize repo in /packages in your meteor directory, then edit package.json and edit line 51 from  "node-sass": "^4.5.2", to  "node-sass": "^4.5.#",

Now meteor add materialize:materialize works

[2017-11-04 15:40] DanielRuf commented on #5275
The caret selector automatically updates to the latest 4.x release. See https://stackoverflow.com/questions/22343224/whats-the-difference-between-tilde-and-caret-in-package-json

Please check your lockfile if 4.5.3 is in there and which peer dependency sets this to 4.5.2

[2017-11-04 15:41] DanielRuf commented on #5275
Imo this is likely an issue with meteor which does not use the semver notation or you had an old lockfile.

[2017-11-04 15:49] BenjaminMichael commented on #485
the tab colors can be set with the usual classes red, brown, blue, etc

these were the parts i had to do css to change (thanks to everyone above but nobody had all these put together for me)
[code]

[2017-11-04 16:25] sentbyravens opened #5336 "js behavior and styling on same class"
Hi!
I am about .collapsible.
In my project I have 2 level of accordions with ajax data.
When I click on root element it is represents me child dynamically generated accordion list. And when I click on that generated child... **his parent regenerates all data!**
So I did remove that class and replace your _$('.collapsible').collapsible();_ with

_module.exports = function() {
    return {
        a

[2017-11-04 19:17] Dogfalo commented on #5336
We won't be changing this.

[2017-11-04 19:17] #5336 closed

[2017-11-04 22:52] jojojok16 commented on #4237
Hello,
I'm trying to make own language picker which will be in the menu (in nav) and I have problems with it. Links are not working anymore. Could you please resend it / help me with it?

[2017-11-05 03:15] gusbemacbe commented on #4237
@jojojok16, he removed his pen. I rebuilt myself a language picker. Here is my pen: https://codepen.io/gusbemacbe/pen/EbKGdg. Please download the pen, and when you download it, please, advice me

[2017-11-05 03:42] gusbemacbe commented on #4237
If you prefer language picker dropdown, check: https://codepen.io/ulyanchesnokov/pen/xOWgaR

[2017-11-05 04:01] gusbemacbe commented on #4237
It seems that another pen is better than mine, for you: https://codepen.io/alexluz/pen/qdmBYY.

Tell me which one of these three pens you prefer more.

[2017-11-05 09:01] bartmichu commented on #5275
Cloning Materialize gives me package.json with 4.5.2.
Meteor works only when I manually change it to 4.5.3, as suggested.

[2017-11-05 12:24] DanielRuf commented on #5275
The package.json should have the caret which installs the latest 4.x release. Please also check package-lock.json. There should be still 4.5.3 like I wrote.

[2017-11-05 14:48] amovsisyan commented on #5257
Hi @developeranirudhprabhu
thanks for response and sorry for delay
[https://jsfiddle.net/vtzapt0g/4/](characterCounterJSFIDDLE)
does this have the info you asked ?

[2017-11-05 16:53] jojojok16 commented on #4237
Hello, thank you for replay. Accually, I would like something like select box in menu where you can choose language (and also for price). I was trying to use and change select box styles from minimalize (I'm doing website using minimalize styles), but I have problems with pictures there. I just would like to have simple selectbox with options of languages in simple pictures like https://ctrlv.cz/s

[2017-11-05 20:00] gusbemacbe commented on #4237
@jojojok16

Here is my pen: https://codepen.io/gusbemacbe/pen/ZaOGjy

But you need to use PHP and Javascript to switch.

[2017-11-05 22:21] tomscholz commented on #4237
@Dogfalo It seems @gusbemacbe hasn't read the Code of conduct. In his codepen he insulted me. Could you Please remove his comment. Thanks!

[2017-11-05 22:32] gusbemacbe commented on #4237
Tom, you also insulted me before.

[2017-11-05 22:35] gusbemacbe commented on #4237
@Dogfalo, Tom also has insulted me in his removed pen. He made fun of me and ridiculed me in his removed pen.

[2017-11-05 22:36] acburst commented on #4237
Let's all try and be civil. This is github not some random forum. Lets just focus on development

[2017-11-06 00:52] Tomer1c opened #5337 "Range/noUiSlider control malfunctioning on touch devices"
If you use the "Range"-control/noUiSlider (e.g. the demo http://materializecss.com/forms.html) on mobile devices, it catches the focus and does not release it again.
Means: You cannot use any other control any more.

To reproduce:
1. Shift a handle of the noUISlider with your finger
2. Shift the other handle or try to use another control

If it does not immediately "glue" on your finger, try it a

[2017-11-06 08:35] ray007 commented on #5004
Maybe the issues to be dealt with for the 1.0 release should be assigned to the 1.0 milestone?

[2017-11-06 10:21] vivek2562 opened #5338 "Uncaught TypeError: Cannot create property 'guid' on string '/s/SiteGenesis/sas%20category/MP6.html?cgid=SasCategory&lang=en_US&source=quickview'"
$('.quickview').on('click', function (e) {
        e.preventDefault();
        quickview.show({
            url: $(this).attr('href'),
            source: 'quickview'
        });
    });

After jquery version update i m getting Cannot create property 'guid' on string error

[2017-11-06 12:53] sentbyravens commented on #5336
Thank you for answer.
But why? It is very important thing! Just add js- prefixes to the classnames with js logic.
Or, may be I am totally wrong about how to use that framework. So how can I achieve my task with .collapsible?

[2017-11-06 13:56] VicJohn commented on #1527
@Dogfalo can you tell me where I have to apply the fix. Because I don't want to upgrade the api. I am using  version v0.98.1

[2017-11-06 17:07] IAMtheIAM commented on #771
In the mean time, you can "easily create your own flexbox based grid, [using Susy3](http://oddbird.net/susy/). You don't need to use the out of the box grids that frameworks provide. For example, I created a 24 column grid:

[code]

That can easily be changed to a 12 col grid, 9 col, or any grid that suits your needs. I always use [Susy](http://oddbird.net/susy/) for creating grids no matter what

[2017-11-06 18:49] bartmichu commented on #5275
@DanielRuf you are correct. There is a caret in package.json and ^4.5.3 in package-lock.json

Is there a reason not to put ^4.5.3 in package.json?

[2017-11-06 19:14] DanielRuf commented on #5275
The caret automatically installs the latest minor version. Without a caret it would be locked to the given version.

[2017-11-06 19:17] DanielRuf commented on #5275
Like the Ghost team does it https://github.com/TryGhost/Ghost/blob/master/package.json

[2017-11-07 10:25] WouterGoossenss opened #5339 "Datepicker mobile (iOS)"
My datepicker is not showing properly on iPad (running iOS 10) and iPhone (running iOS 11) while on desktop it is working fine.

![img_0357](https://user-images.githubusercontent.com/33450561/32488827-436a5a92-c3ae-11e7-9802-0454638f9e4f.PNG)

[2017-11-07 13:00] hgsadhrakiya commented on #2700
Here is the solution:
Give this CSS to the div which you have to centralize..
[code]

[2017-11-07 13:35] apudiu commented on #2592
Man, that problem really exists... You just cannot close due to inactivity, bear in mind this framework is not so popular that you will get huge traffic.

I'm also experiencing this issue, I've a form inside a bottom sheet modal & there's 5 dropdown's, (checkout the img), the first three dropdown shows scrollbar some times & sometimes not. & 2nd line has 2 scrollbar, those never shows scrollbars,

[2017-11-07 14:10] apudiu commented on #819
I'm done with this junk framework...

[2017-11-07 14:37] gg4u commented on #5178
@Dogfalo Hi Alvin, sorry to hear that. Would you mind to share you corrected version so that I can see if it works ok with me too and also help me understand which may be the issue for which I can't see Materialize.toast working in the npm bundle?
The code I provided was a simplified version of what I worked on, which compiles with no errors but Materialize.toast does not fire.

[2017-11-07 15:59] Dogfalo commented on #5338
What is the version of jQuery? Please also provide a Codepen that reproduces this error so we can look into it.

[2017-11-07 16:01] Dogfalo commented on #5339
Provide a Codpen as the Issue template states.

[2017-11-07 16:09] #5339 closed

[2017-11-07 16:10] developeranirudhprabhu commented on #5257
Hi @amovsisyan let me check and get back

[2017-11-07 16:35] Dogfalo commented on #5178
Here is a working version
[materialize-browserify-issue.zip](https://github.com/Dogfalo/materialize/files/1450809/materialize-browserify-issue.zip)

[2017-11-07 16:58] apudiu commented on #3050
But I'm experiencing a different & very odd problem.  I've 5 select's on a bottom sheet modal, The first one let me pick first 5, 2nd one let me pick 3 & rest of them allow only 1 item.

What is going on? no errors on console... Please help

[2017-11-07 19:02] Dogfalo commented on #5004
@numediaweb We are trying to support it, but will need help testing it as I do not have a lot of experience using every different module loader.

[2017-11-07 19:13] developeranirudhprabhu commented on #5257
@amovsisyan I found the issue that was stopping dynamic initialisation of the plugin and have provided a pull request. Kindly have a look at the suggested changes

[2017-11-07 19:20] Dogfalo commented on #5328
On what device are you seeing the document scroll?

[2017-11-07 19:33] DanielRuf commented on #5004
@Dogfalo what about Rollup?

[2017-11-07 21:55] Dogfalo commented on #5004
From what I can tell, Rollup relies on ES6 modules which is already supported

[2017-11-07 23:22] DanielRuf commented on #5004
Rollup does all the wrapping and module loading (AMD, UMD, CJS, ...) for you.

[2017-11-08 05:02] VeeK727 commented on #819
Please keep in mind that this framework is still in beta.

[2017-11-08 14:52] mrdnote commented on #2582
Tom, great product, but indeed please remove browser-default asap. We have a site where users can add their own content thru an in-page html editor, we cant expect end user to add "browser-default" classes to their lists right?

Any idea when this will be included in a release?

[2017-11-08 16:25] imransilvake commented on #5328
I have the same problem with iOS (11) safari on mobile. on Desktop it is working fine

[2017-11-08 18:28] developeranirudhprabhu commented on #5086
@jhefreyzz Can you provide steps to reproduce the problem. Even with the code pen you provided I'm not able to figure out the exact problem

[2017-11-08 18:31] developeranirudhprabhu commented on #5086
@jhefreyzz Can you provide steps to reproduce the problem. Even with the code pen you provided I'm not able to figure out the exact problem

[2017-11-08 18:44] developeranirudhprabhu commented on #5279
Just to add this is only reproducible on actual device. Not reproducible through emulation on browser. Will try to look into the issue. @acburst / @Dogfalo is it fine if i do so?

[2017-11-08 18:46] Dogfalo commented on #5279
Please check v1-dev to see if the issue persists

On Wed, Nov 8, 2017 at 10:44 AM Anirudh Prabhu <notifications@github.com>
wrote:

--
Doggy sends his greetings from Mars.

[2017-11-08 18:51] developeranirudhprabhu commented on #5279
@Dogfalo how do i do that? Sorry if this question sounds silly but can you provide a URL where i can see it? Else i will wait till it is released

[2017-11-08 18:53] Dogfalo commented on #5279
It is on the v1-dev branch if you use git

On Wed, Nov 8, 2017 at 10:51 AM Anirudh Prabhu <notifications@github.com>
wrote:

--
Doggy sends his greetings from Mars.

[2017-11-08 18:55] developeranirudhprabhu commented on #5279
Ok. will sync and try to build and host the repo.

[2017-11-08 18:57] developeranirudhprabhu commented on #5335
@andreintm can you create a codepen and share it here? That would be helpful

[2017-11-08 19:06] developeranirudhprabhu commented on #5019
@Smialkowski See if this helps
https://codepen.io/prabhuanirudh/pen/PObxrP

It is a slight modification of your code which does the job as expected.

[2017-11-08 21:27] bmla commented on #2976
Is it not possible to get this https://codepen.io/bmla/pen/WXomyw to behave the same as this https://codepen.io/bmla/pen/wPoOXa? I.e. is there a constrainwidth=false on a select?

[2017-11-09 01:28] harkirat10 commented on #771
Yes please upgrade to using flexbox. It's the future. It's a shame it doesn't. A lot of people are looking for frameworks right now that support flexbox and very few do right now even when all modern browsers now support it natively.

[2017-11-09 01:39] AHM77777 commented on #5328
Issue was happening on my Iphone 7 with iOS (11), and a LG-X220g with Android 5.1.

[2017-11-09 04:45] DanielRuf commented on #771
@harkirat10 which do not support flexbox yet?

[2017-11-09 10:33] BonfaceKilz commented on #5333
Same here. Have you found a solution?

[2017-11-09 12:37] apudiu commented on #587
@RaSeR Nope..! this is an issue, The image should open inside `a` tags, nearly 50% of the time our images resides inside `a` tag

So Please continue to solve this.

My problem is it shows images partially. L( what I can do to fix it?
Check the attachment
![image](https://user-images.githubusercontent.com/22303487/32605783-ff6a5056-c57c-11e7-95c3-295849b103dd.png)

[2017-11-09 12:58] andreintm commented on #5335
Sorry, that was my fault. I set 100% width for labels.

[2017-11-09 17:10] gregyichang commented on #5004
does version 1 resolve the memory leak around material_select element in SPA?

[2017-11-09 17:32] #5335 closed

[2017-11-09 18:04] DanielRuf commented on #5004
@gregyichang which bug exactly? Do we have an issue for this?

[2017-11-09 18:13] Dogfalo commented on #5326
This will be our focus after 1.0 releases

[2017-11-09 19:35] gregyichang commented on #5004
@DanielRuf  , I didn't report a bug for it, I think it is similar to the issue [4266](https://github.com/Dogfalo/materialize/issues/4266)
But the fixed mentioned in issue 4266 doesn't fix problem at our end. I am wondering if this bug been fixed in version 1

[2017-11-09 19:43] Dogfalo commented on #5004
@gregyichang can't be certain, but now that all plugins will have a standardized destroy call, it should fix this issue.

[2017-11-09 19:45] DanielRuf commented on #5004
It's generally good to report such issues if it is apparently not fixrd and an actual bug.

[2017-11-09 22:18] jacobq commented on #5004
@gregyichang Are you sure your SPA is calling `material_select('destroy')` on elements before they get removed from the DOM? If so, please do share an example on jsBin or something. I am using materialize in a SPA (technically, it's an electron app) and have not observed any memory leaks with the select control.

[2017-11-10 02:02] Native-Coder commented on #4086
Is there a way to give the autocomplete dialog a fixed position so that it's over top of the rest of the page?

[2017-11-10 11:22] zymethyang opened #5342 "Material_select is not a function when using Materializecss select"
I am facing some problem when use Metariallize Css select with Angular 2 like that. Could anyone please help me by checking it and tell me where I have done wrong ? Thank you.

    Uncaught TypeError: __WEBPACK_IMPORTED_MODULE_1_jquery__(...).material_select is not a function
    at HTMLDocument.<anonymous> (setting.component.ts:86)
    at fire (jquery.js:3187)
    at Object.fireWith [as resolveWi

[2017-11-10 17:31] Dogfalo commented on #5342
Search recently closed webpack issues

On Fri, Nov 10, 2017 at 3:22 AM Nguyen Minh Tri <notifications@github.com>
wrote:

--
Doggy sends his greetings from Mars.

[2017-11-10 18:37] ChildishGiant commented on #4086
I used `position: absolute;` to do that.

[2017-11-11 01:45] Dogfalo commented on #5004
### 1.0.0-alpha.1 is here! Check out the [announcement post](https://medium.com/@materializecss/materialize-to-1-0-and-beyond-e0233b8ac15) on Medium

[2017-11-11 09:34] sanatankc commented on #5100
I also have same issue. Is there any way to re-initialize carousel?

[2017-11-11 10:40] rhadamez commented on #5004
Yahoooo, lets show to bootstrap how it works!

[2017-11-11 12:03] caseydev commented on #5004
I have taste it... Its too good

Thanks

[2017-11-11 12:13] DanielRuf commented on #5100
@sanatankc Materialize 1.0.0-alpha.1 has a `destroy` method for all components.

[2017-11-11 19:19] MolaynoxX commented on #5004
@Dogfalo the command from the medium post to download the alpha via npm is incorrect.
Should be `npm install materialize-css@1.0.0-alpha.1` instead of `npm install materializecss@1.0.0-alpha.1`.

[2017-11-11 19:26] Dogfalo commented on #5004
@MolaynoxX just fixed that, thanks.

[2017-11-11 21:42] quienti opened #5343 "[1.0.0-alpha.1] Select with circle image not working"
## Expected Behavior

Select with circle image working

## Current Behavior

Select with circle image not working

## Steps to Reproduce (for bugs)

Just see doc
http://next.materializecss.com/select.html

[2017-11-11 22:59] JuanJoseGonGi opened #5345 "The search bar in the documentation redirects to the old documentation"
When you search for something in the search bar and click on it, **it opens [materializecss.com](http://materializecss.com) instead of [next.materializecss.com](http://next.materializecss.com)**

[2017-11-11 23:22] Antsiscool commented on #5004
@Dogfalo The getting started button on the preview documentation links to the current documentation.

[2017-11-11 23:28] Dogfalo commented on #5004
@Antsiscool We just fixed that through a PR, going to push it live later in the day.

[2017-11-12 05:02] joshuadazar commented on #5279
No show the mobile menu and menu items no hidden in desktop mode

[2017-11-12 12:07] MorganMarshall commented on #5345
The "Get Started" button also goes to old materializecss instead of next

[2017-11-12 18:42] scriptify2 opened #5346 "Sidenav not working"
The Sidenav is not working even on the new Starter Template Provided there  were always Null Errors

Uncaught TypeError: Cannot read property 'M_Sidenav' of null at HTMLBodyElement._handleTriggerClick (materialize.js:5479)
_handleTriggerClick @ materialize.js:5479

![unbenannt](https://user-images.githubusercontent.com/33605148/32702093-9313ba8e-c7e1-11e7-837c-534c12db8a04.PNG)

[2017-11-12 18:58] Dogfalo commented on #5346
What version?

[2017-11-12 21:30] dryhurst commented on #5275
My suggestion is to:

`meteor remove materialize:materialize`
`meteor npm install materialize`

[2017-11-12 21:34] matugm commented on #5346
You can see the error on this page:

http://next.materializecss.com/templates/starter-template/preview.html

Stretch the page until the menu shows & then click to reproduce.

**Version**: 1.0.0 Alpha-1

[2017-11-12 22:01] matugm commented on #5346
I get this error with Firefox using 1.0.0 Alpha-1:

[code]

I did some debugging I found out the problem:

The function ` getIdFromTrigger` expects the ` data-target`  attribue to be available, but the documentation example uses ` data-activates` .

Changing ` data-activates` to ` data-target` fixed this error & the menu is working.

[2017-11-12 22:39] RmK9 opened #5348 "Both of the documentations (current and 1.0 one) mention that "..you have to import jQuery before importing materialize.js!""
With the release of 1.0 Materialize the jQuery dependency has been removed, yet current and the one documentations still ask to include it in the "Getting started" pages.

[2017-11-12 23:57] 1EyedMonk commented on #2112
Just a friendly reminder that this issue still exists. We have implemented the suggested fix by fabyeah above (removing padding-bottom), however it would be nice to avoid coding up exceptions.

[2017-11-13 01:05] Lolincolc opened #5349 "[1.0.0-alpha.1] Dropdown in navbar not working"
## Expected Behavior

The Dropdown menu should open on hover or on clic.

## Current Behavior

Dropdown menu in navbar doesn't work, when hover or on clic, nothing happen.

## Steps to Reproduce (for bugs)

This bug can be seen in the documentation : http://next.materializecss.com/navbar.html#navbar-dropdown

## Your Environment

* Version used: 1.0 Alpha
* Browser Name and version: Chrome V.63
*

[2017-11-13 10:40] peecaboo commented on #5346
Same issue on 1.0.0 Alpha-1. Should we get back to .100?

[2017-11-13 10:45] rameshevol commented on #3471
this css is working only for align="bottom"......What about "Left", "Top", "Right"..?

[2017-11-13 12:29] matugm commented on #5346
@peecaboo Try changing your `data-activates` attribute on the `sidenav-trigger` class element to `data-target`. I believe that will fix the problem for you.

Here's a picture:

![image](https://user-images.githubusercontent.com/1369748/32725655-3c507706-c876-11e7-8b7c-29a4ca358f0b.png)

https://github.com/Dogfalo/materialize/blob/v1-dev/js/global.js#L261

[2017-11-13 12:35] peecaboo commented on #5346
@matugm It worked! You are a real savior. I thank you

[2017-11-13 15:53] kasperrt opened #5351 "[V1.0] Tooltip positioning on fixed elements"
## Expected Behavior

Tooltip appear on specified placing, top, bottom left or right, even on fixed element

## Current Behavior

Not being placed correctly when tooltip initiated on an element with a fixed position.

Also, setting a fixed position on anything big previous to any added tooltips affects the following tooltip, and it behaves as the fixed element doesn't exist.

## Steps to Reproduce

[2017-11-13 19:34] multiwebinc opened #5352 "Many bugs with Datepicker [1.0.0-alpha.1]"
I'm testing out 1.0.0-alpha.1 and noticed a few issues with the datepicker. I'm using Opera on Linux in case that makes any difference:

- [x] `format` option does not work: https://codepen.io/multiwebinc/pen/pdwNqK (output for me: https://imgur.com/a/tnWJc)
- [x] Selecting months/years from the dropdown has no effect
- [x] Selecting today's date renders the date number invisible
- [x] Selecting a

[2017-11-13 21:12] Dogfalo commented on #5352
Thanks for the detailed report with examples.

[2017-11-13 21:12] #5342 closed

[2017-11-13 22:24] bmla commented on #5352
Selecting months and year:
https://imgur.com/a/zCQDz

[2017-11-13 23:38] acburst commented on #5345
Fixed in cc87d218

[2017-11-13 23:38] #5345 closed

[2017-11-13 23:49] acburst commented on #5348
removed in 4d853aca.

Thanks!

[2017-11-13 23:49] #5348 closed

[2017-11-14 00:10] jacobq opened #5353 "[1.0.0-alpha.1] Dropdown migration instructions missing"
The [Dropdown section of the v1.0.0 upgrade guide](https://github.com/Dogfalo/materialize/blob/v1-dev/v1-upgrade-guide.md#dropdown) does not mention that drop-down buttons in v1.0.0 [need to use the `data-target` attribute](http://next.materializecss.com/dropdown.html) instead of [`data-activates`](http://materializecss.com/dropdown.html).
BTW, this may be causing / related to #5349.

## Expected

[2017-11-14 00:17] jacobq commented on #5353
Also, is it intentional that nav-bar drop-down buttons still appear [to use `data-activates`](http://next.materializecss.com/navbar.html#dropdown1)?

[2017-11-14 00:35] acburst commented on #5351
Fixed in 01c206f1

[2017-11-14 00:41] Dogfalo commented on #5352
`format` option has been fixed and updated with documentation: 1f7f03489edd023c3962dd8966b44d8a356a81c4

[2017-11-14 00:42] multiwebinc commented on #5352
@bmla I was actually in the process of posting that very thing. pickadate.js puts the scroll on the entire overlay, not just the calendar, which I think is more intuitive and would probably fix the bug you mention as well as the wasted screen real estate point I mentioned earlier.

[2017-11-14 00:49] jacobq commented on #5349
I think this is happening because of two things:
1. Documentation says attribute name is `data-activates` but code uses `data-target`
2. Initialization appears to no longer be automatic (e.g. may need to call  `$(".dropdown-button").dropdown();`)

Here is a [working CodePen](https://codepen.io/jacobq_/pen/JOJMoJ) based on the example on the docs site with these two modifications.

[2017-11-14 00:59] acburst commented on #5353
Fixed in b17de319

[2017-11-14 00:59] #5353 closed

[2017-11-14 01:10] Dogfalo commented on #5352
Similar to the previous version, the datepicker is meant to work with type="text" only

[2017-11-14 01:16] acburst commented on #5349
Fixed in b17de31. We'll update the live docs later today

[2017-11-14 01:16] #5349 closed

[2017-11-14 01:18] lucasherrmann opened #5355 "Materialboxed does not work in collections with data:image"
Hello everyone. I'm using version 0.100.1, I have a problem applying the 'materialboxed' class to an image I get from an input file multiple. I use $ .each to go through the 'file' and append to div with the 'collection' class. I have already initialized $ ('. Materialboxed'). Materialbox () at the moment the document is ready, and I also tried to reinitialize it when I go through the loop but I c

[2017-11-14 03:44] BilalDja opened #5356 "Always point to the second tab"
## Expected Behavior

I expect that the first tab gonna be selected

## Current Behavior

Actually the second one who's selected instead!
## Steps to Reproduce (for bugs)

Just go to the documentation the problem is obvious there [http://materializecss.com/tabs.html](http://materializecss.com/tabs.html)

[2017-11-14 06:32] Dogfalo commented on #5356
http://materializecss.com/tabs.html#preselecting

[2017-11-14 06:32] #5356 closed

[2017-11-14 07:18] ThakurNiteshkumarSingh opened #5357 "Floating label for select box"
How to make floating label for select box same as input box

[2017-11-14 07:50] Dogfalo commented on #5357
Please look at select documentation for what is supported for select boxes

[2017-11-14 07:50] #5357 closed

[2017-11-14 08:43] ThakurNiteshkumarSingh commented on #5357
No, there is no option for floating label  in select

[2017-11-14 08:47] GLedoussal opened #5358 "Control how many elements we want to display in the carousel"
We should be able to control how many elements we want to display in the carousel with an option in the carousel plugin.

[2017-11-14 09:01] ThakurNiteshkumarSingh opened #5359 "Floating label select option"
Dear, There is no option for floating label in select box. I want same look like input text box floating label if value select or not

[2017-11-14 09:02] Dogfalo commented on #5359
Sorry we do not have that option

[2017-11-14 09:02] #5359 closed

[2017-11-14 09:05] ThakurNiteshkumarSingh commented on #5359
Sorry but can you add this option in future

[2017-11-14 09:09] ThakurNiteshkumarSingh commented on #5359
Need your help, please.

[2017-11-14 09:15] Dogfalo commented on #5359
Just because you need it for your personal use, doesn't mean it is required for the framework. This is the first time we've received a feature request related to this, so it is not highly requested. As such, there are many other important issues for us to focus on.

[2017-11-14 09:17] ThakurNiteshkumarSingh commented on #5359
Ok Thanks

[2017-11-14 11:34] EvgenyVetrov commented on #3391
ugly method

[2017-11-14 12:01] ThakurNiteshkumarSingh opened #5361 "Popup not open via instance"
Hello,

If use this code show error "Uncaught ReferenceError: options is not defined"

**HTML**

		  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

		  <div id="modal1" class="modal">
			<div class="modal-content">
			  <h4>Modal Header</h4>
			  <p>A bunch of text</p>
			</div>
			<div class="modal-footer">
			  <a href="#!" class="modal-action modal-close waves-e

[2017-11-14 12:07] apudiu opened #5362 "Select options is not scroll-able when inside an small container, like small modal"
## General summary of the issue
I have some modals, most of them are small, Like:
![image](https://user-images.githubusercontent.com/22303487/32778863-bfa89008-c965-11e7-9a50-24917ccf4eb6.png)

When I try to open the select:
![image](https://user-images.githubusercontent.com/22303487/32779528-5051fff2-c968-11e7-9539-dc9d0acf7c06.png)

In there, I have a select & 5-10 options, It seems that when I

[2017-11-14 12:21] #5361 closed

[2017-11-14 13:11] BilalDja commented on #5356
One more question please! how can I change the tabs from within a angularJs controller I tryed this but didn't work form me:

`$timeout(function () {
  angular.element('ul.tabs').tabs('select_tab', 'tabId');
});`

[2017-11-14 20:29] dryhurst commented on #5275
Could you specify where the packages directory is that we are supposed to clone materialize? If you are talking about the project .meteor directory there is already a packages file in there. If you are talking about the users .meteor directory: /Users/<username/.meteor on mac, /home/<username>/.meteor on linux, and c:\Users\<username>\AppData\Local\.meteor on windows then I don't see how meteor re

[2017-11-14 20:35] DanielRuf commented on #5275
Are there any lock files?

[2017-11-14 20:41] dryhurst commented on #5275
I will remove any pacakge-lock.json files before attempting to run `meteor add materialize:materialize `, but I need clarification on where to run `git clone git@github.com:Dogfalo/materialize.git`

[2017-11-14 20:56] Zep18 commented on #5275
If you want to manually do it as I suggested, it's in "your meteor project"/packages (Create it if not exist)
I had a problem with version alpha 1, but it work when I switched to master (git checkout master)

[2017-11-14 20:57] bartmichu commented on #5275
@dryhurst it works for me when I clone it into the ```packages``` folder in my project's root directory.

[2017-11-14 21:06] bartmichu commented on #5275
Does it matter that node-sass in package-lock.json is under grunt-sass and not a "direct" dependency of materialize?

[2017-11-14 21:27] DanielRuf commented on #5275
Probably.

[2017-11-14 22:26] Native-Coder commented on #4086
@ChildishGiant  worked for me too! thx!

[2017-11-14 23:08] Lolincolc commented on #5349
@jacobq  Yes, it works now, thank you for your help!
@acburst Nice, thank you for all your hard work :)

[2017-11-15 01:59] onion878 opened #5363 "materializecss v1.0"
![1](https://user-images.githubusercontent.com/25260101/32814828-99ee8d64-c9eb-11e7-944a-ce15e0b0e202.png)

[2017-11-15 06:23] ritesh-nair opened #5364 "Issue in v1.0 alpha Color Documentation"
Under Color Palette section, class names overlay at default browser zoom.

![image](https://user-images.githubusercontent.com/16517100/32821746-0e8cf9f8-c9fb-11e7-8401-2cd2802572db.png)

[2017-11-15 11:46] Smialkowski commented on #5019
@developeranirudhprabhu nope, no 'chip.add' alert for me. Does it work for you?

[2017-11-15 11:57] Chirag-bhavsar opened #5365 "Clicking multiple time wave-effect button gets fade(Materializecss)"
I am using angular js 2 with materializescss frame work. As we know it has default class waves-effect and waves-light. Clicking multiple times simultaneously buttons gets dimmed or fade. I have not added materialize js multiple times. Does anyone have solutions rather than giving solution numbers. It would be great help!

[2017-11-15 12:22] bassie1995 commented on #5352
The popup has been an issue for while now, in Selects too. It should just overlay everything instead of pushing all of the stuff under it down.

[2017-11-15 13:22] recallhyx commented on #5333
sorry ,I  haven't found the solution yet

[2017-11-15 16:49] peter3 opened #5366 "pulse not working on IE10/11"
The pulse button doesn't work when using IE10/11.

Suggested fix is to change the .pulse property "overflow:initial" to "overflow:visible".

I've verified that this works in Chrome 61.0.3163.100, Firefox 57.0 (Quantum) and IE 11

[Jsfiddle](https://jsfiddle.net/peter3/43aped80/)

[2017-11-15 17:41] smileytechguy opened #5367 "Suggestion: dragging to re-order list of chips"
This is a feature request to add a way to allow dragging of chips in order to re-order them.

## Possible Solution
I used https://github.com/Shopify/draggable's Sortable plugin to do this:
In my example I had a div `social-chips` wrapping all my chips.

[code]

## Context
I use chips to show a user's social media networks in the following way:
![image](https://user-images.githubusercontent.com/800

[2017-11-15 19:52] brycesenz commented on #5098
I would like to re-open this, as it's still an issue.  Manually fixing it inside of my `materialize.js` or `materialize.min.js` file isn't really a sustainable solution.

[2017-11-15 21:14] multiwebinc commented on #5352
What about this? If it's `type="date"` use JS to change it to `type="text"`, and that way it would even work as expected for browsers with JS disabled.

[2017-11-15 21:31] DanielRuf commented on #5366
Which version of Materialize do you use?

[2017-11-15 21:32] DanielRuf commented on #5365
This should be already fixed in the latest releases. Which version of Materialize do you use?

[2017-11-15 21:33] DanielRuf commented on #5363
Can not reproduce. Please check the console of the developer tools in your browser.

[2017-11-15 21:34] DanielRuf commented on #5363
Possibly related to https://github.com/Dogfalo/materialize/issues/5352

[2017-11-15 23:14] joelalves opened #5368 "How to button "today" in datepicker put value date now in input element"
## Current Behavior
 when clik in button today open datepicker. I would want, case if is possible, when click today open datepicker and set value input with value date now

## Your Environment
* Version used: django-material==1.1.1
* Browser Name and version: Chrome Version 64.0.3265.0 (Official Build) canary (64-bit)
* Operating System and version (desktop or mobile): desktop

[2017-11-15 23:44] Dogfalo commented on #5368
This is already the default behavior unless I'm misunderstanding you.

[2017-11-15 23:44] #5368 closed

[2017-11-16 05:10] developeranirudhprabhu commented on #5019
The chip.add event wont be triggered. I Just showed an alternative for same. I will check if v1 has added support for it.

[2017-11-16 13:08] cannect commented on #5362
Which version are you running?

[2017-11-16 14:44] cionow777 opened #5369 "Drop down content is not located next to drop down button"
In 1.0.0-alpha.1, when a dropdown is placed inside a table, inside the <td> tag, the location of the dropdown content is not where it is expected.

## Expected Behavior
In previous releases, the dropdown content would drop down below the element.

## Current Behavior
In 1.0.0.-alpha.1, the dropdown content location is typically at a different location.  When simple drop downs are created, their lo

[2017-11-16 18:55] developeranirudhprabhu commented on #5299
Alternatively we should not react on the selected list item. I will see if this issue is reproducible in v1 Branch. If yes will fix it

[2017-11-16 18:58] developeranirudhprabhu commented on #5186
@acburst You think this enhancement is valid and can be taken up? If its ok I can try to work on it.

[2017-11-16 19:19] sigmatec commented on #5186
Also when `countSpaces: false` it should probably ignore any space-type characters, including line breaks if it was a textarea.

[2017-11-16 19:35] Dogfalo commented on #5186
This sounds like a reasonable addition, however, right now we're more focused on just getting the core of 1.0 out in a stable manner. Enhancements aren't priority right now and can be focused on later after the release.

[2017-11-16 19:58] BilalDja opened #5370 "datepicker doesn't work with ng-repeat"
Hi, I'm using materialize 0.98.2 with AngularJS 1.6.6
I have an array of objects that I need to set the date to every entry in it. I used ngRepeat on my page with input.datepicker materialize control. I expected to have for every entry a working datepicker. Instead I got a datepicker but doesn't popup! I initialized the datepicker with pickadate() function. I created a specific class for those fie

[2017-11-16 20:02] Dogfalo commented on #5370
This is a very old version, please check with the newest version and also please check other issues on how to use materialize with Angular.

[2017-11-16 20:02] #5370 closed

[2017-11-16 20:49] Sheffler09 opened #5371 "Documentation for autocomplete initialization is incorrect"
The documentation for autocomplete initialization references a carousel component for the non-jquery initialization:

![image](https://user-images.githubusercontent.com/15106853/32915019-2399c898-cadd-11e7-9021-f6491a01b7e4.png)

[2017-11-16 21:52] richardalain83 commented on #2187
@shehjart  if you use bootstrap accordion  or jquery ui accordion and the input is in a closed pane of the accordion, you might  get this error.

[2017-11-17 00:57] acburst commented on #5366
Fixed in 37a82c0f

[2017-11-17 00:57] #5366 closed

[2017-11-17 05:34] DanielRuf opened #5372 "still many jQuery references"
I found jQuery.timeago and other places where jQuery is still referenced. I guess it should be now Cash.

[2017-11-17 09:02] minia68 opened #5373 "Uncaught TypeError: Cannot read property 'toggleClass' of undefined, when set twelveHour: false on Timepicker"
When set twelveHour: false option on Timepicker get this error:
Uncaught TypeError: Cannot read property 'toggleClass' of undefined
    at Timepicker._updateAmPmView (materialize.js:9565)
    at Timepicker._updateTimeFromInput (materialize.js:9593)
    at Timepicker.open (materialize.js:9734)
    at Timepicker._handleInputClick (materialize.js:9331)

https://codepen.io/anon/pen/gXXGZV

[2017-11-17 10:34] Verbat opened #5374 "Textarea broken in new Firefox 57. Does not display the full characters."
If you check http://next.materializecss.com/text-inputs.html with the new Firefox 57 which was released recently you can see that text at the textarea is more then half ovelayed with a white area. It only shows the top part of the characters in a single line:
https://screenshots.firefox.com/HSyAzLkKw1KagoNs/next.materializecss.com

On mutliple lines (ie 3 Lines) its missing one of of it completely

[2017-11-17 19:58] cquinoneso commented on #180
same mistake

[2017-11-17 21:41] jacobq commented on #3361
@Dogfalo Are there currently any plans to support [`display: grid`](https://www.w3.org/TR/css3-grid-layout/) in future versions of materialize? I find it to be much more ergonomic than prior layout techniques, the standard seems to be stabilizing, and there appears to be [widespread support in browsers](https://caniuse.com/#search=grid).

[2017-11-17 23:05] Dogfalo commented on #3361
@jacobq yes, something like that will come after 1.0

[2017-11-18 09:45] Dean-kasail opened #5376 "Card Ratios 60 pic 40 text"
when using cards a lot of the time I'm using small images but larger text, and to keep all of the cards the small size I add the class small medium and large.

the restriction this has is it adds is a 60 / 40 split between pic and text and will cut off the text due to the overflow: hidden css

![image](https://user-images.githubusercontent.com/7496145/32978982-e6e0411e-cca0-11e7-83eb-5893dccc2aba.

[2017-11-18 10:02] Dean-kasail commented on #4218
it's due to this class, when you turn of the overflow hidden it is fixed

line 4740
[code]

[2017-11-18 11:33] Dean-kasail commented on #4218
Solution i have found is move the FAB to its own div .card-fab

Markup
---

[code]

CSS
---

[code]

because of the new div another rule needs to be amended, as the .card-content may not follow the .card-image

[code]

[2017-11-18 18:37] developeranirudhprabhu commented on #5257
@amovsisyan i have checked that this issue is not seen in v1. So with the new release this should work flawlessly

[2017-11-18 18:45] developeranirudhprabhu commented on #5209
@poltographer6 Can you provide a codepen for this? And also elaborate what exactly you are trying to achieve?

[2017-11-18 18:50] developeranirudhprabhu commented on #4923
Well i think the chips API has events:
http://materializecss.com/chips.html#events

Which support events for add, delete and select. @afabros is that what you were asking for?

[2017-11-18 19:17] DanielRuf commented on #4923
These are internal events. You still have to trigger them programmatically like he planned to do it.

[2017-11-18 21:59] domicode commented on #3631
how did you solve that @yuya-tani ?

[2017-11-19 05:46] developeranirudhprabhu commented on #5184
@bsulyan Can you share a codepen for this issue? Also elaborate what you are trying to achieve?

[2017-11-19 05:49] developeranirudhprabhu commented on #5303
@kiwo12345 Can you please share a codepen for same?

[2017-11-19 05:50] developeranirudhprabhu commented on #5369
@cionow777 Can you share a codepen for same?

[2017-11-19 06:15] AmitJoki opened #5379 "The input isn't being generated by M.Chips"
I just upgraded to 1.0 and `new M.Chips` wasn't working as expected. The error was that, `<input></input>` was not generated by Materialize as was the case < 1.0

I use jQuery 3.2.1 if that's of any use. I overcame this error by including the `<input></input>` in the snippet itself.

So instead of `<div class="chips chips-placeholder"></div>`, I had to write,
`<div class="chips chips-placeholder">

[2017-11-19 06:15] developeranirudhprabhu commented on #5086
I think it is reproducible. I tried the codepen provided. When i click on the autocomplete result shown. I see the result triggered twice. However when i use the keyboard its not reproducible. Attaching the screenshot for reference
![screen shot 2017-11-19 at 11 43 29 am](https://user-images.githubusercontent.com/10301434/32987940-1d4a20ca-cd1f-11e7-84ba-f93471b4aab3.png)

[2017-11-19 06:26] developeranirudhprabhu commented on #5279
@joshuadazar Can you elaborate your comment?

[2017-11-19 06:33] developeranirudhprabhu commented on #2360
@Messier82 / @ManuZiD Can you share codepen for same if you are still facing this bug?

[2017-11-19 08:46] bsulyan commented on #5184
https://codepen.io/Sunasty/pen/YEYLxG

I try to hide options

[2017-11-19 08:47] bprinsloo commented on #5275
Is this something that will be fixed in the foreseeable future with a proper release? This doesn't work at all as it stand with Meteor 1.6, and this include creating a brand new project. Did  anyone successfully fix the issue using the various comments from above? If so, is there steps on how to make this work?

[2017-11-19 10:03] SamWillson commented on #5343
The problem is that the class applied to the option is not being inherited to the List Item that is being generated.

[2017-11-19 10:09] SamWillson commented on #925
A temporary solution to all those with the same problem can be, to use a external script / plugin.
For Screen readers you can use the Accessibility API and scripting events for keyboard isn't really that hard. Along with jQuery you can attach the events to sideNav or any component in general. This can serve as a temporary solution until devs add some feature to library.

[2017-11-19 10:20] SamWillson commented on #652
The feature always existed. Hasn't anybody used cards every before?

Cards have no padding. That is they are optimized for use with other if not all components.

`
		<div class="card">
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
				</ul>
			</nav>
			<div class="card-content">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias laudantium dicta nihil reiciendis, facere at

[2017-11-19 10:21] SamWillson commented on #652
Also for some reason GitHub didnt beautify my HTML. So use this http://htmlformatter.com/ to see that wrote.

[2017-11-19 13:08] cionow777 commented on #5369
I didn't see a CDN for this alpha release.  So, wasn't sure how to add all css and js for materialize in codepen.  Don't use codepen much.  Is there a link on a CDN for the new alpha release?

[2017-11-19 14:01] cionow777 commented on #5369
I just discovered this fix:

https://github.com/Dogfalo/materialize/commit/01c206f1610f2ced00ec639cc0f4494429d5243a

And it appears to have resolved the issue.  I was using the initially released, unpatched version and didn't include any fixes made over the last few days.  For now, I think it is resolved.

[2017-11-19 17:47] Fylipp commented on #4822
@DanielRuf is this issue going to be addressed in the future? I created a [PR](https://github.com/Dogfalo/materialize/pull/5181) that solves the issue the way you proposed.

[2017-11-19 17:50] DanielRuf commented on #4822
The team will probably merge the PR.

[2017-11-19 18:03] tomscholz commented on #5372
@Dogfalo What about a `v1` label? Then you could differentiate between issues regrading v1 or other

[2017-11-19 18:28] Dogfalo commented on #5372
timeago is used just for the documentation website.

[2017-11-19 18:54] DanielRuf commented on #5372
I did not mean timeago but the components in general and their method signatures.

[2017-11-20 00:43] Lolincolc opened #5382 "[1.0.0-alpha.1] First element in dropdown always highlighted"
## Expected Behavior

Normally, items in a drop-down menu are only highlighted when the mouse is over.

## Current Behavior

Currently, in a dropdown menu, the first item in the list is constantly highlighted, even when the mouse is hovering other items in the list.
![Image of Yaktocat](https://i.gyazo.com/b60d572a240b13e4275656959e318d1a.gif)

## Steps to Reproduce (for bugs)

This bug can be see

[2017-11-20 04:17] developeranirudhprabhu commented on #5369
Ok then i believe this issue is resolved. @acburst I think you can close this issue since the fix for this already exist

[2017-11-20 04:18] #5369 closed

[2017-11-20 06:01] acburst commented on #5379
Fixed in 14ad8937.

The input is now generated correctly when not included.

[2017-11-20 06:01] #5379 closed

[2017-11-20 06:04] acburst commented on #5371
Fixed in e22cf505

[2017-11-20 06:04] #5371 closed

[2017-11-20 12:02] theberengersniper opened #5383 "Dropdown does not close by clicking outside on iPad"
## Expected Behavior
The dropdown menu should close when a click is detected outside the dropdown, on selection of a menu item or when a click is detected over the dropdown trigger.

## Current Behavior
The dropdown menu will only close on selection of a menu item or when a click is detected over the dropdown trigger. The menu will _not_ close on clicking outside.

* Defect appears to affect the i

[2017-11-20 16:51] BrunoPace96 opened #5384 "[1.0.0-alpha.1] Time Picker - time doesn't change"
Expected Behavior

When clicking on the clock the time next to the clock should change

Current Behavior

Time doesn't change
![timepickerbug](https://user-images.githubusercontent.com/24843627/33030248-01f840e8-ce02-11e7-9f73-cfe13296c621.gif)

Steps to Reproduce (for bugs)

This bug can be seen in the documentation on pickers:
http://next.materializecss.com/pickers.html

Your Environment

Versio

[2017-11-20 19:13] gg4u opened #5385 "SideNav not a function - Not compatible with jquery 3.2.1"
Hi , would like to contribute notify that:

1.0.0 alpha release likely not compatible with jquery (SideNav not a function error) instead solved here:
https://stackoverflow.com/a/46770554/305883

[2017-11-20 19:38] Dogfalo commented on #5385
I don't understand, the comment you linked is merely restating a snippet from our documentation site

[2017-11-20 19:38] #5385 closed

[2017-11-20 20:27] gg4u commented on #4086
I too use a custom template?

As example, I would like to use a list of cards instead of a collection, and include more elements than ID, text, and Image.

How could I do that?

Also, how to load from external URL ?
Is that autocomplete function a native of jquery or part of materialize extension ?

[2017-11-21 01:57] cjwchonjac opened #5386 "Unaligned checkbox's and text's baseline in dropdown"
## Expected Behavior
<img width="157" alt="2017-11-20 4 55 58" src="https://user-images.githubusercontent.com/10153090/33049959-c9c7a39a-cea5-11e7-84f5-9fb09e5cbd27.png">

Baseline of checkbox and text are aligned.

## Current Behavior
Baseline of checkbox and text are unaligned.

<img width="159" alt="2017-11-20 4 55 34" src="https://user-images.githubusercontent.com/10153090/33049965-ce7ed890-ce

[2017-11-21 02:10] RaghuMurugesan commented on #3441
Why is this issue closed? The issue appears legit

[2017-11-21 02:16] RaghuMurugesan commented on #3441
Do anyone have a fix for this?

[2017-11-21 02:47] Dogfalo commented on #5386
Are you seeing this issue on next.materializecss.com?

[2017-11-21 05:11] cjwchonjac commented on #5386
I closing this issue because it does not happening on next.materializecss.com.

[2017-11-21 05:11] #5386 closed

[2017-11-21 06:03] Dogfalo commented on #5343
This functionality has been removed. The select will no longer copy the class attribute on each <option> el to the <img> for the icon in the generated select.

[2017-11-21 06:03] #5343 closed

[2017-11-21 06:06] Dogfalo commented on #5363
Duplicate of #5352

[2017-11-21 06:06] #5363 closed

[2017-11-21 06:12] Dogfalo commented on #5384
This was due to an issue with the Translation library we were using. We temporarily disabled it for the alpha documentation.

[2017-11-21 06:12] #5384 closed

[2017-11-21 06:27] DanielRuf commented on #5352
`type="date"` should be used by default

[2017-11-21 06:34] Dogfalo commented on #5333
This happens whent he tabs are initialized when it is not visible, so the indicator can't be positioned correctly. There is now a function to call that updates the tab indicator position `updateTabIndicator()`. 67b147997f8657a538f25ca21ec48a151915a969

[2017-11-21 06:34] #5333 closed

[2017-11-21 07:24] afabros commented on #5379
I encountered this error as well. I tried to copy and paste the fix but something went wrong. Is it possible to have this change in the dist?

[2017-11-21 07:37] afabros commented on #4923
I'm not sure if the last request is already implemented in the new version. Haven't tried it yet though .There's still a bug on chips that's already fixed but not yet in the distribution.

Basically, the request needs to have the data in chips-initial same in chip data object. It can allow id.
so that it can be accessed in .selectChip(); Hopefully, chip can act the same as 'select' where we can se

[2017-11-21 08:52] huww98 commented on #5196
Inspired by https://www.brunildo.org/test/overscrollbackV.html, I have came up with a hick

[code]

[2017-11-21 09:08] huww98 commented on #5196
[this line](https://github.com/Dogfalo/materialize/blob/75e95790039e210694291a42615bb41791e864d9/sass/components/_sidenav.scss#L10) can also course problem when used with cssnano.

To demostrate this:
[code]

This code will be minified as `.side-nav{height:calc(100% + 60px);height:100%}`, which will cause `100%` to override `calc(100% + 60px)`. This will cause Chrome to show an extra 60px padding

[2017-11-21 09:36] cjwchonjac opened #5388 "initialization of `Range` component throws syntax error on safari."
## Expected Behavior
initialization of `Range` component successes on safari.

## Current Behavior
initialization of `Range` component failed on safari with error 'SyntaxError (DOM Exception 12): The string did not match the expected pattern.'

## Possible Solution
`document.querySelectAll('input[type=range')` causes this error on safari. In my opinion, using selector `input[type=range]` instead o

[2017-11-21 10:26] #5388 closed

[2017-11-21 12:46] ntidbury opened #5390 "Tooltip Issues [1.0.0-alpha1]"
## Expected Behavior
Tooltip behaviour like on the Materializecss.com site or previous versions.

## Current Behavior
Too much of an offset to initialised element, all directions affected. (like several hundred pixels)

## Possible Solution
I have no idea. Probably element falsely located in DOM.

## Steps to Reproduce (for bugs)
CodePen: https://codepen.io/anon/pen/RjMrqG

## Context
Tried by add

[2017-11-21 13:25] tomscholz opened #5391 "1.0 docs uses system UI font instead of Roboto."
## Expected Behavior

Docs should use Roboto
## Current Behavior

Docs use System UI font

This commit caused the change: https://github.com/Dogfalo/materialize/commit/27bd03288b38428726c8a03a4a6f8c1ffacd382e
## Your Environment

* Version used: Release: 1.0.0-alpha.1
* Browser Name and version: Chrome 62
* Operating System and version (desktop or mobile): Mac OS X 10.11
* Link to your project (if

[2017-11-21 15:49] Craicerjack commented on #3325
I have a similar issue where the row isnt going the full lenght of the header

code
[code]

![](https://imgur.com/a/SChA8)

[2017-11-21 16:29] justinxreese opened #5392 "Autocomplete documentation has wrong example"
## Expected Behavior

1.0 documentation needs a vanilla JS example of initializing autocomplete forms.

## Current Behavior

The [1.0 documentation for Autocomplete](http://next.materializecss.com/autocomplete.html) shows code for initializing Carousels in the plain JS example. jQuery example is fine.

<img width="603" alt="image" src="https://user-images.githubusercontent.com/150839/33084332-adef

[2017-11-21 21:55] joaofrassetto opened #5393 "Collapsible itens from side nav are with no padding."
When a collapsible item is opened showing its child items, in a side nav, the items have no padding to the right.

## Expected Behavior
This is the expected behavior, with padding : https://codepen.io/bobmarksie/pen/zZYgPe

## Current Behavior
Current behavior, with no padding: https://codepen.io/JoaoFrassetto/pen/qVooxo

## Context
The version of materialize is different. Is any version wrong?

[2017-11-21 22:35] acburst commented on #5393
You are using an older version. Try out our latest release

[2017-11-21 22:36] acburst commented on #5392
This has already been fixed in e22cf50, The documentation will be updated when we update the alpha

[2017-11-21 23:32] Dogfalo commented on #5391
The docs don't need to use Roboto. Having it like this also better reflects what the framework is going to be like out of the box.

[2017-11-21 23:32] #5391 closed

[2017-11-21 23:46] joaofrassetto commented on #5393
Yes, as I said, the two example uses different versions. Which one is correct? Padding or no padding?

[2017-11-22 00:05] DDews commented on #4193
Okay. I have serious problems using Materialize with my meteor project.
I can't seem to get this to work no matter what on my Windows 10 machine.

It was working before I updated meteor... now everything is broken.

I have tried to clone materialize and revert to v0.98.0, but this causes constraints issues with fourseven:scss.
` While selecting package versions:
   error: Conflict: Constraint four

[2017-11-22 00:11] justinxreese commented on #5392
👍 I'll close this since it's already in the pipeline.

[2017-11-22 00:11] #5392 closed

[2017-11-22 02:26] acburst commented on #5390
Hmm have you tried this locally? It might be a codepen issue for some reason. I can't reproduce this bug on my local version.

[2017-11-22 02:27] acburst commented on #5393
no padding

[2017-11-22 08:42] leDebutant opened #5394 "ReferenceError: Materialize is not defined version 1.0.0-alpha.1"
Hello Everyone,

I found the following error when trying to throw a toast message:

`<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>`
`<script src="/assets/vendor/materialize-css/dist/js/materialize.js"></script>`

Then later on the page I add the toast

`<script type="text/javascript">
            function myFunction(){
                Materialize.toast('I am a toast!', 4000);

[2017-11-22 09:19] ntidbury commented on #5390
I'll try it locally, but on my development server I have the same issue.

[2017-11-22 09:29] quienti commented on #5343
So, maybe you should delete that from the doc?

[2017-11-22 09:31] leDebutant commented on #5394
I have to pay more attention.

The documentation is confusing. I had to go to this page to implement the alpha 1 version

http://next.materializecss.com/

[2017-11-22 09:31] #5394 closed

[2017-11-22 11:37] pravan commented on #3261
Thank you @gunjan008. Removing the input-field class from the parent div works. This happened to me for both radio buttons and select tag.

[2017-11-22 16:20] buniekwawa opened #5395 "checbox not working on boostrap modal"
checkbox on page is working
however the same code on boostrap modal is not working, click event make nothing.

[2017-11-22 16:26] devpolish commented on #3106
Cool

[2017-11-23 00:48] acburst commented on #5395
We don't support mixing of multiple CSS frameworks. We have no control over how bootstrap's modal works

[2017-11-23 00:49] guilpejon opened #5396 "[1.0.0.alpha1] Side nav doesn't work with turbolinks 5"
I discovered this issue when I was trying to upgrade to materialize 1.0.0.alpha1, and I managed to create a sample app showing the issue.

You can find the sample app right [here](https://github.com/guilpejon/materialize_turbolinks_issue)

To reproduce the error with the sample app do the following:
1. Download the code and run `rails s`
2. Click the menu icon on the left of the navbar to open the

[2017-11-23 01:30] Dogfalo commented on #5396
Most likely this is the issue you are facing:
https://stackoverflow.com/questions/18769109/rails-4-turbo-link-prevents-jquery-scripts-from-working

On Wed, Nov 22, 2017 at 4:50 PM, Guilherme Pejon <notifications@github.com>
wrote:

--
Doggy sends his greetings from Mars.

[2017-11-23 01:45] guilpejon commented on #5396
I think it's probably related to that, but I had the same setup with the older version of materialize and the sidenav worked just fine alongside Turbolinks (it's even in production), so that's why I think it's an issue with the newer version.

[2017-11-23 02:05] Dogfalo commented on #5396
Why does your page refresh when you click the icon? That shouldn't be happening

[2017-11-23 02:30] guilpejon commented on #5396
I'm using the [materialize-sass](https://github.com/mkhairi/materialize-sass) gem to add Materialize to my project, and here is the code to initialize the sidenav with Turbolinks:

[code]

My guess is that after I open the sidenav and click in one of its links to close it, I somehow lose the link between the sidenav and my anchor tag, so if I click the menu icon to open it again, the page tries to

[2017-11-23 02:43] Dogfalo commented on #5396
try adding prevent default to the icon

[2017-11-23 03:14] guilpejon commented on #5396
It stops the page refreshing, but it doesn't open the sidenav again.

[2017-11-23 03:17] Dogfalo commented on #5396
you should probably init on `page:change` but either way I don't think this is a bug in Materialize.

[2017-11-23 03:17] #5396 closed

[2017-11-23 04:40] mkhairi commented on #5396
seem like instance still alive when turbolinks:load page.
it works if we destroy the existing instance using turbolinks:before-visit.

[code]

[2017-11-23 05:14] DanielRuf opened #5397 "jquery reference in Sidenav.getInstance"
[code]

[2017-11-23 05:20] madhmeht commented on #4413
The css fix causes another problem. After selecting an option from keyboard, the field stays blank. After clicking somehwere else, the value appears.

[2017-11-23 05:23] DanielRuf commented on #4413
@madhmeht please provide a coden which shows this issue.

[2017-11-23 05:26] DanielRuf commented on #5397
Generally it is in all `getInstance` occurrences. Shoudln't we fully drop support for jQuery or is this meant as migration helper?

[2017-11-23 05:32] DanielRuf commented on #5397
Imo we should cath undefined `el`s and throw a meaningful error or exception.

This should also prevent many issues/tickets from the start.

[2017-11-23 06:27] madhmeht commented on #4413
@DanielRuf here is the codepen link https://codepen.io/anon/pen/KyRRJy

[2017-11-23 07:49] Dahkon commented on #4086
Ajax suggestions would be a great enhancement. I have too much values on a field that I can't load the autocomplete.

Using a label is really not enough, we have at least to deal with a value associated with the label, just like a select element would do.
For exemple : { value : '', label : '' }
Or with picture  : { value : '', label : '', image : '' }

Same datas format would be nice too between

[2017-11-23 08:38] afabros opened #5398 "Second entry on chip is not getting through."
<img width="374" alt="screen shot 2017-11-23 at 17 37 12" src="https://user-images.githubusercontent.com/805713/33164208-2ac56210-d075-11e7-881d-1304f2645f46.png">
you can test at http://next.materializecss.com/chips.html

[2017-11-23 08:54] xsama commented on #5346
@matugm  I thank you too  XD

[2017-11-23 09:36] Dogfalo commented on #5398
Chips have to be unique, so if you are entering the same thing twice it will only make one chip

[2017-11-23 09:39] afabros commented on #5398
oh... makes sense^^ thank you!!!

[2017-11-23 09:39] #5398 closed

[2017-11-23 11:06] adrenalinkin opened #5399 "FAB: allow open\hide animation for the plain "btn""
## Proposed changes
In case when I want to work with customized FAB Menu where all buttons does not have "btn-floating", then open/hide animation does not reached. So, by proposed [Pull Request](https://github.com/Dogfalo/materialize/pull/5341) open/hide animation will by reached also

## Screenshots:
### Before:
![before](https://user-images.githubusercontent.com/4967813/32654045-efa9e57a-c61a-11

[2017-11-23 11:17] khushbuthakur commented on #1092
I have got very simple solution i.e.

 **# $('.slider').slider({
         "height": $(window).height()
     });**
Remove fullscreen class from slider and write the above code in js.
This makes slider fullscreen and doesn't even hides content after slider. :)

[2017-11-23 12:44] henriqueneves commented on #5184
Materialize hides your Select and create a new structure. Why do not you remove the items before executing the inicialization?

//Remove itens
 $('select').material_select();

[2017-11-23 17:24] Lightning3105 opened #5400 "Console error messages when using datepicker"
I am using materialize 1.0.0 alpha v1 on chrome 63 beta (but this happens in firefox as well). When using the datepicker, I am getting this error in the console everytime I click on a date in the datepicker:
`Uncaught TypeError: Cannot read property 'parentNode' of null
    at HTMLBodyElement.callback (materialize.js:599)`

[Here](https://jsfiddle.net/f3n1ckLf/) is a JSFiddle showing this happenin

[2017-11-23 17:45] Lightning3105 commented on #5400
Oops, just realised that this issue had already been posted and fixed in #5352, closing.

[2017-11-23 17:45] #5400 closed

[2017-11-24 10:10] andyrichardson opened #5402 "Global declaration 'M' not supported by Typescript"
Typescript doesn't seem to support global declarations of variables with a single capital letter.

##  Reproduction
Declare the materialize variable in your typescript file as follows

    declare const M: any;

## Expected result
Linters and editors see declaration as valid.

## Actual result
Linters and editors see declaration as invalid.

**Linter error**

    Cannot find namespace 'M'.

**Impo

[2017-11-24 10:52] ntidbury commented on #5390
Ok, after trying it out locally I came to the realisation that the problem lies not within tooltip itself, but in the combination of tooltips and the floating action buttons.

[2017-11-24 11:26] catscarlet opened #5403 "Where did the `white-space: nowrap;` of `nav .brand-logo` go?"
Hi guys.

I just update from v0.97.5 to v0.100.2.

I know a lot things changed such as modal.

I wonder why `nav .brand-logo` doesn't has the attribute `white-space: nowrap;`. It makes me very confused, and I didn't find any issues about that.

My site before update:

![snap1021](https://user-images.githubusercontent.com/10594035/33208590-1b975e46-d14d-11e7-9afa-df1ac63c8cfa.png)

After update:
![

[2017-11-24 13:50] obama commented on #5352
why cant you input with keyboard like in the firefox `type="date"` input?
there is dis oddity that the input field is still focused after opening the datepicker and you can type and than a click on the datepicker will update it to the inputed date. but it would be better if the UI of the datepicker would respond directly

[2017-11-24 18:53] multiwebinc commented on #5352
@obama As you'll notice from @Dogfalo's comment above:

[2017-11-24 19:23] Dogfalo commented on #5352
Fixed select issue in datepicker where years and months did not update 309e932e89ca40140a6badf23809a1960bcc391e

[2017-11-24 19:23] #5352 closed

[2017-11-24 19:54] jmarto commented on #5390
I have had a similar issue adding tooltips to any content inside a table. The tooltip gets displayed outside the table content.

[2017-11-24 19:58] Dogfalo commented on #5403
It was causing a bug in Firefox so we removed it.

[2017-11-24 19:58] #5403 closed

[2017-11-24 20:43] Dogfalo commented on #5402
We don't use typescript.

[2017-11-24 20:50] andyrichardson commented on #5402
No interest in supporting it?

Most Angular projects will be using typescript.

[2017-11-24 20:53] Dogfalo commented on #5402
Is this something that we fix in the library or something that can only be fixed in the client code?

[2017-11-24 23:02] Queatz commented on #5374
I got around this for now by using `box-sizing: initial;` on the `textarea`.

[2017-11-24 23:31] Queatz commented on #5390
I'm seeing tooltips not aligning properly in `1.0.0-alpha.1` when on icons and FABs.

[2017-11-24 23:59] acburst commented on #5390
Can you guys post some code examples reproducing these?

[2017-11-25 00:01] #5395 closed

[2017-11-25 00:12] Queatz commented on #5390
I'm using Angular 5 for this project.  Same with Materialize `100.x` which worked.  The attr bindings work fine (we can see that the text in the tooltip is correct.)

![screenshot from 2017-11-24 18-04-26](https://user-images.githubusercontent.com/540620/33225710-adc05e5e-d142-11e7-98e2-e91833e4258d.png)
_Mouse is hovered over the FAB_

Here's my raw code:
[code]

![screenshot from 2017-11-24 18-0

[2017-11-25 01:26] fermmm commented on #2662
any news on this?

[2017-11-25 02:20] guilpejon commented on #5396
Thank you @mkhairi, that works!

[2017-11-25 02:22] EMembrillas commented on #5382
Yes, this is a problem. If we want to use the dropdown to create a submenu element this is a nuisance.

[2017-11-25 06:17] Dogfalo commented on #2662
Yes, fonts have been removed in 1.0 alpha

[2017-11-25 07:50] beigiz commented on #4070
same issue here :(

[2017-11-25 14:04] tarekadam commented on #3388
I just re-did my template with the pure css that was recommended by the opener of this thread, @jymbob -  It's really good.

[2017-11-25 14:24] amovsisyan commented on #5257
hi @developeranirudhprabhu
thanks for update , will check woon and let you know

[2017-11-25 17:35] AmitJoki opened #5404 "onChipDelete function doesn't pass the deleted chip to the callback"
The onChipDelete function has a typo when it calls the callback.

How it is:
[code]

Proposed solution:

[code]

`onChipSelect` also has the typo that it passes `this.$chip` when it should be passing just `$chip`

[2017-11-25 18:58] #5257 closed

[2017-11-25 19:51] Antonyselt commented on #5402
I'm triying to make M works with Typescript. But neither jquery functions works with typescript

[2017-11-25 19:53] Antonyselt opened #5406 "Npm libraries are not update"
## Expected Behavior
Installing the lastest update from materialize

## Current Behavior
Version installed 100.2

[2017-11-25 19:54] Dogfalo commented on #5406
materialize-css@next is the alpha version.

[2017-11-25 19:54] #5406 closed

[2017-11-25 19:55] Dogfalo commented on #5397
Although we've dropped it as a dependency, a lot of people still use it, so this is meant to make use with jquery easier.

[2017-11-25 19:55] #5397 closed

[2017-11-25 20:08] Antonyselt commented on #5406
Then you should update the documents

[2017-11-26 00:25] Dogfalo commented on #5406
Updated it here: 52db4b9d50e8e837fc6e1f281f4f699cdf19d159

[2017-11-26 16:32] merkuriy commented on #2637
This is an actual problem

[2017-11-26 17:00] bendavis78 opened #5407 "1.0 Tabs documentation has incorrect initialization"
The 1.0 documentation shows the following for initialization:

      var instance = new M.Tabs(options);

Looking at the `M.Tabs` constructor, it takes two arguments. It should be:

      var instance = new M.Tabs(el, options);

[2017-11-26 17:02] Oyshoboy commented on #4193
Hello everyone, I guess same problem. Trying to install Materialize on meteor.
First installed fourseven 4.5.4 : `meteor add fourseven:scss`
And then trying to install Materialize : `meteor add materialize:materialize`

Here is the error log:
`0 info it worked if it ends with ok
1 verbose cli [ '/home/adman/.meteor/packages/meteor-tool/.1.6.0.1uiio7e++os.linux.x86_64+web.browser+web.cordova/mt-os.

[2017-11-26 17:18] Buchx commented on #5382
I concur, its frustrating.

[2017-11-26 18:42] obama commented on #5246
not sure if its the same bug but
`<div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                    <textarea class="materialize-textarea"></textarea>
                                    <label>JSON</label>
                            </div>

[2017-11-26 21:10] 1903Daniel opened #5408 "input-field loses left alignment when width is applied and form is child-element of <center> tag"
## Description

This is a follow-up to #4182.
Placing an HTML form with input-field within an HTML `<center>` or a `<div>` and setting a fixed CSS width on the input-field (e.g. because I want to mimick the behavior of the HTML5 `size` attribute, which materialize doesn't support) results in the input-field being aligned at the center in materialize version 0.100.2.

## Expected Behavior
The input

[2017-11-26 21:12] Dogfalo commented on #5407
Fixed in 19cfa8d

[2017-11-26 21:12] #5407 closed

[2017-11-27 00:39] Boboss74 commented on #2637
I worked a little on it few months ago.
I got no more time now, maybe it could be helpful

[2017-11-27 00:47] schwindy commented on #305
FYI to anyone seeing this, just dealt with this exact error. It was caused by a version mismatch between the original implementation and the new version I was trying to include (1.5.0).

1.2.2 works fine by including:
https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js
https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js

Including these files solved my issue,

[2017-11-27 10:54] andyrichardson commented on #5402
@Dogfalo I suspect the way to fix this would be to use any global naming scheme that isn't a single capital letter (such as `Mat`, `Materialize` etc.).

This would also reduce the likelihood of conflicts with other packages.

[2017-11-27 16:31] huww98 commented on #5402
I have successfully added typescript support for M.

`typings/materialize-css/index.d.ts` (not completed):
[code]

Then add the following things to your `tsconfig.json`:
[code]

Now you should able to use `M` in any way you like. e.g. as a global variable, or `import * as M from 'materialize-css'`

[2017-11-27 17:46] pavlito opened #5409 "Select checkboxes - How to change checkbox style type?"
Hi,

How to change checkboxes style from "indeterminate-checkbox" to "filled-in" checkbox type in select dropdown?

[2017-11-27 22:35] #5393 closed

[2017-11-28 01:11] damogongzi opened #5410 "TypeError: Cannot read property '-1' of undefined"
this.deleteChip = function (chipIndex, $chips) {                                                                   // 5753
      var chip = $chips.data('chips')[chipIndex];                                                                      // 5754
      $chips.find('.chip').eq(chipIndex).remove();                                                                     // 5755

[2017-11-28 01:12] damogongzi commented on #5410
$chips.data('chips') return undefined.

[2017-11-28 09:52] mangakid opened #5413 "Error in Safari v1 SyntaxError (DOM Exception 12): The string did not match the expected pattern. Cash"
When I require 'materialize-css/dist/js/materialize.js' (1.0.0-alpha.1)
In safari (11.0.1 ) when the app initialises I get the error: SyntaxError (DOM Exception 12): The string did not match the expected pattern.

This seems to be caused by the cash library.
at context.querySelectorAll in the find function.

I'm using webpack@3.5.4

[2017-11-28 10:14] AleF83 commented on #5373
I'll try to solve it

[2017-11-28 11:09] brunoneumann commented on #4380
Same issue here. I can't use swipeable (v0.100.2) with simple text inputs on a cordova app.

[2017-11-28 16:31] matthewmario10 opened #5415 "Using Swipeable Tab Materialize - Release: 1.0.0-alpha.1"
version of materialize alpha -> branch -> 'v1-dev' (as of 27/11/2017)

# Code
var options = {
     responsiveThreshold: 100,
     swipeable: true,
};
var elem = document.querySelector('.tabs');
var instance = new M.Tabs(elem, options);

# Error
Uncaught ReferenceError: options is not defined

<img width="672" alt="responsivetaberror" src="https://user-images.githubusercontent.com/34055065/33331078

[2017-11-28 19:47] nbkhope commented on #1155
@Dogfalo how do you get the label to use `className="active"` if the input is focused? And we need to remove that after it is blurred.

[2017-11-28 19:57] #4797 closed

[2017-11-28 19:57] #5023 closed

[2017-11-28 23:43] acburst commented on #5410
It looks like you are on an older version

[2017-11-28 23:44] acburst commented on #5404
Fixed in 67b318d92acde3386275f811ad85d0fb8a2365d9

[2017-11-28 23:44] #5404 closed

[2017-11-29 00:25] queenvictoria commented on #5074
I also have this error. However I'm compiling with rollup and others and my import statement looks like this.
[code]

No amount of `window.$ = $` or `window.$ = jQuery` or similar approaches seem to fix the issue. Do we know what the underlying cause is? PS I can solve it by editing `materialize.js` and changing the two instances of `Vel(newToast, {...` to `$(newToast).velocity(...`

[2017-11-29 00:27] Dogfalo commented on #5074
@queenvictoria What version are you using?

[2017-11-29 00:53] queenvictoria commented on #5074
My bower says ^0.97.8 but I'll check when I'm back at my desk.

[2017-11-29 01:09] coolreader18 opened #5416 "<a> elements inside of carousel items don't work properly"
[Codepen](https://codepen.io/anon/pen/gXBXOP/)
As you can see, they cause the entire element to bug outside of the carousel and get stuck behind it, taking the size properties of the window and not working in general, card images don't show up, some other things I'd assume. This disallows card actions in carousels, as well as many other things, I'd assume.

[2017-11-29 02:12] sharebooks commented on #5410
I am using 0.100.2 which is the latest version?

It does not happen all the time, it only happens after I submit the form, but the form was processed by jquery validator.

[2017-11-29 04:03] queenvictoria commented on #5074
Ok yes it was that version. I've upgraded to `0.100.2`. I still get the same error. The toast appears but doesn't animate in nor does it dismiss after the timeout. And I get the error on instantiation, on the timed dismissal, and at the manual dismissal.

[code]

[2017-11-29 06:02] darylteo commented on #5382
This goes into my materialize-css-hacks.scss.

[code]

Enjoy.

[2017-11-29 06:35] Gurofo commented on #4380
@rmard solution works for me!

[2017-11-29 10:19] pavlito opened #5421 "Dropdown below origin options not working"
Can someone confirm that beloworigin option is working on materialize 1.0 alpha?

[2017-11-29 10:20] Dogfalo commented on #5421
Do you have an example of it not working?

[2017-11-29 10:22] Dogfalo commented on #5421
In the various test examples we have here: http://next.materializecss.com/test/html/dropdown.html

It seems to be working.

[2017-11-29 10:28] pavlito commented on #5421
@Dogfalo thanks on help.
Works now.

belowOrigin option is the name before 1.0 version.
Now it is coverTrigger.

Did not saw that.

[2017-11-29 10:28] #5421 closed

[2017-11-29 13:55] DeehSlash opened #5422 "Dropdown constrainWidth option only works with hover enabled"
I'm using a dropdown which has an icon and some text at the right-side of the screen, but it is breaking the line between the icon and the text. Tried setting "constrainWidth" as true but it doesn't work, but I realized that if I set "hover" as true, then "constrainWidth" starts to work, see CodePen:

https://codepen.io/DeehSlash/pen/POyrzz

[2017-11-29 15:00] emzyme20 opened #5423 "Tooltips placed top within input-field display issues at 90%"
I have tried to use materialize tooltips within a form that uses the input-field styling. When the tooltips are set to be placed above the field and the browser (Chrome) is set to 90%, the tooltips outerheight() is not being calculated correctly and the text is not fully visible.

If you set the tooltip placement to bottom, this issue does not occur. This works fine in Firefox.

## Expected Behavi

[2017-11-29 17:56] akemd commented on #763
Checkboxes don't work (they display, but you can't check or uncheck them) if they are contained within something with class input-field. Even if the checkboxes are in a table, if the table is in a div with class input-field they won't work. Took me a bit of head scratching to figure this out so maybe it will help someone else.

[2017-11-29 19:50] hanschrome commented on #399
I've solved it by saving all on a variable and calling it on each ngOnInit() {
Modify your .js file adding at the beggining:
`var materialInit = function () {';

And at the end...
`}; materialInit();`

And you can call materialInit(); each time you need. It's so quickly, even i don't notice it.

[2017-11-29 19:58] Magiczne opened #5424 "[1.0.0-alpha1] Passing swipeable to tabs options causes plugin crash"
## Current Behavior
If we pass options object with swipeable option, tabs crash.

## Possible Solution
Line 252 in tabs.js
`if (window.innerWidth > options.responsiveThreshold) {`
probably should be
`if (window.innerWidth > this.options.responsiveThreshold) {`

## Steps to Reproduce (for bugs)
CodePen: [https://codepen.io/anon/pen/POxGZO](https://codepen.io/anon/pen/POxGZO)

## Your Environment

*

[2017-11-29 20:39] Magiczne opened #5425 "[1.0.0-alpha1] Setting twelveHour option to false timepicker crashes"
## Current Behavior
If we set twelveHour option to false timepicker crashes.

Console says _Cannot read property 'toggleClass' of undefined_

## Steps to Reproduce (for bugs)

CodePen: [https://codepen.io/anon/pen/mqQrgK](https://codepen.io/anon/pen/mqQrgK)

## Your Environment

* Version used: 1.0.0 alpha
* Browser Name and version: Chrome 62.0.3202.94
* Operating System and version (desktop or m

[2017-11-29 23:26] firelizzard18 opened #5426 "Bug"
On the `v1-dev` branch, in [js/tabs.js on line 252](https://github.com/Dogfalo/materialize/blob/48a4eafd9d7164795e5a822946cc6a09bd33fc60/js/tabs.js#L252), there's a bug, as `options` is not a variable:

[code]

It seems the convention is to assign `options` to `this.options` of the (tabs) instance, the solution would be to use `this.options` instead. Otherwise, `options` needs to be passed as a pa

[2017-11-29 23:32] acburst commented on #5424
You are absolutely right. Thanks for catching this. Fixed in 7bb0b612.

Oddly enough, this does not error when using the jQuery wrapper to initialize which is why I never noticed.

[2017-11-29 23:32] #5424 closed

[2017-11-29 23:33] acburst commented on #5426
Duplicate of #5424

[2017-11-29 23:33] #5426 closed

[2017-11-29 23:45] acburst commented on #5416
This is because you are nesting block level elements inside an anchor tag which is an inline element. If you inspect element you can see that the browser moves your div outside the anchor tag which is whats causing these issues.

[2017-11-29 23:48] Dogfalo commented on #5402
I believe @huww98 has the correct solution for integrating Materialize with Typescript.

[2017-11-29 23:48] #5402 closed

[2017-11-30 00:43] Dogfalo commented on #5425
Fixed in 10df5e3

[2017-11-30 00:43] #5425 closed

[2017-11-30 00:51] Dogfalo commented on #5422
This has already been fixed in 1.0.0-alpha.1

[2017-11-30 00:51] #5422 closed

[2017-11-30 00:55] Dogfalo commented on #5372
We have methods that make it easier for people who still want to use jQuery

[2017-11-30 00:55] #5372 closed

[2017-11-30 02:56] firelizzard18 commented on #5424
It does error when using the jQuery wrapper, as that's how I was using it when I reported #5426. My setup might be different - I'm using JSPM which is pulling from NPM.

[2017-11-30 04:16] joshuaadickerson opened #5427 "Date Picker doesn't work with type="date""
## Expected Behavior
When you use `<input type="date" class="datepicker">` it should render the same as `type="text"` so browsers will gracefully degrade if there's an issue with the datepicker JS

## Current Behavior
A placeholder is generated (mm/dd/yyyy) which overlaps the label

## Possible Solution

## Steps to Reproduce (for bugs)

1. `<input type="date" class="datepicker">`
2. `$('.datepick

[2017-11-30 04:18] joshuaadickerson commented on #2664
Do pull requests not get merged?

[2017-11-30 04:31] Dogfalo commented on #2664
They do,  but if it's not immediately mergeable with no issues then we are a lot slower on it.

We look at almost all PR's and issue reports as they open even if there are no comments on it.

In this case, there are layout issues with the PR and I'm also not fond of the style in which the information is presented. Explaining how we want this documentation to look is not very easy. And if my explan

[2017-11-30 05:22] Dogfalo commented on #5427
As stated in previously closed issues, this is something that we could look into later, but is not a big concern to us currently.
If you want native date selection, use the date type with no JavaScript, or if you want the material picker use the text type. This is how most datepicker plugins I've seen on the internet work.

[2017-11-30 05:22] #5427 closed

[2017-11-30 07:18] mishingo commented on #5413
same issue here

[2017-11-30 08:10] #5373 closed

[2017-11-30 14:54] coolreader18 commented on #5416
OHH okay. I was under the impression that carousel items had to be <a> elements. Thanks.

[2017-11-30 14:54] #5416 closed

[2017-11-30 17:22] 9too commented on #5390
I experienced the same problem when upgrading to aplha.
Here's a codepen comparison : [0.100.2](https://codepen.io/anon/pen/jaXNaP) vs [1.0.0-aplha.1](https://codepen.io/anon/pen/jaXNwE)

The behavior is the same whether jQuery is used or not in alpha.
Interesting fact in the alpha, switching the body CSS from padding to margin breaks the button tooltip as well, whereas this doesn't affect 0.100.2

[2017-11-30 17:51] ay8yt opened #5428 "加载的时候报错，应该下载哪个版本？"
**materialize.js:1413 Uncaught ReferenceError: Velocity is not defined
    at** materialize.js:1413

[2017-11-30 19:14] DanielRuf opened #5429 "cash looks dead"
Cash like Slick slider looks dead and unmaintained.

https://github.com/kenwheeler/cash/tree/master/dist

There are also bugs with IE11.

[2017-11-30 19:24] DanielRuf commented on #5429
I would recommend https://github.com/franciscop/umbrella if we want to avoid all the bugs in cash without creating and maintaining our own fork.

[2017-11-30 21:10] SeanVowles opened #5430 "constrainWidth false forces dropdown to have narrow ul"
If a dropdown has constrainedWidth set to false, the object does not span the width of the content it contains.

## Expected Behavior

If a user doesn't want to constrain the width of an object it's typically because we want the object to span with the content it contains.

## Steps to Reproduce (for bugs)

<img width="170" alt="screen shot 2017-11-30 at 20 59 13" src="https://user-images.githubus

[2017-11-30 21:15] Dogfalo commented on #5428
Your issue does not have enough information, and we have also removed Velocity in a recent commit

[2017-11-30 21:15] #5428 closed

[2017-11-30 21:19] acburst commented on #5413
This has been fixed on the latest version. We will be releasing a new alpha version today.

[2017-11-30 21:19] #5413 closed

[2017-11-30 21:21] Dogfalo commented on #5429
We can just fix the issues we encounter in cash

[2017-11-30 21:21] #5429 closed

[2017-11-30 21:21] acburst commented on #5382
Fixed in 2084239b0d6c247ce01a65997cf449f6b5a0cbc7

[2017-11-30 21:21] #5382 closed

[2017-11-30 21:21] #5365 closed

[2017-11-30 21:52] Dogfalo commented on #5346
This is already the case in the newest templates

[2017-11-30 21:52] #5346 closed

[2017-11-30 21:59] DanielRuf commented on #5429
For example https://github.com/kenwheeler/cash/pull/157

[2017-11-30 22:00] DanielRuf commented on #5429
In the Gitter chatroom there was at least one report abput this which breaks it in IE11.

[2017-11-30 22:13] acburst commented on #5374
Fixed in 08780250.

[2017-11-30 22:13] #5374 closed

[2017-11-30 22:15] Dogfalo commented on #5364
Fixed in eb41f700

[2017-11-30 22:15] #5364 closed

[2017-12-01 02:05] juvyc opened #5431 "Cannot read property 'open' of undefined"
Got this issue on meteor 1.6, javascript functionality is not working.

Uncaught TypeError: Cannot read property 'open' of undefined
    at HTMLDivElement.<anonymous> (materialize_materialize.js?hash=e69bc7be2cfa7671c49705c6482043784d010064:2263)
    at Function.each (modules.js?hash=cb480c406c68fa9497495a2ced5e980766cdb4b2:4366)
    at jQuery.fn.init.each (modules.js?hash=cb480c406c68fa9497495a2c

[2017-12-01 09:55] mangakid opened #5432 "Uncaught ReferenceError: anime is not defined 1.0.0-alpha.2"
In 1.0.0-alpha.2

`(cash, anime);
;(function ($, anim) {
  'use strict';`

* Chrome, Firefox and Safari on Mac

[2017-12-01 10:00] Dogfalo commented on #5432
Please fill out the issue template, the information you provided is not very helpful

[2017-12-01 10:12] mangakid commented on #5432
## Expected Behavior
App should initialise and not crash

## Current Behavior
App crashes on initialisation with the above message in console.

## Possible Solution
Perhaps anime is not defined, the import might be broken, the wrong version used?
In materialize-css/js/ there is the file: anime.min.js
Perhaps it needs to be: anime.js

## Steps to Reproduce (for bugs)
It happens when:
require('mater

[2017-12-01 10:14] ramintagizade commented on #3050
But what to do with the behavior of select closing window every time it updates .

[2017-12-01 10:23] Dogfalo commented on #5432
What build system?

[2017-12-01 10:29] mangakid commented on #5432
We're installing with npm@5.3.0
And using webpack : 3.5.4
webpack-dev-server : 2.7.1

I hope that helps. Thanks for looking into it.

[2017-12-01 10:40] ramintagizade opened #5433 "Update select options dynamically closes select window ."
How to achieve select options to update without closing the window , so for example , to achieve infinite scrolling , it should be open and  after scroll down , it should update new data below without closing the select window ?

[2017-12-01 10:42] ramintagizade commented on #5433
$('selec').material_select() . closes the window when new data is available .

[2017-12-01 11:16] ramintagizade commented on #1469
It actually closes the opened select window when adding new data .

[2017-12-01 13:01] ansgarS commented on #5432
Solved this issue for now by using a cdn:
`<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>`

[2017-12-01 14:09] bmla commented on #5352
Why not implement the d format? (http://amsul.ca/pickadate.js/date/#formatting-rules)

[2017-12-01 14:45] bmla commented on #5352
Why not implement the d and m format? (http://amsul.ca/pickadate.js/date/#formatting-rules)
Currently dd and mm function as d and m respectively. This only leads to confusion :)

https://en.wikipedia.org/wiki/Date_format_by_country

d: function () {
return _this39.date.getDate();
},
dd: function () {
return ("0" + _this39.date.getDate()).slice(-2);
},
...
m: function () {
return _this39.date.getMo

[2017-12-01 15:34] Magiczne commented on #5432
It happens when you import parts of materialize by yourself, for example like that:

`import 'materialize-css/js/cash'`
`import 'materialize-css/js/anime.min'`
`// import 'animejs'`
`import 'materialize-css/js/global'`
`// import 'materialize-css/js/autocomplete'`

then I get the
`Uncaught ReferenceError: anime is not defined` in the last line of the buttons.js file

[2017-12-01 16:22] St3ph-fr commented on #3261
thanks @gunjan008 removing class of parent div works like a charm.

[2017-12-01 16:34] sank3 commented on #5429
This is also breaking the [Materialize site](http://next.materializecss.com/modals.html) in IE11 and Edge browsers.

[2017-12-01 16:42] gerhat opened #5435 "[1.0.0-alpha.2] Select caret inside card-panel is not being displayed"
In version **1.0.0-alpha.2** the select caret svg is not being displayed when the select element is inside a card panel.

Codepen demonstrating the issue:
https://codepen.io/anon/pen/KybJZK

Problem appears at least in:
- Google Chrome 62.0.3202.94
- Firefox 57.0.1
- Safari 11.0.1 (13604.3.5)